<div class="modal-dialog">
  <section class="modal-content">
    <header class="modal-header">
      <h3 class="modal-title">{{i18n 'timeout.title'}}</h3>
    </header>
    <section class="modal-body util-clearfix">
      <i class="timeout util-pull-left"></i>

      <div class="message-text util-pull-right">{{i18n 'timeout.contents'}}</div>
    </section>
    <footer class="modal-footer">
      <button type="button" class="button primary">{{i18n 'timeout.buttonText'}}</button>
    </footer>
  </section>
</div>
