<div  ng-class="{ in: isOpen(), fade: isAnimation()}" class="tooltip {{::position}}" ng-style="{top: toolTipTop, left:toolTipLeft}" 
style="display:block">
	<div class="tooltiparrow" ng-style="{'top': arrowTop, 'left':arrowLeft}"></div>
	<div class="tooltip-contents">
		<div ng-if="!useCustomContent()">
			<i ng-if="trigger === 'click'" class="luna-close icon-states util-clickable pull-right" ng-click="toggle()"></i>
			<h3 ng-if="hasHeader()" class="tool-tip-header">{{::header}}</h3>
			<div class="tooltip-middle-content">{{::tooltipContent}}</div>  
			<div ng-if="hasLink()" class="tooltip-link-content"><a href="{{::linkUrl}}">{{::linkText}}</a></div>  
			<div ng-if="hasButton()" class="tooltip-button-content"><button ng-click="buttonFunction()">{{::buttonText}}</button></div>  
		</div>
		<div ng-if="useCustomContent()" ng-bind-html="::customContent"></div>
	</div>
</div>