
.akam-pagination {
  display: table;
  width: 100%;

  height: $pagination-height;
  line-height: $pagination-height;
  border: solid 1px $pagination-border-color;
  text-align: center;
  padding: 0;
  padding-left: $pagination-gutter;
  box-sizing: border-box;
  font-size: $pagination-item-font-size;
  background-image: linear-gradient($pagination-gradient-top, $pagination-gradient-bottom);
  

  & > * {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    vertical-align: top;
  }

  .page-size {
    & .pagination {
      margin-left: 10px;
    }
  }

  .pagination {
    width: auto;
    border-radius: 0;
    border: 0 none;
    display: inline-block;
    background: none;
  }

  > .pagination {
    > li.disabled:first-child,
    > li.disabled:last-child {

      > a,
      > span {

        &,
        &:hover,
        &:focus {
          background: transparent;
          border-width: 0;
        }
      }
    }
  }
}
