@import '../variables';

.account-selector {
  @extend %transparent-hover;
  overflow: hidden;

  > span {
    margin-left: 4px;
  }

  .util-arrow-down {
    float: right;
    margin: 16px 4px 0;
    border-color: #5d6d7d transparent transparent transparent;
  }
}

.account-selector-menu {

  header > a {
    color: #3c4c5b;
    min-width: initial; //min-width appears to not be an inherited property
    float: right;
    font-size: 12px;
    background: linear-gradient(to bottom, #f9f9f9,#f0f0f0 35%,#ededed 100%);
    border: 1px solid #cfd3D5;
    border-radius: $border-radius;
    padding: 0 10px;
    text-transform: none;
    font-weight: normal;
    height: 24px;
    line-height: 24px;

    &:hover {
      background: linear-gradient(to bottom, #f2f2f2,#efefef 35%,#ddd 100%);
      color: inherit;
      border: 1px solid #c6c6c6;
      box-shadow: 1px 1px 3px #ccc;
    }
  }

  div.account-width {
    width: 350px;
  }

  nav.account {
    // left aligns dropdown with the clickable account name in the nav
    left: $nav-horizontal-padding + 2 * $context-selector-horizontal-padding + $context-selector-width;
    right: auto;

    // moves the entire thing down so the arrow points to the bottom of the hoverable button
    margin-top: $hoverable-vertical-padding;

    section {
      width: auto;
      margin-right: 0;
      height: $account-selector-height;

      a {
        @extend %hide-overflow;
        &:hover {
          color: $anchor-hover-color;
        }
      }
    }
  }
}
