.mega-menu-breadcrumb {
  background: linear-gradient(to bottom, #2c3e52, #395068);
  border-radius: 0 0 $border-radius $border-radius;

  ul {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2d3e50, #394f67);
    border-radius: 0 0 $border-radius $border-radius;
    li {
      display: table-cell;
      font-size: 14px;
      font-weight: bold;
      color: #b6c2de;
      line-height: 27px;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #405874, #33485e);
      border-radius: 0 0 $border-radius $border-radius;

      a {
        color: #b5c1cd;
        display: block;
        text-decoration: none;
        padding: 2px 22px 2px 8px;
        text-shadow: 0 -1px 0 #333;
        background: url("images/head_sprite.png") no-repeat right -40px transparent;
      }

      &:nth-last-child(2) a {
        background-position: right -80px;
      }

      &:last-child {
        background: linear-gradient(to bottom, #0095d3, #0079ae);
        a {
          background-position: right -120px;
          color: #fff;
          text-shadow: 0 -1px 0 #3f5983;
          margin: 0 -1px;
        }
      }
    }
  }
}
