@import '../variables';

#modular-mega-menu-header {

  .common-css {

    .close-icon {
      @extend .close-icon;
    }

    .luna-reply {
      @extend .luna-reply;
    }

    .luna-trash {
      @extend .luna-trash;
    }
  }

  @import 'popup';

  .messages-count {
    max-width: 73px;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    white-space: nowrap;
  }

  .alerts-count {
    max-width: 65px;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    white-space: nowrap;
  }

  .akam-user {
    position: relative;

    &:hover {

      cursor: pointer;

      // bit of hackery to get the anchor span to inherit the anchor styles for the mega menu so
      // both the arrow down icon and the text have the same styling no matter which gets hovered
      > a {
        color: $anchor-hover-color;
        text-decoration: underline;
      }

      .util-arrow-down {
        border-color: $anchor-hover-color transparent transparent transparent;
      }
    }

    > a {
      max-width: 103px;
      vertical-align: middle;
      line-height: normal;
      display: inline-block;
      white-space: nowrap;
    }

    .popup {
      min-width: 150px;
      margin-top: 16px; // points arrow slightly below the 11px baseline of the enclosing anchor tag
      padding: 0;

      > div {
        width: 100%;
      }

      header {
        font-size: 12px;
        font-weight: bold;
        text-transform: none;
        padding: 2px 0;

        span {
          padding: $user-popup-padding;
        }
      }

      section {
        margin: 0;
        a {
          padding: $user-popup-padding;

          &:hover {
            background: $row-hover-color;
            text-decoration: none;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .top-nav {
    margin: 8px 0 5px;
    font-size: 11px;

    .util-arrow-down {
      margin-left: 2px;
    }

    .util-pull-right > div {
      height: $company-logo-height;
    }

    i, .util-pull-right > div {
      vertical-align: middle;
    }

    .company-logo {
      margin-right: 6px;
      border-right: none;
    }

    .luna-logo {
      margin: 4px 5px auto 5px;
    }

    .util-pull-right > div {
      display: inline-block;
    }

    > div {
      > span, > a {
        padding: 0 6px;
        border-right: 1px solid #3c4c5b;
        color: #036; //Reset color
        &:hover {
          color: $anchor-hover-color;
        }
        > a {
          color: #036;
          &:hover {
            color: $anchor-hover-color;
          }
        }
      }
    }

    .search-placeholder {
      @import 'search';
      position: relative;
    }
  }

  .help.marketplace {
    border-right: none;
    padding: 0;

    a {
      padding: 0 6px;
      border-right: 1px solid #3c4c5b;
    }
  }

  .mega-menu-nav {
    position: relative;
    border-radius: $border-radius $border-radius 0 0;
    @include for("IE10+") {
      border-radius: 0;
    }
    padding: 0 $nav-horizontal-padding;
    background: linear-gradient(to bottom, #2a3b43, #385068);
    line-height: 28px;

    .util-pull-left {
      width: $context-and-account-selector-width;
      padding-right: 10px;
    }

    .tabs {
      letter-spacing: 1.7px;

      > section {

        nav.popup {
          margin-top: $hoverable-vertical-padding;

          & section {
            width: $tab-row-width;
          }

          & h1 {
            font-weight: bold;
          }
        }

        font-weight: bold;
        display: inline-block;

        > h1 {
          @extend %transparent-hover;

          display: inline-block;
          font-size: 15px;
          text-shadow: 0 -1px 0 #333333;
          text-transform: uppercase;
          padding: 0 15px;
          text-decoration: none;

          &.active, &.active:not(.no-hover) {
            background: linear-gradient(to bottom, $orange-gradient-top, $orange-gradient-bottom);
            border: 1px solid #283949;
            text-shadow: 0 -1px 1px #869715;

            margin: 10px 0 8px;
            padding: 0 20px;
          }
        }
      }

    }

    @import 'account-selector';
    @import 'context-selector';
  }

  .message-center-placeholder {
    .modal-title {
      text-transform: uppercase;
    }
  }

  .delete, .forward {
    .modal-content {
      border: 1px solid $border-color;
    }
  }

  .forward {
    .modal-body {
      max-width: 546px;
    }

    .emails.invalid {
      border: 1px solid $border-color-invalid;
    }

    input, label, textarea {
      display: block;
      width: 100%;
      font-weight: normal;
    }

    label {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 20px;
    }

    input, textarea {
      margin-left: 0;
    }

    textarea {
      width: 516px;
      resize: none;
      height: 80px;
    }

  }

  .message-center .modal-content {
    width: 680px;
    height: 400px;
    max-height: initial;

    .akam-list-box {
      margin: 0;
      box-shadow: none;
      border: none;

      .list-box-data {
        border: 1px solid $border-color;
      }

      tbody tr {
        cursor: pointer;
      }
    }

    .read {
      color: #999;
    }

    .modal-body {
      height: 100%;

      h5 {
        margin-bottom: 5px;
        margin-top: 0;
        font-weight: bold;
      }
    }

    p {
      margin-bottom: 10px;
      white-space: initial;
      line-height: 1.6;
    }

    td {
      vertical-align: top;
      padding-top: 8px;
      line-height: initial;
    }

    i {
      margin-right: 10px;
    }

    .subject {
      width: 57%;
    }

    .date {
      width: 30%;
    }

    .actions {
      width: 13%;
    }

    .message {
      border: 1px solid #cccccc;

      .header {
        display: table;
        width: 100%;

        .button {
          margin: 10px 10px 10px 5px;
          width: 60px;
        }

        .header-info {
          overflow: hidden;
          float: left;
          display: table;
          line-height: 20px;
          margin-left: 10px;
          margin-top: 5px;

          div {
            overflow: hidden;
            display: table-row;
          }

          .subject, .posted {
            display: table-cell;
            padding-left: 10px;
            width: 235px;
          }

          .subject {
            font-weight: bold;
          }
        }
      }

      .message-body {
        margin-top: 10px;
        overflow-y: auto;
        border-top: 1px solid #cccccc;

        iframe {
          width: 100%;
          height: 219px;
          border: none;
        }
      }
    }

  }

  @import 'icons';
  @import 'breadcrumbs';
  @import 'timeout';
  @import 'taggle';
  @import 'luna-taggle';
}

@import 'i18n-hacks';
@import 'footer';
