@import '../variables';

$caret-spacing-from-edge: 5px;
$popup-border-size: 8px;

.util-arrow-up, .popup {
  position: absolute;
  z-index: $status-message-zindex;
}

.util-arrow-up {
  top: -1 * $arrow-up-height-large - $popup-border-size;
}

.popup {
  right: 0;
  margin-top: 0;
  top: 100%;
  border: $popup-border-size solid #97a4b1;
  padding: $context-popup-padding;

  background-color: #fff;
  box-shadow: 1px 1px 2px #d3d3d3;

  header {
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    color: $anchor-text-color;
    border-bottom: $popup-border-style;
    width: 100%;
    padding: 4px 0;
  }

  i.orange-caret-right, i.caret-right {
    position: absolute;
    right: $caret-spacing-from-edge;
  }

  > div {
    display: inline-block;
    vertical-align: top;
  }

  & section {
    margin-right: 20px;

    h1, a {
      border-bottom: $popup-border-style;
      padding: 4px 0 4px 3px;
      font-size: 12px;
      margin: 0;
      display: block;
      text-transform: capitalize;
      letter-spacing: normal;
      line-height: 16px;
    }

    h1, h1 a {
      color: #f46b29;
    }

    a {
      color: $anchor-text-color;
      position: relative;
    }

    h1 a {
      border-bottom: none;
      padding: 0 $caret-width + $caret-spacing-from-edge 0 0;
    }

    h1 ~ a {
      padding-left: 12px;
      padding-right: $caret-width + $caret-spacing-from-edge;
    }
  }
}
