.timeout.modal {
  .message-text {
    width: 26em;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 0;
  }

  .modal-footer button {
    background: linear-gradient(to bottom, $orange-gradient-top, $orange-gradient-bottom);
    font-size: 15px;
    font-weight: bold;
  }
}
