<div class="dropdown-selected-wrapper">
    <span class="selected-option util-ellipsis" ng-class="{disabled:dropdown.isDisabled, 'readonly': dropdown.isReadonly}">
        <span title="{{dropdown.getSelectedItemText()}}">{{dropdown.getSelectedItemText()}}</span>
        <span ng-if="!dropdown.hasSelectedItem()" class="dropdown-placeholder">{{dropdown.placeholder}}</span>
    </span>
    <i class="luna-small_close_dark_gray util-clickable clear-dropdown"
       ng-click="dropdown.clearSelectedItem($event)"
       ng-if="dropdown.hasSelectedItem() && dropdown.isClearable && !dropdown.isDisabled"></i>
    <span></span>
</div>
