<div class="akam-pagination">
    <span class="total-items">{{ totalItems }} results</span>
    <ul class="pagination">
        <li ng-class="{ disabled: isFirstPageActive() }">
            <a ng-click="selectPage(currentPage - 1)">Previous</a>
        </li>
        <li ng-class="{ active: isFirstPageActive() }">
            <a ng-click="selectPage(1)">1</a>
        </li>
        <li ng-if="showFirstPageEllipsis()"><span>&#8230;</span></li>
        <li
            ng-repeat="page in pages track by $index"
            ng-class="{ active: page.active }">
            <a ng-click="selectPage(page.number)">{{ page.number }}</a>
        </li>
        <li ng-if="showLastPageEllipsis()"><span>&#8230;</span></li>
        <li ng-class="{ active: isLastPageActive() }">
            <a ng-click="selectPage(totalPages)">{{ totalPages }}</a>
        </li>
        <li ng-class="{ disabled: isLastPageActive() }">
            <a ng-click="selectPage(currentPage + 1)">Next</a>
        </li>
    </ul>
</div>
