<div class="akam-pagination">
  <span class="total-items">{{ resultText }} {{ totalItems }} </span>
  <ul class="pagination">
    <li ng-class="{ disabled: isFirstPageActive() }">
      <a href="javascript:void(0)" ng-click="selectPage(currentPage - 1)"> <i
        class="luna-arrow_smLeft"></i> </a>
    </li><li ng-class="{ active: isFirstPageActive() }">
      <a href="javascript:void(0)" ng-click="selectPage(1)">1</a>
    </li><li ng-if="showFirstPageEllipsis()"><span>&#8230;</span></li><li
      ng-repeat="page in pages track by $index"
      ng-class="{ active: page.active }">
      <a href="javascript:void(0)" ng-click="selectPage(page.number)">{{ page.number }}</a>
    </li><li ng-if="showLastPageEllipsis()"><span>&#8230;</span></li><li ng-class="{ active: isLastPageActive() }" ng-if="!hasOnlyOnePage()">
      <a href="javascript:void(0)" ng-click="selectPage(totalPages)">{{ totalPages }}</a>
    </li><li ng-class="{ disabled: isLastPageActive() }">
      <a href="javascript:void(0)" ng-click="selectPage(currentPage + 1)"> <i
        class="luna-arrow_smRight"></i> </a>
    </li>
  </ul>
  <div class="page-size">
    <span akam-translate="components.pagination.label.show-entries"></span>
    <ul>
      <li
        ng-repeat="size in sizes track by $index"
        ng-class="{ active: isSizeActive(size)}">
        <a href="javascript:void(0)" ng-click="selectSize(size)">
          {{ size }}
        </a>
      </li>
    </ul>
  </div>
</div>
