{{! used to render the message content of an individual message, which contains HTML. We put this in an iframe}}
<html>
<head>
  <base target='_blank'/>
  <style type='text/css'>
    body {
      color: #666666;
      font-family: Arial, serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 12px;
    }
  </style>
</head>
<body>
{{{content}}}
</body>
</html>
