<div class="modal-container">
  <div class="modal-header" ng-class="{'error': modalWindow.showSubmitError}">
    <i ng-if="modalWindow.icon" class="title-icon" ng-class="modalWindow.icon"></i>

    <h4 class="modal-title util-ellipsis">{{ modalWindow.title }}</h4>
    <i class="max-min-icon icon-states"
       ng-class="{ 'pulsar-fullscreen' : !modalWindow.isMax, 'pulsar-restore' : modalWindow.isMax, 'disabled': modalWindow.processing}"
       ng-click="!modalWindow.processing && (modalWindow.isMax = !modalWindow.isMax);"
       ng-if="modalWindow.showFullscreenToggle"></i>
    <i class="close-icon" ng-class="{disabled: modalWindow.processing}" ng-click="!modalWindow.processing && modalWindow.instance.dismiss()"></i>

    <div class="akam-status-message-wrapper" ng-if='modalWindow.showSubmitError'>
      <div class="akam-status-message-item-wrapper" ng-class="{'error': modalWindow.showSubmitError}">
        <div class="alert alert-error">
          {{ modalWindow.errorMessage }}
        </div>
      </div>
    </div>
  </div>
  <akam-modal-window-body></akam-modal-window-body>
  <div class="modal-footer">
    <button type="button" class="btn btn-default cancel-button" ng-click="modalWindow.instance.dismiss()" ng-disabled="modalWindow.processing">{{ modalWindow.cancelLabel }}
    </button><akam-spinner-button
        class="btn btn-primary submit-button"
        ng-if="!modalWindow.hideSubmit"
        disabled="modalWindow.isSubmitDisabled()"
        processing="modalWindow.processing"
        ng-click="modalWindow.submit()"
        text-content="{{modalWindow.submitLabel}}"
        text-content-values="{{modalWindow.submitLabelValues}}">
    </akam-spinner-button>
  </div>
</div>
