<div class="modal-container" ng-class="{'max' : modalWindow.isMax}">
  <div class="modal-header" ng-class="{'error': modalWindow.showSubmitError}">
    <i ng-if="modalWindow.icon" class="title-icon" ng-class="modalWindow.icon"></i>

    <h3 class="modal-title">{{ modalWindow.title }}</h3>
    <i class="max-min-icon icon-states"
       ng-class="{ 'pulsar-fullscreen' : !modalWindow.isMax, 'pulsar-restore' : modalWindow.isMax, 'disabled': modalWindow.processing}"
       ng-click="!modalWindow.processing && (modalWindow.isMax = !modalWindow.isMax);"
       ng-if="modalWindow.showFullscreenToggle"></i>
    <i class="close-icon" ng-class="{disabled: modalWindow.processing}" ng-click="!modalWindow.processing && modalWindow.instance.dismiss()"></i>

    <div class="akam-status-message-wrapper" ng-if='modalWindow.showSubmitError'>
      <div class="akam-status-message-item-wrapper" ng-class="{'error': modalWindow.showSubmitError}">
        <div class="akam-status-message-item">
          <div class="status-message-content">{{ modalWindow.errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
  <akam-modal-window-body></akam-modal-window-body>
  <div class="modal-footer">
    <button type="button" class="btn btn-large" ng-click="modalWindow.instance.dismiss()" ng-disabled="modalWindow.processing">
      {{ modalWindow.cancelLabel }}
    </button>
    <akam-spinner-button
        class="btn-large"
        ng-if="!modalWindow.hideSubmit"
        disabled="modalWindow.isSubmitDisabled()"
        processing="modalWindow.processing"
        ng-click="modalWindow.submit()"
        text-content="{{modalWindow.submitLabel}}"
        text-content-values="{{modalWindow.submitLabelValues}}">
    </akam-spinner-button>
  </div>
</div>