$date-range-disabled-color: #e6e6e6;
$date-range-boxshadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
$date-range--dropdown-boxshadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
$date-range-in-range-color: #666666;
$date-range-in-range-background-color: #CEE7FF;
$date-range-width: 145px;
$date-range-dash-width: 31px;
$date-range-dash-space: 9px;
.akam-date-picker.akam-date-range {
  width: 100%;
  vertical-align: middle;
  height: $autocomplete-height;
  position: relative;
  .range-picker input {
    position: absolute;
  }
  div.range-selection {
    .range-start,
    .range-end {
      &.open-from span {
        border: 1px solid $input-border-color-focus;
        background-color: white;
        @include box-shadow(none);
      }
    }
  }
  div.range-selection {
    & span {
      position: absolute;
    }
    .range-start,
    .range-end {
      & > span {
        //position: absolute;
        display: inline-block;
        height: $input-height;
        padding: 6px $input-padding;
        background-color: $input-background-color;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        //min-width: 160px;
        width: $date-range-width;
        @include box-shadow($date-range-boxshadow);
      }
      & ~ .button,
      & ~ .btn {
        min-width: 0;
        margin-left: 332px; //2*$date-range-width + $date-range-dash-width + $date-range-dash-space;
        position: absolute;
        @include border-left-radius(0);
        i {
          @include disable-magic-sprite-selectors(calendar);
        }
      }
      & .date-range-placeholder {
        color: #ccc;
        font-style: italic;
      }
    }
    .range-end > span {
      margin-left: $date-range-width + $date-range-dash-width;
    }
    .range-dash > span {
      margin-left: $date-range-width + $date-range-dash-space;
      margin-top: 6px;
    }
    .range-clear > span {
      .clear-date {
        margin-left: 376px;
      }
    }
    &.disabled :not(.range-dash) {
      & span{
        @include placeholder-enhanced($date-range-disabled-color, italic);
        color: $date-range-disabled-color;
        border-color: $input-border-color-disabled;
        background-color: $input-background-color-disabled;
        box-shadow: none;
        cursor: default;
        @include user-select(none);
      }
    }
  }
  ul.dropdown-menu {
    min-width: 450px;
    padding: $datepicker-padding;
    outline: none;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    margin-top: 0;
    top: 29px;
    //min-width: (($datepicker-cell-size + 1) * 7) + ($datepicker-padding * 2) + 2;
    @include box-shadow($date-range--dropdown-boxshadow);
    table {
      width: 100%;
      td.space {
        width: 5%;
        border-width: 0;
      }
    }
  }
  table tbody td button {
    &.in-range {
      color: $date-range-in-range-color;
      background-color: $date-range-in-range-background-color;
    }
    &.selected-start.selected-end {
      background-color: #0099CC;
      border-radius: 8px/40%;
    }
    &.selected-start,
    &.selected-end {
      background-color: #0099CC;
    }
    &.selected-start {
      border-top-right-radius: 40%;
      border-bottom-right-radius: 40%;
    }
    &.selected-end {
      border-top-left-radius: 40%;
      border-bottom-left-radius: 40%;
    }
    span.text-info {
      -webkit-box-shadow: inset 0px 0px 0px 2px #0099CC;
      -moz-box-shadow: inset 0px 0px 0px 2px #0099CC;
      box-shadow: inset 0px 0px 0px 2px #0099CC;
      background-color: $button-primary-text-color!important;
    }
  }
  ul.dropdown-menu tbody td {
    height: 23px;
  }
}
