  $date-range-disabled-color: #e6e6e6;
  $date-range-boxshadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  $date-range-in-range-color: #666666;
  $date-range-in-range-background-color: #CEE7FF;
  $date-range-width: 145px;
  $date-range-from-width: 32px;
  $date-range-to-width: 17px;
  $date-range-gap-width: 10px;
  $date-range-startend-color: #0099CC;

  .akam-date-picker.akam-date-range {
    width: 2*$date-range-width + 5*$date-range-gap-width + $date-range-from-width + $date-range-to-width + 46px;
    height: $input-height + 12px; //border + top|bottom padding
    border: 1px solid $border-color;
    padding: 5px;
    background-color: #FFF;
    border-radius: $border-radius;
    vertical-align: middle;
    position: relative;
    .range-picker input {
      position: absolute;
      margin-left: $date-range-from-width + 2*$date-range-gap-width;
      ;
    }
    div.range-selection {
      & span {
        position: absolute;
      }
      .range-start,
      .range-end {
        & > span {
          height: $input-height;
          padding: 6px $input-padding;
          background-color: $input-background-color;
          border: 1px solid $border-color;
          border-radius: $border-radius;
          width: $date-range-width;
          @include box-shadow($date-range-boxshadow);
        }
        & ~ .button,
        & ~ .btn {
          min-width: 0;
          border-left: 0;
          margin-left: 2*$date-range-width + $date-range-from-width + $date-range-to-width + 4*$date-range-gap-width;
          position: absolute;
          @include border-left-radius(0);
          i {
            @include disable-magic-sprite-selectors(calendar);
          }
        }
        & .date-range-placeholder {
          color: #ccc;
          font-style: italic;
        }
        &.opened {
          & ~ .button,
          & ~ .btn {
            border-color: #999;
            border-left-color: $input-border-color-focus;
            @include background-image(linear-gradient($button-gradient-bottom-hover, $button-gradient-top-hover));
          }
          span {
            border: 1px solid $input-border-color-focus;
            background-color: #FFF;
            @include box-shadow(none);
          }
        }
      }
      div.range-start > span {
        margin-left: $date-range-from-width + 2*$date-range-gap-width;
      }
      div.range-end > span {
        @include border-right-radius(0);
        margin-left: $date-range-width + 4*$date-range-gap-width + $date-range-to-width + $date-range-from-width;
      }
      div.range-from,
      div.range-to {
        & > span {
          margin-top: 6px;
          font-size: $text-font-size;
          font-weight: normal;
          font-family: $text-font-family;
          font-style: italic;
        }
      }
      div.range-to > span {
        margin-left: $date-range-width + 3*$date-range-gap-width + $date-range-from-width;
      }
      div.range-from > span {
        margin-left: $date-range-gap-width;
      }
      &.disabled {
        & span:not(.range-title) {
          @include placeholder-enhanced($date-range-disabled-color, italic);
          color: $date-range-disabled-color;
          border-color: $input-border-color-disabled;
          background-color: $input-background-color-disabled;
          box-shadow: none;
          cursor: default;
          @include user-select(none);
        }
        & span.range-title {
          color: $icon-color_disabled
        }
        i {
          opacity: $input-button-icon-opacity-disabled;
        }
      }
    }
    ul.dropdown-menu {
      top: 38px !important;
      left: 0 !important;
      table {
        tbody td {
          height: 23px;
          border: none !important;
          &.space {
            width: 5%;
            border-width: 0;
          }
          table tr th[role="heading"] {
            padding-bottom: 5px;
          }
          table tbody tr td[role="gridcell"] {
            border: 1px solid #ccc !important;
          }
        }
        tbody td button {
          position: relative;
          &.in-range {
            color: $date-range-in-range-color;
            background-color: $date-range-in-range-background-color;
          }
          &.selected-start,
          &.selected-end {
            & > span {
              background-color: $date-range-startend-color;
              color: $input-background-color-focus;
            }
          }
          &.selected-start:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 0;
            border-top: 10px solid $date-range-in-range-background-color;
            border-bottom: 10px solid $date-range-in-range-background-color;
            border-left: 5px solid rgba(0, 0, 0, 0);
          }
          &.selected-end:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 0;
            border-top: 10px solid $date-range-in-range-background-color;
            border-bottom: 10px solid $date-range-in-range-background-color;
            border-right: 5px solid rgba(0, 0, 0, 0);
          }
          &.selected-start.selected-end:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 0;
            border-top: 4px solid $date-range-in-range-background-color;
            border-bottom: 4px solid $date-range-in-range-background-color;
            border-right:13px solid rgba(0, 0, 0, 0);
            border-left: 13px solid rgba(0, 0, 0, 0);
          }
        }
      }
      thead tr:first-child th {
        padding-bottom: 15px;
        text-align: center;
        line-height: 2;
      }
    }
  }
