<div class="akam-list-box common-table">

  <div class="filter">
    <input type="search"
           ng-model="state.filter"
           ng-disabled="loading"
           ng-change="updateSearchFilter()"
           placeholder="{{::messages.filterPlaceholder}}"> <i
    class="luna-close clear-filter icon-states util-clickable"
    ng-if="state.filter"
    ng-click="state.filter = ''; updateSearchFilter()"></i>
  </div>

  <akam-indeterminate-progress class="loading-data-table"
                               ng-if="loading"
                               completed="{{!loading}}"
                               failed="{{ failed }}"></akam-indeterminate-progress>
    <div class="data fixed-table-container sort-decoration">
        <div akam-infinite-scroll class="fixed-table-container-inner">
            <table class="tablesorter" cellspacing="0">
                <thead>
                    <tr>
                        <th ng-if="::showCheckboxes" class="column-checkbox header first">
                            <div class="th-inner">
                                <span><input type="checkbox"
                                             ng-model="state.allSelected"
                                             ng-change="selectAll()"
                                             id="{{::(tableId + 'allSelected')}}"><label for="{{::(tableId + 'allSelected')}}"></label></span>
                            </div>
                        </th>

                        <th ng-repeat="column in ::columns"
                            ng-class="getColumnClasses(column, true, state)"
                            ng-click="sortColumn(column)"
                            title="{{ column.header | akamTranslate }}"
                            class="header">
                            <div class="th-inner">
                                <span>{{column.header | akamTranslate}}</span>
                                <i></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dataSource track by item.id"
                        ng-class="{ 'row-selected' : item.selected }">
                        <td ng-if="::showCheckboxes" class="column-checkbox">
                            <input type="checkbox"
                                   ng-model="item.selected"
                                   ng-change="updateChanged(item)"
                                   id="{{ ::(tableId + '_item_' + $index )}}"><label
                                for="{{ ::(tableId + '_item_' + $index) }}"></label>
                        </td>
                        <td ng-repeat="column in ::columns track by item.cells[$index].id"
                            ng-class="::getColumnClasses(column, false, state)"
                            ng-bind-html="item.cells[$index].content"
                            title="{{ item.titles[$index]}}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div ng-if="dataTable.length === 0 && totalCount > 0 && !state.viewSelectedOnly && !loading"
         class="empty-table-message">
      <i class="luna-alert"></i> <span>{{::messages.noFilterResultsMessage}}</span>
    </div>

    <div ng-if="dataTable.length === 0 && totalCount > 0 && state.viewSelectedOnly && !loading"
         class="empty-table-message">
      <i class="luna-alert"></i> <span>{{::messages.noneSelectedMessage}}</span>
    </div>

    <div ng-if="totalCount === 0 && !loading"
         class="empty-table-message">
      <i class="luna-alert"></i> <span>{{noDataMessage}}</span>
    </div>
  </div>

  <div class="list-box-footer">
    <span class="util-pull-left">
      {{::messages.selectedText}}{{ selectedItems.length }}
    </span>
    <span class="util-pull-right">
      <input type="checkbox"
             ng-model="state.viewSelectedOnly"
             ng-change="updateSearchFilter();"
             id="{{::(tableId + 'viewSelectedOnly')}}"><label
      for="{{::(tableId + 'viewSelectedOnly')}}"
      akam-translate="components.list-box.text.viewSelected"></label>
    </span>
  </div>

</div>