<div class="akam-list-box common-table">

  <div class="filter">
    <input type="search"
           ng-model="listBox.state.filter"
           ng-disabled="listBox.loading"
           ng-change="listBox.updateSearchFilter()"
           placeholder="{{::listBox.messages.filterPlaceholder}}"> <i
    class="luna-close clear-filter icon-states util-clickable"
    ng-if="listBox.state.filter"
    ng-click="listBox.state.filter = ''; listBox.updateSearchFilter()"></i>
  </div>

  <akam-indeterminate-progress class="loading-data-table"
                               ng-if="listBox.loading"
                               completed="{{!listBox.loading}}"
                               failed="{{ listBox.failed }}"></akam-indeterminate-progress>
    <div class="data fixed-table-container sort-decoration">
        <div akam-infinite-scroll class="fixed-table-container-inner">
            <table class="tablesorter" cellspacing="0">
                <thead>
                    <tr>
                        <th class="column-checkbox header first">
                                <span><input type="checkbox"
                                             ng-model="listBox.state.allSelected"
                                             ng-change="listBox.selectAll()"
                                             id="{{::(listBox.tableId + 'allSelected')}}"><label for="{{::(listBox.tableId + 'allSelected')}}"></label></span>
                        </th>

                        <th ng-repeat="column in ::listBox.columns"
                            ng-class="listBox.getColumnClasses(column, true, listBox.state)"
                            ng-click="listBox.sortColumn(column)"
                            title="{{::column.header | translate}}"
                            class="header">
                                <span translate="{{::column.header}}"></span>
                                <i></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listBox.dataSource track by item.id"
                        ng-class="{ 'row-selected' : item.selected }">
                        <td class="column-checkbox">
                            <input type="checkbox"
                                   ng-model="item.selected"
                                   ng-change="listBox.updateChanged(item)"
                                   id="{{ ::(listBox.tableId + '_item_' + item.id )}}">
                            <label for="{{ ::(listBox.tableId + '_item_' + item.id) }}"></label>
                        </td>
                        <td ng-repeat="column in ::listBox.columns track by item.cells[$index].id"
                            ng-class="::listBox.getColumnClasses(column, false, listBox.state)"
                            ng-bind-html="item.cells[$index].content"
                            title="{{ item.titles[$index]}}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div ng-if="listBox.dataTable.length === 0 && listBox.totalCount > 0 && !listBox.state.viewSelectedOnly && !listBox.loading"
         class="empty-table-message">
      <i class="luna-alert"></i> <span>{{::listBox.messages.noFilterResultsMessage}}</span>
    </div>

    <div ng-if="listBox.dataTable.length === 0 && listBox.totalCount > 0 && listBox.state.viewSelectedOnly && !listBox.loading"
         class="empty-table-message">
      <i class="luna-alert"></i> <span>{{::listBox.messages.noneSelectedMessage}}</span>
    </div>

    <div ng-if="listBox.totalCount === 0 && !listBox.loading"
         class="empty-table-message">
      <i class="luna-alert"></i> <span>{{listBox.noDataMessage}}</span>
    </div>
  </div>

  <div class="list-box-footer">
    <span class="util-pull-left">
      {{::listBox.messages.selectedText}}{{ listBox.selectedItems.length }}
    </span>
    <span class="util-pull-right">
      <input type="checkbox"
             ng-model="listBox.state.viewSelectedOnly"
             ng-change="listBox.updateSearchFilter();"
             ng-disabled="!listBox.hasSelectedItems()"
             id="{{::(listBox.tableId + 'viewSelectedOnly')}}"><label
      for="{{::(listBox.tableId + 'viewSelectedOnly')}}"
      translate="components.list-box.text.viewSelected"></label>
    </span>
  </div>

</div>
