<div class="akam-list-box">
    <akam-indeterminate-progress completed="{{!loading}}"></akam-indeterminate-progress>
    <div class="list-box-filter">
        <input type="text" ng-model="state.filter" ng-change="updateSearchFilter()">
    </div>
    <table class="list-box-data">
        <thead>
            <tr>
                <th ng-if="showCheckboxes" class="column-checkbox">
                    <input type="checkbox" ng-model="state.allSelected" id="{{tableId + 'allSelected'}}"><label for="{{tableId + 'allSelected'}}"></label>
                </th>
                <th ng-repeat="column in columns" ng-class="getColumnClasses(column, true)" ng-click="sortColumn(column)">
                    {{column.header}} <i></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data | filter:state.search" ng-class="{ 'row-selected' : item.selected }">
                <td ng-if="showCheckboxes" class="column-checkbox">
                    <input type="checkbox" ng-model="item.selected" id="{{ tableId + '_item_' + $index }}"><label for="{{ tableId + '_item_' + $index }}"></label>
                </td>
                <td ng-repeat="column in columns" ng-class="getColumnClasses(column, false)">
                    {{getColumnContent(column, item)}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="list-box-footer">
        <span class="util-pull-left">
            Selected: {{getSelectedItems().length}}
        </span>
        <span class="util-pull-right">
            <input type="checkbox" ng-model="state.viewSelectedOnly" ng-change="updateSearchFilter();" id="{{tableId + 'viewSelectedOnly'}}"><label for="{{tableId + 'viewSelectedOnly'}}">View selected only</label>
        </span>
    </div>
</div>