<div  ng-class="{fade: treeViewParentSelector.opened}" class="popover bottom" ng-style="{top:treeViewParentSelector.parentSelectorTop, left:treeViewParentSelector.parentSelectorLeft}">
	<div class="arrow" ng-style="{'top': treeViewParentSelector.arrowTop, 'left':treeViewParentSelector.arrowLeft}"></div>
	<div class="popover-contents">
	 	<div ng-repeat="parent in treeViewParentSelector.treeViewCtrl.parentTree.slice().reverse()">
	 		<div class="tree-view-contents util-clickable" ng-click="treeViewParentSelector.triggerParentChange($index, true)">
	 			<i ng-class="{'luna-child_group_folder':!parent.root, 'luna-home':parent.root}"></i>
	 			<span ng-class="{'parent-selector-root':parent.root}"> {{parent.title}} </span>
	 		</div>
	 	</div>
	</div>
</div>