<div  ng-class="{fade: isOpen()}" class="tooltip bottom" ng-style="{top:parentSelectorTop, left:parentSelectorLeft}" 
style="display:block">
	<div class="tooltip-arrow" ng-style="{'top': arrowTop, 'left':arrowLeft}"></div>
	<div class="tooltip-contents">
	 	<div ng-repeat="parent in parentTree.slice().reverse()">
	 		<div class="tree-view-contents" ng-click="triggerParentChange(parent, true)">
	 			<i ng-class="{'luna-folder':!parent.root, 'luna-home':parent.root}"></i> 
	 			<span>{{parent.title}}</span>
	 		</div>
	 	</div>
	</div>
</div>