<div  ng-class="{fade: isOpen()}" class="popover bottom" ng-style="{top:parentSelectorTop, left:parentSelectorLeft}">
	<div class="popover-arrow" ng-style="{'top': arrowTop, 'left':arrowLeft}"></div>
	<div class="popover-contents">
	 	<div ng-repeat="parent in treeview.parentTree.slice().reverse()">
	 		<div class="tree-view-contents util-clickable" ng-click="triggerParentChange($index, true)">
	 			<i ng-class="{'luna-child_group_folder':!parent.root, 'luna-home':parent.root}"></i> 
	 			<span ng-class="{'parent-selector-root':parent.root}"> {{parent.title}} </span>
	 		</div>
	 	</div>
	</div>
</div>