

$icons: (
  abort: "\E001",
  add-circle: "\E002",
  add: "\E003",
  analytics: "\E004",
  archive: "\E005",
  arrow-up: "\E006",
  
  arrow-top: "\E006",
  arrow-right: "\E006",
  arrow-bottom: "\E006",
  arrow-left: "\E006",
  
  arrow-upload: "\E007",
  automotive: "\E008",
  behavior: "\E009",
  bot: "\E00A",
  business: "\E00B",
  calendar: "\E00C",
  camera: "\E00D",
  caret: "\E00E",
  
  caret-top: "\E00E",
  caret-right: "\E00E",
  caret-bottom: "\E00E",
  caret-left: "\E00E",
  
  chart-bar: "\E00F",
  chart-line: "\E010",
  chart-pie: "\E011",
  chat-add: "\E012",
  chat-delete: "\E013",
  chat-group: "\E014",
  chat-question: "\E015",
  chat: "\E016",
  check-circle-filled: "\E017",
  check-circle: "\E018",
  checkmark: "\E019",
  close: "\E01A",
  cloud-download: "\E01B",
  cloud-upload: "\E01C",
  cloud: "\E01D",
  cloudlette: "\E01E",
  collapse: "\E01F",
  condense-all: "\E020",
  configure: "\E021",
  csv: "\E022",
  danger: "\E023",
  date-time: "\E024",
  delay: "\E025",
  delete-clear: "\E026",
  desktop: "\E027",
  detail: "\E028",
  diagnostics: "\E029",
  dns: "\E02A",
  documents: "\E02B",
  docx: "\E02C",
  dos: "\E02D",
  duplicate: "\E02E",
  email-new: "\E02F",
  email-open: "\E030",
  email-reply: "\E031",
  email: "\E032",
  error-circle: "\E033",
  exclamation: "\E034",
  expand-all: "\E035",
  expand: "\E036",
  export: "\E037",
  failed: "\E038",
  filter: "\E039",
  flag: "\E03A",
  folder-open: "\E03B",
  folder: "\E03C",
  fullscreen: "\E03D",
  games: "\E03E",
  gear: "\E03F",
  grip: "\E040",
  help-circle: "\E041",
  help: "\E042",
  hide: "\E043",
  home: "\E044",
  inactive-circle: "\E045",
  info: "\E046",
  key: "\E047",
  laptop: "\E048",
  layers: "\E049",
  link: "\E04A",
  list: "\E04B",
  lock-active: "\E04C",
  lock-inactive: "\E04D",
  lock-open: "\E04E",
  lock-shut: "\E04F",
  mail: "\E050",
  manage: "\E051",
  minus-circle: "\E052",
  minus: "\E053",
  mobilephone: "\E054",
  module: "\E055",
  money: "\E056",
  move: "\E057",
  multiple-setting-options: "\E058",
  note-add: "\E059",
  note-delete: "\E05A",
  note: "\E05B",
  owasp: "\E05C",
  paperclip: "\E05D",
  parent-groupfolder: "\E05E",
  pdf: "\E05F",
  pencil: "\E060",
  pending-circle: "\E061",
  performance: "\E062",
  phone: "\E063",
  pointer: "\E064",
  power: "\E065",
  present: "\E066",
  print: "\E067",
  property-advanced: "\E068",
  property-apple: "\E069",
  property-application: "\E06A",
  property-download: "\E06B",
  property-flash: "\E06C",
  property-livestream: "\E06D",
  property-ondemand: "\E06E",
  property-silverlight: "\E06F",
  property-site: "\E070",
  recommend: "\E071",
  reload: "\E072",
  search: "\E073",
  security-alert: "\E074",
  security-warning: "\E075",
  server: "\E076",
  show: "\E077",
  slow: "\E078",
  target: "\E079",
  thumbs-up: "\E07A",
  time: "\E07B",
  tip: "\E07C",
  tools: "\E07D",
  trash: "\E07E",
  tv: "\E07F",
  twisty-big: "\E080",
  twisty: "\E081",
  unfullscreen: "\E082",
  user-add: "\E083",
  user-delete: "\E084",
  user: "\E085",
  users: "\E086",
  warning: "\E087",
  webcam: "\E088",
  wizard: "\E089",
  world: "\E08A",
  zoom-in: "\E08B",
  zoom-out: "\E08C"
);
