/* Compass

Compass provides us with a useful suite of mixins. 
More details available here: http://compass-style.org/reference/compass/

Markup:
@import 'compass'

Styleguide 1.1

*/
@import "compass";
/* Fonts

Akamai's corporate font is Frutiger. 
When the .WOFF and .TTF versions of these fonts are available, we can incorporate them as a webfont.
If you have Frutiger installed locally, you'll see Frutiger in the section below. 

Markup:
<p style="font-family: 'Frutiger'">Lorem ipsum dolor sit amet</p>

Styleguide 1.2

*/
@import "_fonts";
/* Variables

These variables define colors, dimensions, and properties that are repeated and/or referenced from other rules.
Any color (except black and white), dimension value (except 0 or 100%), or complex display used more than once, is a candidate for a variable.

Markup: 
Please see common-css/scss/_variables.scss for a full list of variables

Styleguide 1.3

*/
@import "_variables";
/* Global Styles

These styles apply to HTML elements at the lowest specificity. They're meant to provide a consistent and useful default between browsers and browser versions.

Markup: 
Please see common-css/scss/_globals.scss for a full list of element defaults

Styleguide 1.4

*/
@import "_global";
/* Mixins

These custom mixins assist developers in applying CSS3 properties, experimental properties, reusable chunks of code, and more. 
You leverage these mixins within SASS using the <strong>@include mixin-name</strong> syntax

Markup: 
Please see common-css/scss/_mixins.scss for a full list of mixins

Styleguide 1.5

*/
@import "_mixins";
/* Extenders

These custom extenders assist developers in inheriting/extending CSS3 properties. 
You leverage these extenders within SASS using the <strong>@extend %extender-name</strong> syntax

Markup: 
Please see common-css/scss/_extenders.scss for a full list of extenders

Styleguide 1.6

*/
@import "_extenders";
/* Bootstrap

Bootstrap styles

Markup: 
Please see common-css/sass/bootstrap/ for a full list of bootstrap styles

Styleguide 1.7

*/
@import "_bootstrap-custom";