.page-title {
    margin: .5em 0;
    font-weight: bold;
}

.page-header {
    border-bottom-color: #ddd;
}

legend {
    color: inherit;
}

a.list-group-item {
    
    &:hover, &:focus {
        background-color: #e2f3fc;
    }
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}



.dropdown {
    
    &.open > i.luna-gear {
        @extend .luna-gear:hover;
    }
}