
// Used on various pages in the portal
.page-title {
  margin: .5em 0;
  font-weight: bold;
}


// Bootstrap sets outline to none for hover and active, but not focus
a:focus {
  outline: none;
}

// Apply borders and box shadows to make the component look correct when its by itself
.standalone {
  border: 1px solid $base__border-color;
  border-radius : $base__border-radius;
  @include box-shadow($base__box-shadow);

  &.akam-list-box,
  &.akam-data-table {
    margin: 16px 0;
  }
}

// Misc
.well {
  @include box-shadow($base__box-shadow--inset);
}

.ui-match {
  color: $colors__blue1;
}