/*
    http://compass-style.org/help/tutorials/spriting/customization-options/
    http://compass-style.org/help/tutorials/spriting/magic-selectors/
    
    You should be able to change $sprite-selectors to whatever you want, but it was producing an error
    So we have $custom-sprite-selectors instead
*/
$custom-sprite-selectors: append($sprite-selectors, disabled);



/*
    http://compass-style.org/help/tutorials/spriting/customization-options/
    
    Similar to the above $sprite-selectors error, adjusting the sprite-separator was producing an error
    So we have $custom-sprite-separator instead
*/
$custom-sprite-separator: "_";



/*
    Define the custom class to enable magical states
*/
$magic-sprite-selectors-class: "icon-states";



/*
    Disable magic sprite selectors by default
*/
$disable-magic-sprite-selectors: true;


// Luna Sprites
$luna-spacing: 8px;
$luna-sprite-dimensions: true;
$luna-sprites: sprite-map("luna/*.png");
@import "luna/*.png";
@include all-luna-sprites;
@include create-magic-sprite-selectors($luna-sprites, $custom-sprite-selectors, $custom-sprite-separator);


// Pulsar Sprites
$pulsar-spacing: 8px;
$pulsar-sprite-dimensions: true;
$pulsar-sprites: sprite-map("pulsar/*.png");
@import "pulsar/*.png";
@include all-pulsar-sprites;
@include create-magic-sprite-selectors($pulsar-sprites, $custom-sprite-selectors, $custom-sprite-separator);

i {
    display: inline-block;
}


i.glyphicon {
    font-family: inherit;
    vertical-align: middle;
    
    &.glyphicon-chevron-left {
        @include luna-sprite(arrow_smLeft);
    }
    
    &.glyphicon-chevron-right {
        @include luna-sprite(arrow_smRight);
    }

}