
[class*="svg-"] {
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
}

.svg-caret-down {
  @include svg('caret-down', 12px, 8px);
}

.svg-caret-right {
  @include svg('caret-right', 8px, 12px);
}

.svg-error {
  @include svg('error');
}

.svg-information {
  @include svg('information');
}

.svg-question {
  @include svg('question');
}

.svg-warning {
  @include svg('warning');
}

.svg-error-white {
  @include svg('error-white');
}

.svg-information-white {
  @include svg('information-white');
}

.svg-x {
  @include svg('x');

  &:hover {
    @include svg('x-hover');
  }
}

.svg-close {
  @include svg('small-close');

  &:hover {
    @include svg('small-close-hover');
  }
}

// some of the png icons were wrong so we replace them with svgs here
// svg include assumes 16 x 16 image, but this image is 12 x 8 so we have to center it in the box
.luna-arrow_smDown_disabled {
  background-position: 2px 4px;
  @include svg('arrow_down_disabled');
}

.luna-gear_disabled {
  background-position: 0 0;
  @include svg('gear_disabled');
}
