.util-pull-right, .pull-right {
  float: right !important;
}

.util-pull-left, .pull-left {
  float: left !important;
}

.util-clearfix {
  @include clearfix();
}

.util-clear {
  clear: both;
}

.util-hide {
  display: none !important;
}

.util-show {
  display: block !important;
}

.util-show-inline {
  display: inline;
}

.util-show-inline-block {
  display: inline-block;
}

.util-invisible {
  visibility: hidden !important;
}

.util-visible {
  visibility: visible !important;
}

.util-hidden-overflow {
  overflow: hidden !important;
}

.util-visible-overflow {
  overflow: visible;
}

.util-auto-overflow {
  overflow: auto;
}

.util-ellipsis {
  @include ellipsis();
}

// TODO: review view makes heavy use of @include ellipsis
.util-ellipsis-block {
  @extend .util-ellipsis;
  display: block;
}

.util-border-box {
  box-sizing: border-box;
}

.util-full-width {
  @extend .util-border-box;
  width: 100%;
}

.util-half-width {
  @extend .util-border-box;
  width: 50%;
}

.util-no-resize {
  @include resizable(none);
}

.util-no-wrap {
  white-space: nowrap;
}

.util-no-fade {
  @include no-fade();
}

.util-fade {
  @include fade();
}

.util-text-right {
  text-align: right;
  * {
    @extend .util-text-right;
  }
}

.util-text-left {
  text-align: left;
  * {
    @extend .util-text-left;
  }
}

.util-text-center {
  text-align: center;
  * {
    @extend .util-text-center;
  }
}

.util-text-justify {
  text-align: justify;
  * {
    @extend .util-text-justify;
  }
}

.util-monospace {
  font-family: monospace;
}

.util-bold {
  font-weight: bold;
}

.util-italicize {
  font-style: italic;
}

.util-underline {
  text-decoration: underline;
}

.util-align-top {
  vertical-align: top;
}

.util-align-middle {
  vertical-align: middle;
}

.util-text-top {
  vertical-align: text-top;
}

.util-draggable {
  @include grab-icon();
}

.util-clickable {
  cursor: pointer;
}

.util-scrollable-y {
  @include scrollable(hidden, auto);
}

.util-scrollable-x {
  @include scrollable(auto, hidden);
}

.util-scrolling-table {
  @extend .util-scrollable-y;
}

.util-transform-layer {
  transform: translateY(0);
}

.util-opaque {
  opacity: 1;
}

.util-transparent {
  opacity: 0;
}

.util-screen-center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50.01%); // See FEE-436 for reason behind decimal places
}

.util-vertical-center-box {
  position: relative;
  top: 50%;
  transform: translateY(-50.01%); // See FEE-436 for reason behind decimal places
}

.util-horiztonal-center-box {
  margin: 0 auto;
}