// INTERFACE COLORS

// Bluegrays
$uxd-bluegray-1: #5D6D7D; // main page title


// Grays
$uxd-gray-1:  #333333; // prominent titles, tour bubble background
$uxd-gray-2:  #666666; // default for titles, text and icons
$uxd-gray-3:  #999999; // components
$uxd-gray-4:  #C3C3C3; // components
$uxd-gray-5:  #C8C8C8; // components
$uxd-gray-6:  #CCCCCC; // borders, disabled icons
$uxd-gray-7:  #E6E6E6; // components
$uxd-gray-8:  #EDEDED; // components
$uxd-gray-9:  #F4F4F4; // components
$uxd-gray-10: #F8F8F8; // components


// Blues
$uxd-blue-1: #0099CC; // link color, hover icons
$uxd-blue-2: #CEE7FF; // selected row
$uxd-blue-3: #EBF6FF; // hover row
$uxd-blue-4: #2F79C9; // alerts/warnings, notification bar border, icons
  $uxd-blue-darker: $uxd-blue-4;
$uxd-blue-5: #58B5DC; // notification bar
  $uxd-blue-lighter: $uxd-blue-5;
$uxd-blue-6: #6C86A0; // graph top gradient
  $uxd-steelblue: $uxd-blue-6;
$uxd-blue-7: #4F667D; // graph bottom gradient
  $uxd-steelblue-darker: $uxd-blue-7;


// Browns
$uxd-brown-1: #AF8749; // tooltip text color


// Yellows
$uxd-yellow-1: #FFFFB4; // tooltip background
$uxd-yellow-2: #C97820; // alerts/warnings, notification bar, icons
  $uxd-yellow-darker: $uxd-yellow-2;
$uxd-yellow-3: #E9A751; // notification bar
  $uxd-yellow-lighter: $uxd-yellow-3;


// Golds
$uxd-gold-1: #ECDE77; // tooltip border


// Oranges
$uxd-orange-1: #F8981D; // alerts/warnings, icons
$uxd-orange-2: #AB4D09; // primary button border color
  $uxd-orange-darker: $uxd-orange-2;
$uxd-orange-3: #F46B29; // primary button bottom gradient
  $uxd-orange-medium: $uxd-orange-3;
$uxd-orange-4: #F8971D; // primary button top gradient
  $uxd-orange-lighter: $uxd-orange-4;
$uxd-orange-5: #FAB99A; // primary button disabled background
  $uxd-peach: $uxd-orange-5;
$uxd-orange-6: #D7AC8B; // primary button disabled border color
  $uxd-taupe: $uxd-orange-6;
// $uxd-orange-7: #; // graph top gradient
//   $uxd-: $uxd-orange-7;
$uxd-orange-8: #DB4818; // graph bottom gradient
  $uxd-blood-orange: $uxd-orange-8;


// Reds
$uxd-red-1: #A32D2D; // alerts/warnings, notification bar border, icons
  $uxd-red-darker: $uxd-red-1;
$uxd-red-2: #DE6056; // notification bar
  $uxd-red-lighter: $uxd-red-2;


// Greens
$uxd-green-1: #388E35; // notification bar border, icons
  $uxd-green-darker: $uxd-green-1;
$uxd-green-2: #7AAA60; // notification bar
  $uxd-green-lighter: $uxd-green-2;


