// COLOR PALETTE


// Black and White
$colors__white: #FFFFFF;
$white: $colors__white;
$colors__black: #000000;
$black: $colors__black;


// Bluegrays
$colors__bluegray1: #5D6D7D; // main page title


// Grays
$colors__gray1:  #333333; // prominent titles, tour bubble background
$colors__gray2:  #666666; // default for titles, text and icons
$colors__gray3:  #999999; // components
$colors__gray4:  #C3C3C3; // components
$colors__gray5:  #C8C8C8; // components
$colors__gray6:  #CCCCCC; // borders, disabled icons
$colors__gray7:  #E6E6E6; // components, disabled text inside of form elements
$colors__gray8:  #EDEDED; // components
$colors__gray9:  #F4F4F4; // components
$colors__gray10: #F8F8F8; // components


// Blues
$colors__blue1: #0099CC; // link color, hover icons
$colors__blue2: #CEE7FF; // selected row
$colors__blue3: #EBF6FF; // hover row
$colors__blue4: #2F79C9; // alerts/warnings, notification bar border, icons
$colors__blue5: #58B5DC; // notification bar
$colors__blue6: #6C86A0; // graph top gradient
$colors__blue7: #4F667D; // graph bottom gradient
$colors__blue8: #88CBE0; // wizard component


// Browns
$colors__brown1: #AF8749; // tooltip text color


// Yellows
$colors__yellow1: #FFFFB4; // tooltip background
$colors__yellow2: #C97820; // alerts/warnings, notification bar, icons
$colors__yellow3: #E9A751; // notification bar


// Golds
$colors__gold1: #ECDE77; // tooltip border


// Oranges
$colors__orange1: #F8981D; // alerts/warnings, icons
$colors__orange2: #AB4D09; // primary button border color
$colors__orange3: #F46B29; // primary button bottom gradient
$colors__orange4: #F8971D; // primary button top gradient
$colors__orange5: #FAB99A; // primary button disabled background
$colors__orange6: #D7AC8B; // primary button disabled border color
$colors__orange7: #6C86A0; // graph top gradient
$colors__orange8: #DB4818; // graph bottom gradient


// Reds
$colors__red1: #A32D2D; // alerts/warnings, notification bar border, icons
$colors__red2: #DE6056; // notification bar
$colors__red3: #9F1A00; // input validation border
$colors__red4: #FEE9E9; // errorneous form status message


// Greens
$colors__green1: #388E35; // notification bar border, icons
$colors__green2: #7AAA60; // notification bar
$colors__green3: #EBF4E4; // successful form status message
