{% extends "base.template.html" %}

{% block content %}
{$ moduleList(docs, doc.module) $}

<section class="module">
  <h1>{$ doc.module | titleCase $}</h1>
  <h2>{$ doc.name $}</h2>
  <p>{$ doc.description | marked $}</p>

  {% if doc.image %}
  <section class="visual-example">
    <h1>Visual Example</h1>
    <img src="{$ doc.image $}">
  </section>
  {% endif %}

  {% if doc.guidelines %}
  <section class="ux-guidance">
    <h1>UX Guidance</h1>
    <ul>
      {% for guideline in doc.guidelines %}
      <li>{$ guideline $}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  <section class="api">
    <h1>API</h1>
    {% for component in doc.components %}
    <section class="component">
      <h1>{$ component.docType $}:<span>{$ componentName(component) $}</span></h1>
      <p>{$ component.description | marked $}</p>
      {% if component.docType == 'provider' %}
      {$ serviceDocs(component) $}
      {% endif %}

      {% if component.docType == 'service' %}
      {$ serviceDocs(component) $}
      {% endif %}

      {% if component.docType == 'directive' %}
      {$ directiveDocs(component) $}
      {% endif %}
    </section>
    {% endfor %}
  </section> 

  <section class="code-example">
    <h1>Code Example</h1>
    {% for example in doc.exampleFiles %}
    <label>{$ example.name $}</label>
    <div>
      {$ example.templateOutput $}
    </div>
    {% endfor %}
  </section>
</section>
{% endblock %}