
$progress-bar-wrapper-width: 66%;
$progress-bar-width: 100%;

$progress-bar-height_luna: 20px;

$progress-bar-background-color_luna: #f4f4f4;

$progress-bar-border-color_luna: #cccccc;
$progress-bar-border-width_luna: 1px;

$progress-value-background-color_luna: linear-gradient(#aeb6be, #5d6d7d);
$progress-value-backgroundmix_luna: mix(#aeb6be, #5d6d7d);

$progress-success-color_luna: linear-gradient(#9bc69a, #388e35);
$progress-success-colormix_luna: mix(#9bc69a, #388e35);

$progress-error-color_luna: linear-gradient(#e79897, #a32d2d);
$progress-error-colormix_luna: mix(#e79897, #a32d2d);

$progress-warning-color_luna: linear-gradient(#e9a751, #c97820);
$progress-warning-colormix_luna: mix(#e9a751, #c97820);

$progress-info-color_luna: linear-gradient(#58b5dc, #2f79c9);
$progress-info-colormix_luna: mix(#58b5dc, #2f79c9);

$progress-label-color: #666666;
$progress-label-gutter_luna: 10px;
$progress-label-font-size: 12px;
$progress-label-font: normal #{$progress-label-font-size}/1.428em Arial, sans-serif;

$progress-icon-gutter: 10px;
$progress-icon-width: 17px; // TODO: nleon@akamai.com, this should be 16x16
$progress-icon-height: 17px; // TODO: nleon@akamai.com, this should be 16x16

$progress-bar-width_icon: calc(#{$progress-bar-width} - #{$progress-icon-width} - #{$progress-icon-gutter});

/**
* This animation defines a 24px x 100% "background bar"
* The bar has its first horizontal 12px filled in as black with an opacity
* The next 12px is transparent to provide a stitched effect
* The animation moves this background from 0,0 to 24,0 within 500ms and infinitely repeats
*/
@mixin lunaProgressBarAnimation() {
  animation: diagonallyStitchedProgressBar 500ms linear infinite;
  background-image: linear-gradient(315deg,
    rgba(204, 204, 204, 1) 0%,
    rgba(204, 204, 204, 1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(204, 204, 204, 1) 50%,
    rgba(204, 204, 204, 1) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: #{$progress-bar-height_luna - ($progress-bar-border-width_luna * 2)} 100%;
}

@keyframes diagonallyStitchedProgressBar {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: #{$progress-bar-height_luna - ($progress-bar-border-width_luna * 2)} 100%;
  }
}


.progress {
  display: block;
  position: relative;
  width: $progress-bar-width;
  box-sizing: border-box;
  appearance: none;
  transition: width 0.25s ease-out;

  background: $progress-bar-background-color_luna;
  height: $progress-bar-height_luna;
  color: $progress-value-backgroundmix_luna;
  border: solid $progress-bar-border-width_luna $progress-bar-border-color_luna;
  margin-bottom: 0;
  margin: 0 auto;
  border-radius: 3px;

  &.progress-striped {
    background-image: linear-gradient(315deg,
          rgba(204, 204, 204, 1) 0%,
          rgba(204, 204, 204, 1) 25%,
          transparent 25%,
          transparent 50%,
          rgba(204, 204, 204, 1) 50%,
          rgba(204, 204, 204, 1) 75%,
          transparent 75%,
          transparent 100%
    );
    background-size: #{$progress-bar-height_luna - ($progress-bar-border-width_luna * 2)} 100%;
  }

  &.progress-striped.active {
    @include lunaProgressBarAnimation();
  }

  &.remove-right-border{
    .progress-bar {
      border-right: 0 none;
    }
  }
  .progress-bar {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    // default style if not type defined
    background: $progress-value-background-color_luna;
    border-right: solid 1px #515f6e;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &.progress-bar-success {
      background: $progress-success-color_luna;
      border-right: 0 none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      color: $progress-success-colormix_luna; // For IE10+
    }

    &.progress-bar-danger {
      background: $progress-error-color_luna;
      border-right: 0 none;
      color: $progress-error-colormix_luna; // For IE10+
      animation: none !important;
    }

    &.progress-bar-warning {
      background: $progress-warning-color_luna;
      border-right: 0 none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      color: $progress-warning-colormix_luna; // For IE10+
    }

    &.progress-bar-info {
      background: $progress-info-color_luna;
      border-right: 0 none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      color: $progress-info-colormix_luna; // For IE10+
    }
  }
}

.progress + .progress-bar-label {
  margin-top: $progress-label-gutter_luna;
  display: block;
  font: $progress-label-font;
  color: $progress-label-color;

  &.align-left {
    text-align: left;
  }
  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }
}