<div class="modal-header" ng-class="{'error': wizard.showSubmitError}">
    <i ng-if="icon" class="title-icon" ng-class="icon"></i>

    <h3 class="modal-title">{{ wizard.title }}</h3>
    <i class="close-icon" ng-click="close()" ng-if="!wizard.processing"></i>

    <div class="akam-status-message-wrapper" ng-if='wizard.showSubmitError'>
        <div class="akam-status-message-item-wrapper" ng-class="{'error': wizard.showSubmitError}">
            <div class="akam-status-message-item">
                <div class="status-message-content">{{ wizard.errorMessage }}</div>
            </div>
        </div>
    </div>
</div>

<div class="wizard-steps" ng-class="{'error': wizard.showSubmitError}" data-number-of-steps="{{wizard.steps.length}}">
    <ul>
        <li ng-class="wizard.stepClasses(step.id)" ng-repeat="step in ::wizard.steps" ng-click="wizard.activateStep(step.id)">
            <div>{{ $index + 1 }}</div>
            <br/>
            <span>{{ ::step.name }}</span>
        </li>
    </ul>
</div>

<akam-wizard-content></akam-wizard-content>

<div class="modal-footer">
    <button type="button" class="button large" ng-click="wizard.previousStep()" ng-disabled="wizard.stepIndex == 0">
        {{ ::wizard.previousLabel }}
    </button>

    <span ng-switch on="wizard.stepIndex === wizard.steps.length - 1" class="button-switch">
        <akam-spinner-button ng-switch-when="true" class="large" ng-click="submit(wizard)"
                             disabled="!wizard.isValid()"
                             processing="wizard.processing"
                             text-content="{{ ::wizard.submitLabel }}"></akam-spinner-button>
        <button ng-switch-default type="button" class="button large primary" ng-click="wizard.nextStep()" ng-disabled="!wizard.isValid()">
            {{ ::wizard.nextLabel }}
        </button>
    </span>
</div>

