<div class="modal-header">
    <h3 class="modal-title">{{ ::title }}</h3>
</div>

<div class="wizard-steps">
    <ul>
        <li ng-class="stepClasses(step.id)" ng-repeat="step in steps" ng-click="activateStep(step.id)"><div>{{ $index + 1 }}</div><span>{{ step.name }}</span></li>
    </ul>
</div>

<akam-wizard-content></akam-wizard-content>

<div class="modal-footer">
    <button type="button" class="button large" ng-click="previousStep()" ng-disabled="stepIndex == 0">
        {{ ::previousLabel }}
    </button>

    <span ng-switch on="stepIndex == steps.length - 1">
        <button ng-switch-when="true" type="button" class="button large primary" ng-click="submit()" ng-disabled="!isValid()">
            {{ ::submitLabel }}
        </button>

        <button ng-switch-default type="button" class="button large primary" ng-click="nextStep()" ng-disabled="!isValid()">
            {{ ::nextLabel }}
        </button>
    </span>
</div>

