<div class="akam-time-picker input-group" ng-class='{open:timepicker.isOpen}'>
    <input type="text"
      time-formatter
      class="form-control"
      ng-class="{readonly: timepicker.isReadonly}"
      ng-model="timepicker.inputTime"
      ng-click="timepicker.toggle($event)"
      show-meridian='timepicker.showMeridian'
      hour-step="timepicker.hourStep"
      minute-step="timepicker.minuteStep"
      ng-disabled='timepicker.isDisabled'
      ng-readonly="timepicker.isReadonly"
      placeholder="{{::timepicker.placeholder}}"
      is-minute-disabled='timepicker.isMinuteDisabled()'>

    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="timepicker.toggle($event)"
              ng-disabled='timepicker.isDisabled' tabindex="0" ng-class="{readonly: timepicker.isReadonly}">
        <i class="aci-time" ng-disabled='timepicker.isDisabled' ng-class="{readonly: timepicker.isReadonly}"></i>
      </button>
    </span>

    <div class="dropdown-menu" ng-show="timepicker.isOpen" ng-class='{open:timepicker.isOpen}'>
        <timepicker ng-model="timepicker.inputTime" ng-change="timepicker.changed()" hour-step="timepicker.hourStep" minute-step="timepicker.minuteStep" show-meridian="timepicker.showMeridian"></timepicker>
    </div>
</div>