<div class="akam-date-picker" ng-class="datepicker.mode">
  <input
    type="text"
    datepicker-popup="{{ datepicker.format }}"
    ng-model="datepicker.value"
    ng-change="change()"
    is-open="datepicker.opened"
    datepicker-options="datepicker.dateOptions"
    datepicker-mode="datepicker.mode"
    min-date="{{ datepicker.min }}"
    max-date="{{ datepicker.max }}"
    placeholder="{{ datepicker.placeholder }}"
    ng-click="datepicker.toggle($event)"
    readonly="readonly"
    ng-disabled="datepicker.isDisabled"
    show-button-bar="false"> <i class="luna-close clear-date util-clickable" ng-if="showClear()"
                                ng-click="clearDate()"></i>
  <button type="button" class="button" ng-click="datepicker.toggle($event)" ng-disabled="datepicker.isDisabled">
    <i class="luna-calendar icon-states" ng-disabled="dateicker.isDisabled"></i>
  </button>
</div>
