$arrow-background: inline-svg-image("svg/arrow-smDown.svg") center no-repeat;
$arrow-disabled-background: inline-svg-image("svg/arrow_smDown_disabled.svg") center no-repeat;
$selected-option-background-color: #f4f4f4;
$dropdown-button-gradient: linear-gradient(to bottom, #fff, #e6e6e6);
$dropdown-button-gradient-hover: linear-gradient(to bottom, #f4f4f4, #c8c8c8);
$dropdown-button-gradient-active: linear-gradient(to bottom, #c8c8c8, #f4f4f4);
$dropdown-selected-option-background-color: #f4f4f4;
$dropdown-button-active-hover-border-color: #999;
$dropdown-button-disabled-color: #e6e6e6;

.dropdown-menu.append-body {
  position: absolute;
  border: 0 none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  div.fixed-header {
    padding: 4px 5px;

    & input {
      width: 100%;
      padding-right: 23px;

      &::-ms-clear {
        display: none;
      }
    }

    & i.clear-filter {
      position: absolute;
      top: 12px;
      right: 13px;
    }
  }
  a {
    -webkit-transform: translate3d(0, 0, 0);
    cursor: pointer;
  }
}

.dropdown.akam-dropdown {
  min-width: 180px;
  width: 100%;

  & > .dropdown-toggle {
    display: inline-block;
    cursor: pointer;
    height: 28px;
    width: 100%;

    & > span {
      display: inline-block;
      border: 1px solid $border-color;
      height: 100%;
      vertical-align: middle;
    }

    & > span.selected-option {
      margin-right: -4px;
      line-height: 28px;
      padding: 0 20px 0 10px;
      width: calc(100% - 28px);
      background-color: $dropdown-selected-option-background-color;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      @include box-shadow($input-box-shadow);
      @include ellipsis();

      &.disabled {
        @include user-select(none);
        background-color: $input-background-color-disabled;
        border-color: $input-border-color-disabled;
        box-shadow: none;
        cursor: default;
        span:first-child {
          @include placeholder-enhanced($dropdown-button-disabled-color, italic);
          color: $dropdown-button-disabled-color;
        }
        & + span {
          background: $arrow-disabled-background;
          border-color: $button-border-color-disabled;
          cursor: default;
          background-color: $button-background-color-disabled;
        }
      }
    }

    & > span:last-child {
      width: 28px;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background: $arrow-background, $dropdown-button-gradient;
    }
    & > i.clear-dropdown {
      position: absolute;
      right: 36px;
      top: 9px;
    }

    &:hover {
      & > span:last-child {
        border-color: $dropdown-button-active-hover-border-color;
        background: $arrow-background, $dropdown-button-gradient-hover;
      }
    }

    &:active {
      & > span:last-child {
        border-color: $dropdown-button-active-hover-border-color;
        background: $arrow-background, $dropdown-button-gradient-active;
      }
    }

    & .dropdown-placeholder {
      color: #ccc;
      font-style: italic;
    }
  }

  & div.dropdown-menu {
    width: calc(100% - 1px);
    border-top: none;

    & div.fixed-header {
      padding: 4px 5px;

      & input {
        width: 100%;
        padding-right: 23px;

        &::-ms-clear {
          display: none;
        }
      }

      & i.clear-filter {
        position: absolute;
        top: 12px;
        right: 13px;
      }
    }

    & ul.dropdown-menu {
      overflow-x: hidden;
      overflow-y: auto;
      -ms-overflow-y: auto;

      // fix for weird rendering issue when filtering in chrome
      a {
        -webkit-transform: translate3d(0, 0, 0);
        cursor: pointer;
      }
    }
  }

}
