$arrow-background: inline-svg-image("svg/arrow-smDown.svg") center no-repeat;
$arrow-disabled-background: inline-svg-image("svg/arrow_smDown_disabled.svg");
$selected-option-background-color: #f4f4f4;
$dropdown-button-gradient: linear-gradient(to bottom, #fff, #e6e6e6);
$dropdown-button-gradient-hover: linear-gradient(to bottom, #f4f4f4, #c8c8c8);
$dropdown-button-gradient-active: linear-gradient(to bottom, #c8c8c8, #f4f4f4);
$dropdown-selected-option-background-color: #f4f4f4;
$dropdown-button-active-hover-border-color: #999;
$dropdown-width: 195px;

.dropdown.akam-dropdown {
  width: $dropdown-width;

  .dropdown-menu {
    > li > a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  & > .dropdown-toggle {
    display: inline-block;
    cursor: pointer;
    height: 28px;
    width: 100%;

    & > .dropdown-selected-wrapper {

      height: 100%;

      & > span {
        display: inline-block;
        border: 1px solid $border-color;
        height: 100%;
        vertical-align: middle;
      }

      & > span.selected-option {
        margin-right: -4px;
        line-height: 28px;
        padding: 0 25px 0 10px;
        width: calc(100% - 28px);
        background-color: $dropdown-selected-option-background-color;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        @include box-shadow($input-box-shadow);
        @include ellipsis();

        &.disabled {
          @extend %inputDisabledStyles;
          cursor: not-allowed;
          color: $colors__gray4;

          & + span {
            cursor: not-allowed;
          }
        }
        &.readonly {
          @extend %inputReadonlyStyles;
          cursor: default;

          & + span {
            cursor: default;
          }

        }
        &.disabled,
        &.readonly {
          & + span {
            @extend %inputDisabledStyles;
            background-image: $arrow-disabled-background;
            brackground-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      & > span:last-child {
        width: 28px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background: $arrow-background, $dropdown-button-gradient;
      }
      & > i.clear-dropdown {
        position: absolute;
        right: 36px;
        top: 9px;
      }
    }

    &:hover .dropdown-selected-wrapper {
      & > span:last-child {
        border-color: $dropdown-button-active-hover-border-color;
        background: $arrow-background, $dropdown-button-gradient-hover;
      }
    }

    &:active .dropdown-selected-wrapper {
      & > span:last-child {
        border-color: $dropdown-button-active-hover-border-color;
        background: $arrow-background, $dropdown-button-gradient-active;
      }
    }

    & .dropdown-selected-wrapper .dropdown-placeholder {
      color: $colors__gray6;
      font-style: italic;
    }
  }

  & div.dropdown-menu {
    min-width: 100%;
    max-width: 125%;

    & div.fixed-header {
      padding: 4px 5px;
      background-color: inherit;

      & input {
        width: 100%;
        padding-right: 23px;

        &::-ms-clear {
          display: none;
        }
      }

      & i.clear-filter {
        position: absolute;
        top: 12px;
        right: 13px;
      }
    }

    & ul.dropdown-menu {
      overflow-x: hidden;
      overflow-y: auto;
      -ms-overflow-y: auto;
      max-width: 100%;

      // fix for weird rendering issue when filtering in chrome
      a {
        -webkit-transform: translate3d(0, 0, 0);
        cursor: pointer;
      }
    }
  }

}

.dropdown-menu.append-body {
  position: absolute;
  min-width: $dropdown-width;

    div.fixed-header {
      padding: 4px 5px;
      background-color: inherit;
      @include ellipsis();

      & input {
        width: 100%;
        padding-right: 23px;

        &::-ms-clear {
          display: none;
        }
      }

      & i.clear-filter {
        position: absolute;
        top: 12px;
        right: 13px;
      }
    }
    a {
      -webkit-transform: translate3d(0, 0, 0);
      cursor: pointer;
    }
}

