<div class="akam-menu-button dropdown" ng-class="menuButton.position" dropdown>

  <button type="button" class="btn btn-default dropdown-toggle menu-button" dropdown-toggle ng-click="$event.stopPropagation()">
    <i class="luna-gear"></i>
  </button>

  <button type="button" class="btn btn-default split-button">
    <akam-menu-button-placeholder ng-non-bindable></akam-menu-button-placeholder>
  </button>
  <button type="button" class="btn btn-default dropdown-toggle split-button" dropdown-toggle ng-click="$event.stopPropagation()">
    <i class="caret-dropdown luna-arrow_smDown"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <akam-menu-button-item-placeholder ng-non-bindable></akam-menu-button-item-placeholder>
  </ul>
</div>