<span class="akam-menu-button dropdown" ng-class="position" data-dropdown>
    <i class="luna-gear icon-states" ng-if="iconOnly" data-dropdown-toggle ng-click="$event.stopPropagation()"></i>
    <button type="button" class="btn dropdown-toggle" ng-if="!iconOnly" data-dropdown-toggle ng-click="$event.stopPropagation()">
        <span ng-if="label" class="label">{{ label }}</span> <i class="caret-dropdown luna-arrow_smDown"></i>
    </button>
    <ul class="dropdown-menu" role="menu" ng-transclude>
    </ul>
</span>
