<div class="akam-menu-button btn-group dropdown" ng-class="::menuButton.position" dropdown>

  <button type="button"
          class="btn btn-default dropdown-toggle menu-button"
          ng-class="::menuButton.btnSize"
          ng-disabled="menuButton.isDisabled"
          ng-click="$event.stopPropagation()"
          ng-if="::!menuButton.defaultText"
          dropdown-toggle>
    <i class="aci-multiple-setting-options"></i>
  </button>

  <button type="button" class="btn btn-default split-button"
          ng-class="::menuButton.btnSize"
          ng-disabled="menuButton.isDisabled"
          ng-click="menuButton.onClick()"
          ng-if="::menuButton.defaultText"
          translate="{{ ::menuButton.defaultText }}"
          translate-values="{{::menuButton.defaultTextValues}}">
  </button>
  <button type="button"
          class="btn btn-default dropdown-toggle split-button"
          ng-class="::menuButton.btnSize"
          ng-disabled="menuButton.isDisabled"
          ng-click="$event.stopPropagation()"
          ng-if="::menuButton.defaultText"
          dropdown-toggle>
    <i class="aci-caret-bottom caret-dropdown"></i>
  </button>

  <ul class="dropdown-menu"
      ng-class="::menuButton.size"
      role="menu"
      ng-transclude>
  </ul>
</div>