ul.akam-status-message-wrapper {
  position: fixed;
  z-index: $status-message-zindex;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.akam-status-message-item-wrapper {
  color: $status-message-color;
  font-size: $status-message-font-size;
  @include transition(opacity linear 0.5s);

  &, &.success {
    background: $status-message-success-background;
    border: solid 0 darken($status-message-success-background, 10%);

    .alert {
      padding-left: ($status-message-icon-size * 2);

      &:before {
        margin-top: -#{$status-message-icon-size / 2};
        margin-left: 0;
        width: $status-message-icon-size;
        height: $status-message-icon-size;
        background: transparent center center no-repeat;
        background-image: inline-svg-image("svg/checkmark_white.svg");
        background-size: contain;
      }
    }
  }

  &.information {
    background: $status-message-info-background;
    border-top-color: darken($status-message-info-background, 10%);

    .alert {
      &:before {
        background-image: inline-svg-image("svg/information-white.svg");
      }
    }
  }

  &.warning {
    background: $status-message-warning-background;
    border-top-color: darken($status-message-warning-background, 10%);

    .alert {
      &:before {
        background-image: inline-svg-image("svg/error-white.svg");
      }
    }
  }

  &.error {
    background: $status-message-error-background;
    border-top-color: darken($status-message-error-background, 10%);

    .alert {
      &:before {
        background-image: inline-svg-image("svg/danger_white.svg");
      }
    }
  }

  & + .akam-status-message-item-wrapper {
    border-top-width: 1px;
  }

  .alert {
    width: 90%; // Supplemented by a max-width, whose context is dependent on the environment (Luna, Pulsar, etc)
    max-width: 990px;
    background: transparent;

    .close {
      right: 0;
    }

    p {
      margin: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
}
