ul.akam-status-message-wrapper {
  position: fixed;
  z-index: $status-message-zindex;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.akam-status-message-item-wrapper {
  color: $status-message-color;
  font-size: $status-message-font-size;
  transition: opacity linear 0.5s;
  border-style: solid;
  border-width: 0;

  .alert {
    padding-left: ($status-message-icon-size * 2);
    width: 90%; // Supplemented by a max-width, whose context is dependent on the environment (Luna, Pulsar, etc)
    max-width: 990px;
    background: transparent;

    .close {
      right: 0;
    }

    p {
      margin: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50.01%);
      left: 0;
    }
  }

  &.success {
    background: $status-message-success-background;
    border-color: darken($status-message-success-background, 10%);
    
    .alert {
      @include aci(check-circle-filled, $status-message-icon-size);
    }
  }

  &.information {
    background: $status-message-info-background;
    border-top-color: darken($status-message-info-background, 10%);

    .alert {
      @include aci(info, $status-message-icon-size);
    }
  }

  &.warning {
    background: $status-message-warning-background;
    border-top-color: darken($status-message-warning-background, 10%);

    .alert {
      @include aci(warning, $status-message-icon-size);
    }
  }

  &.error {
    background: $status-message-error-background;
    border-top-color: darken($status-message-error-background, 10%);

    .alert {
      @include aci(danger, $status-message-icon-size);
    }
  }

  & + .akam-status-message-item-wrapper {
    border-top-width: 1px;
  }

}
