.akam-tabs {
  position: relative;

  & .tab-content {
    padding-top: 30px;
  }

  & .nav-tabs {
    & + .tab-content {
      border: solid 1px $tab-border-color;
      border-top-width: 0px;
      border-radius: 0 0 $tab-border-radius $tab-border-radius;
      padding: 30px 15px;
      background-color: $tab-background-color-active;
    }
  }

  & .nav-pills {
     & + .tab-content {
       padding: 0 0.1em;
     }
  }

  & .nav-stacked {
     & + .tab-content {
       display: inline-block;
       position: absolute;
       width: calc(100% - 90px);
       border-top-width: 1px;
     }
  }
}
