
input[type="checkbox"] {
  // Remove the input from the document flow and hide it
  position: absolute;
  width: 0;
  height: 0;
  @include opacity(0);

  & + label,
  & + .label {
    // Override TWBS
    font-weight: normal;
    padding-left: 0;
  }

  // Adjacent labels will construct a custom input using the content property
  & + label:before,
  & + .label:before {
    content: "";
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    // By default, checkboxes want space between it and its label
    padding-right: $checkbox-label-padding;
    @include luna-sprite(checkbox);
    // Override TWBS
    @include box-sizing(content-box);
  }
}

input[type="checkbox"] {
  // The cascade order matters here: Disabled > Active > Hover > Focus > Default
  &:focus + label:before,
  &:focus + .label:before {
    @include luna-sprite(checkbox_focus);
  }
  &:hover + label:before,
  &:hover + .label:before {
    @include luna-sprite(checkbox_hover);
  }
  &:active + label:before,
  &:active + .label:before {
    @include luna-sprite(checkbox_active);
  }
  &:disabled + label:before,
  &:disabled + .label:before {
    @include luna-sprite(checkbox_disabled);
  }

  // The states for a checked checkbox
  &:checked {
    // The cascade order matters here: Disabled > Active > Hover > Focus > Default
    & + label:before,
    & + .label:before {
      @include luna-sprite(checkbox-selected);
    }
    &:focus + label:before,
    &:focus + .label:before {
      @include luna-sprite(checkbox-selected_focus);
    }
    &:hover + label:before,
    &:hover + .label:before {
      @include luna-sprite(checkbox-selected_hover);
    }
    &:active + label:before,
    &:active + .label:before {
      @include luna-sprite(checkbox-selected_active);
    }
    &:disabled + label:before,
    &:disabled + .label:before {
      @include luna-sprite(checkbox-selected_disabled);
    }
  }
  
  
}



&.luna input[type="checkbox"] {
  // Luna tweaks here
}

&.pulsar input[type="checkbox"] {
  // Pulsar tweaks here
}