@import '../uxd_colors';
@import '../uxd_variables';
@import '../variables';
@import '../mixins';

$dropdown-fixed-header-padding: 10px;
$dropdown-max-items: 8;

.dropdown {
  display: inline-block;
  line-height: 1;

  &.right .dropdown-menu {
    @extend .dropdown-menu-right;
  }

  &.left .dropdown-menu {
    @extend .dropdown-menu-left;
  }

  & > button > i {
    cursor: pointer;
    vertical-align: middle;
  }

  & > button[disabled] {
    > i, > li > a {
      cursor: default;
    }
  }
  
  &.open > button > i.luna-gear {
    @extend .luna-gear:hover;
  }

  // default action is rendered as a LI inside of a button so we have to heavily modify it
  & > .split-button:first-of-type {
    padding: 0;

    &[disabled] > li > a {
      color: $colors__gray7;
    }

    // unfortunately, the li has the ng-click attribute, so we need to take away the padding from
    // the surrounding button and add it to the LI element so we have the largest possible click
    // target
    & > li {
      display: block;
      list-style: none;
      padding: $button-padding-tb $button-padding-lr;
      height: 100%;
      line-height: 26px;

      & > a {
        color: $colors__gray2;
      }
    }

    &.small > li {
      line-height: 22px;
    }

  }
}

// if we have a split button, make the dropdown menu be at least as wide as the split button
// With a regular menu button (gear icon), the 160px minimum will likely apply
.split-button {
  + .dropdown-menu, + .dropdown-menu.small {
    min-width: 100%;
  }

}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  margin-top: -1px;
  overflow-x: auto;
  max-height: #{$dropdown-item-line-height * $dropdown-max-items};
  @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, .25));

  &.small {
    min-width: 120px;

    > li > a {
      line-height: $dropdown-item-line-height-small;
      font-size: $button-text-size-small;
    }
  }


  > li > a,
  > .fixed-header {
    padding: 0 $dropdown-item-right-padding 0 $dropdown-item-left-padding;
    line-height: $dropdown-item-line-height;
    //@include ellipsis();

    &:not(.fixed-header):active {
      background-color: $dropdown-link-active-bg;
    }
  }
  
  .fixed-header {
    line-height: 1;
    padding: $dropdown-fixed-header-padding;
  }
}


div.dropdown-menu {
  max-height: #{($dropdown-item-line-height * ($dropdown-max-items - 1)) + ($dropdown-fixed-header-padding * 2) + ($input-height) + 2};
  
  > ul.dropdown-menu {
    display: block;
    position: static;
    min-width: 100%;
    box-shadow: none;
    border: 0 none;
    max-height: #{$dropdown-item-line-height * ($dropdown-max-items - 1)};
  }

}
