/* take back the .label power! */
.label {
  display: inline-block;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  text-align: left;
  text-align: start;
  white-space: normal;
  vertical-align: initial;
  border-radius: 0;
}



/* support TWBS and Common CSS radios/checkboxes */

/*
.radio,
.radio-inline {
  
  input[type="radio"] {
    width: initial;
    height: initial;
    opacity: 1;
  }
}

.checkbox,
.checkbox-inline {
  
  input[type="checkbox"] {
    width: initial;
    height: initial;
    opacity: 1;
  }
}

.radio,
.checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.radio-inline,
.checkbox-inline {
  padding-left: 0;

  & + .radio-inline,
  & + .checkbox-inline {
    margin-left: 15px;
  }
}
*/


/* address labels */
.form-horizontal {
  .form-group {
    label {
      text-align: right;
      padding-right: 10px;
      line-height: 28px;
    }
    
    .radio-inline,
    .checkbox-inline,
    .radio,
    .checkbox {
      padding-top: 0;
      
      input {
        margin-left: 0;
      }
      
      label {
        line-height: inherit;
        padding-left: 0;
      }
    }
    
    .radio,
    .checkbox {
      min-height: 0;
      
      & + .radio,
      & + .checkbox {
        margin-top: 10px;
      }
    }
  }
}

label {
  // Override TWBS
  margin: 0;

  /*
  & + input[type="text"],
  & + input[type="search"],
  & + input[type="email"],
  & + textarea {
    margin-left: $input-label-spacing;
  }
  */
}


.form-horizontal {
  & + .form-horizontal {
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }

}


/* legends */
.form-horizontal {
  legend {
    border-bottom: 0 none;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    
    & > * {
      display: block;
      
      &:not(:first-child) {
        font-size: 12px;
        font-weight: normal;
        margin-top: 10px;
      }
    }
  }
}


/* status messages */
.form-horizontal {
  position: relative;
  
  .akam-status-message-wrapper {
    position: relative;
    margin-bottom: 10px;
  }
}