
/* angular form validation classes */
input[type="text"],
input[type="search"],
input[type="email"],
input[type="date"],
input[type="month"],
input[type="number"],
textarea {

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    border-color: $border-color-invalid;
    border-width: 2px;
  }

}

input[type="search"],
input[type="date"],
input[type="month"] {

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {

    & ~ .button,
    & ~ .btn {
      border-left-color: $border-color-invalid;
    }
  }

}


[ng-messages] { 
  display: none; // addresses FOUC
  
  color: #9f1a00;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ng-invalid:not(.ng-untouched) ~ [ng-messages] {
  display: block;
}


/* dropdown menu validation */
ul.dropdown-menu {

  &.ng-invalid {
    border-color: $border-color-invalid;
  }

}



/* date picker validation */
.akam-date-picker.ng-invalid {

  &.ng-touched {
    & > input {
      border-color: $border-color-invalid;

      & ~ .button,
      & ~ .btn {
        border-left-color: $border-color-invalid;
      }
    }
  }

  ul.dropdown-menu {
    border-color: $border-color-invalid;
  }
}


/* optional field marking */
.form-horizontal:not(.show-required) {
  .form-group:not(.required) > label {
    line-height: 1.2;
    &:after {
      content: '\A (optional)';
      font-weight: normal;
      white-space: pre;
      color: $colors__gray4;
    }
  }
}


.form-horizontal.show-required {
  .form-group.required > label {
    line-height: 1.2;
    &:after {
      content: '\A (required)';
      font-weight: normal;
      white-space: pre;
      color: $colors__gray4;
    }
  }
}