
label {
  // Override TWBS
  margin: 0;

  & + input[type="text"],
  & + input[type="search"],
  & + input[type="email"],
  & + textarea {
    margin-left: $input-label-spacing;
  }
}

label.label {
  // Explicitly reset "label.label" to not use TWBS .label defaults
  display: inline-block;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  text-align: left;
  text-align: start;
  white-space: normal;
  border-radius: 0;
  // Now style label.label as normal...
}

label.label,
label.label-inline {
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}

label.label {
  margin-bottom: 10px;
}

label.label-inline {
  display: inline;
  margin-right: 10px;
}

.form-group.required label,
label.required {
  &:after {
    content: "*";
    color: lighten($input-border-color-invalid, 10%);
    margin-left: $input-validation-icon-gutter;
  }
}

.form-group {
  margin-bottom: 10px;

  label + .form-control {
    margin-top: $input-label-spacing;
    margin-left: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-form .form-group {
    margin-bottom: 0;
  }
}

.form-inline {

  .form-group {

    label {

      & + .form-control {
        margin-top: 0;
        margin-left: $input-label-spacing;
      }
    }
  }
}

.form-horizontal {

  .form-group {

    label {
      display: block;
    }

    input[type="text"],
    input[type="search"],
    input[type="search"] + .button,
    input[type="email"],
    textarea {
      margin-top: $input-label-spacing;
      margin-left: 0;
    }
  }
}

&, &.luna label {
  // Luna tweaks here
}

&.pulsar label {
  // Pulsar tweaks here
}



.radio,
.checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.radio-inline,
.checkbox-inline {
  padding-left: 0;

  & + .radio-inline,
  & + .checkbox-inline {
    margin-left: 15px;
  }
}


