/* take back the .label power! */
label {
  margin: 0;
  font-weight: normal;
}

.label {
  display: inline-block;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  text-align: left;
  text-align: start;
  white-space: normal;
  vertical-align: initial;
  border-radius: 0;
}

.form-control {
  @include transition(none);
}


/* address labels */
.form-horizontal {
  .form-group {
    label {
      text-align: right;
      padding-right: 10px;
      word-wrap: break-word;
    }
    
    .radio-inline,
    .checkbox-inline,
    .radio,
    .checkbox {
      padding-top: 0;
      
      input {
        margin-left: 0;
      }
      
      label {
        padding-left: 0;
      }
    }
    
    .radio,
    .checkbox {
      min-height: 0;
      
      &:first-of-type {
        margin-top: 5px;
      }
      
      & + .radio,
      & + .checkbox {
        margin-top: 5px; // UXD tweak
      }
    }
  }
}

.show-required .form-group.required {
  .radio:first-of-type,
  .checkbox:first-of-type {
    margin-top: 0;
  }
}

.form-horizontal {
  & + .form-horizontal {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 8px;
    
    .form-group:first-of-type {
      margin-top: 8px;
    }
  }

}


/* legends */
.form-horizontal {
  legend {
    border-bottom: 0 none;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bold;
    
    & > * {
      display: block;
      
      &:not(:first-child) {
        font-size: 12px;
        font-weight: normal;
        margin-top: 5px;
      }
    }
  }
}



/* switches */
.form-horizontal .switch-button .switch-button-container label {
    text-align: center;
    padding-right: 0;
    line-height: 16px;
}



/* status messages */
.form-horizontal {
  position: relative;
  
  .form-status-message {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    margin-bottom: 8px;
    position: relative;
    
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
    }
    
    &.error {
      background-color: $colors__red4;
      color: darken($colors__red4, 60%);
      padding-left: luna-sprite-width(warning_red_red) * 3;
      
      &:before {
        @include luna-sprite(warning_red_red);
        width: luna-sprite-width(warning_red_red);
        height: luna-sprite-height(warning_red_red);
        left: luna-sprite-width(warning_red_red);
      }
    }
    
    &.success {
      background-color: $colors__green3;
      color: darken($colors__green3, 60%);
      padding-left: luna-sprite-width(checkmark_green) * 3;
      
      &:before {
        @include luna-sprite(checkmark_green);
        width: luna-sprite-width(checkmark_green);
        height: luna-sprite-height(checkmark_green);
        left: luna-sprite-width(checkmark_green);
      }
    }
  }

}