
input[type="text"],
input[type="search"],
input[type="email"],
input[type="date"],
input[type="month"],
input[type="number"],
textarea {
  background-color: $input-background-color;
  border: solid 1px $input-border-color;
  height: $input-height;
  padding: 0 0 0 $input-padding;
  color: $input-text-color;
  font-size: $input-text-size;
  font-family: inherit;
  outline: none;
  vertical-align: middle;
  line-height: normal;
  @include box-sizing(border-box);
  @include box-shadow($input-box-shadow);
  @include border-radius($input-border-radius);
  @include placeholder-enhanced($input-placeholder-text-color, italic);

  &:focus {
    border-color: $input-border-color-focus;
    background-color: $input-background-color-focus;
    @include box-shadow(none);
  }

  &:disabled,
  &[readonly] {
    background-color: $input-background-color-disabled;
    border-color: $input-border-color-disabled;
    color: $input-text-color-disabled;
    @include box-shadow(none);

    &:focus,
    &:required {
      border-color: $input-border-color-disabled;
      @include box-shadow(none);
    }
  }
  
  &[readonly] {
    color: $input-text-color-readonly;
  }
}


input[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }

  &:disabled ~ .btn, 
  &[readonly] ~ .btn {
    background: $button-background-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
    cursor: default;

    i {
      opacity: $input-button-icon-opacity-disabled;
    }
  }
}

input[type="search"],
input[type="date"],
input[type="month"] {
  padding-right: #{$input-border-radius * 2};
  @include appearance(textfield);

  & ~ .btn {
    min-width: 0;
    margin-left: -#{$input-border-radius * 3};
    @include border-left-radius(0);

    i {
      vertical-align: middle;
    }
  }

  &:focus ~ .btn {
    border-left-color: $input-border-color-focus;
  }
}


textarea {
  height: auto;
  padding: $textarea-padding-top 0 0 $input-padding;

  &.large {
    min-height: 6em;
  }
}

&.luna {
  // Luna tweaks here
}

&.pulsar {
  // Pulsar tweaks here
}
