
.breadcrumb {
  margin-bottom: 0;
  
  > li + li:before {
    content: "\00a0\00a0#{$breadcrumb-separator}\00a0\00a0"; // Unicode space added since inline-block means non-collapsing white-space
    padding: 0;
  }
}