$dropdown-fixed-header-padding: 10px;
$dropdown-max-items: 8;

.dropdown {
  display: inline-block;
  line-height: 1;

  &.right .dropdown-menu {
    @extend .dropdown-menu-right;
  }

  &.left .dropdown-menu {
    @extend .dropdown-menu-left;
  }

  // the gear icon here doesn't appear to vertically align correctly so we move it up
  & > button.small > i.luna-gear {
    margin-top: -2px;
  }

  & > button > i {
    cursor: pointer;
    vertical-align: middle;
  }

  & > button[disabled] {
    > i,
    > li > a {
      cursor: not-allowed;
    }
  }

  &.open > .btn-default.dropdown-toggle {
    color: $button-text-color;
    border-color: $dropdown-border-color-active;
    @include background-image(linear-gradient($button-gradient-bottom-hover, $button-gradient-top-hover));
  }

  &.open > button > i.luna-gear {
    @extend .luna-gear:hover;
  }

}


.menu-button {

  &:active {
    border-color: $dropdown-border-color-active;
  }

  &:disabled {
    border-color: $button-border-color-disabled;
  }
}

.split-button {

  &:active {
    border-color: $dropdown-border-color-active;
  }

  &:disabled {
    border-color: $button-border-color-disabled;
  }

  // this renders the dark border when the split button is active.
  &:first-of-type:active {
    border-color: $dropdown-border-color-active;
    @include background-image(linear-gradient($button-gradient-bottom-hover, $button-gradient-top-hover));

    // ridiculous that this is needed but the dropdown has a -6px margin so we have to hack the
    // split button's right border by coloring the left border for the adjacent caret button
    & + .split-button {
      border-left-color: $dropdown-border-color-active;
    }
  }

  &:first-of-type:disabled {

    & + .split-button {
      border-left-color: $button-border-color-disabled;
    }
  }

  // if we have a split button, make the dropdown menu be at least as wide as the split button
  // With a regular menu button (gear icon), the 160px minimum will likely apply
  + .dropdown-menu, + .dropdown-menu.small {
    min-width: 100%;
  }

}

.dropdown-menu {
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-y: auto;
  list-style: none;
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  max-height: #{$dropdown-item-line-height * $dropdown-max-items};
  @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, .25));

  &.small {
    min-width: 120px;

    > li > a {
      line-height: $dropdown-item-line-height-small;
      font-size: $button-text-size-small;
    }
  }

  > li > a,
  > .fixed-header {
    padding: 0 $dropdown-item-right-padding 0 $dropdown-item-left-padding;
    line-height: $dropdown-item-line-height;

    &:not(.fixed-header):active {
      background-color: $dropdown-link-active-bg;
    }
  }

  .fixed-header {
    line-height: 1;
    padding: $dropdown-fixed-header-padding;
  }
}

.direction-up .dropdown-menu {
  @include box-shadow(none);
  border: solid 1px #CCC;

}

div.dropdown-menu {
  max-height: #{($dropdown-item-line-height * ($dropdown-max-items - 1)) + ($dropdown-fixed-header-padding * 2) + ($input-height) + 2};

  > ul.dropdown-menu {
    display: block;
    position: static;
    min-width: 100%;
    box-shadow: none;
    border: 0 none;
    max-height: #{$dropdown-item-line-height * ($dropdown-max-items - 1)};
  }

}


.input-group > div.dropdown-menu {
  display: inline-table;
}