
.list-group-item + .list-group-item {
  border-top-color: $colors__gray8;
  
  &.active {
    border-bottom-color: $colors__gray8;
    
    &:hover {
      border-top-color: $colors__gray8;
    }
  }
}