
input[type="radio"] {
  // Remove the margin-right for browsers that get a custom input
  margin-right: 0;
  // Remove the input from the document flow and hide it
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  & + label,
  & + .label {
    // Override TWBS
    font-weight: normal;
    padding-left: 0;
  }

  // Adjacent labels will construct a custom input using the content property
  & + label:before,
  & + .label:before {
    content: "";
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    padding-right: $radio-label-margin; // By default, radios want space between it and its label
    box-sizing: content-box;
    @include svg("radio-deselect-default", 12px, 12px);
  }

}

input[type="radio"] {
  // The cascade order matters here: Disabled > Active > Hover > Focus > Default
  &:focus + label:before,
  &:focus + .label:before {
    @include svg("radio-deselect-focus", 12px, 12px);
  }
  &:hover + label:before,
  &:hover + .label:before {
    @include svg("radio-deselect-hover", 12px, 12px);
  }
  &:active + label:before,
  &:active + .label:before {
    @include svg("radio-deselect-down", 12px, 12px);
  }
  &:disabled + label:before,
  &:disabled + .label:before {
    @include svg("radio-deselect-disable", 12px, 12px);
  }

  // The states for a checked radio button
  &:checked {
    // The cascade order matters here: Disabled > Active > Hover > Focus > Default
    & + label:before,
    & + .label:before {
      @include svg("radio-default", 12px, 12px);
    }
    &:focus + label:before,
    &:focus + .label:before {
      @include svg("radio-focus", 12px, 12px);
    }
    &:hover + label:before,
    &:hover + .label:before {
      @include svg("radio-hover", 12px, 12px);
    }
    &:active + label:before,
    &:active + .label:before {
      @include svg("radio-down", 12px, 12px);
    }
    &:disabled + label:before,
    &:disabled + .label:before {
      @include svg("radio-disable", 12px, 12px);
    }
  }
}


.radio-inline {
  padding-left: 0px;
}