<div class="message-box">
    <h3 class="message-box-headline">{{ messageBox.headline }}</h3>
    <p class="message-box-text">{{ messageBox.text }}</p>
    <div class="message-box-details" ng-if="messageBox.details">
        <span ng-click="toggle()">
            View details
            <i ng-class="isCollapsed() ? 'svg-caret-right' : 'svg-caret-down'">
            </i>
        </span>
        <div collapse="isCollapsed()">
            <p>{{ messageBox.details }}</p>
        </div>
    </div>
</div>
