

$list-box-border-color: #ccc;
$list-box-border-width: 1px;
$list-box-border: $list-box-border-width solid $list-box-border-color;
$list-box-data-row-even-background: #f8f8f8;
$list-box-data-row-odd-background: #fff;
$list-box-data-row-hover-background: #ebf6ff;
$list-box-data-row-selected-background: #cee7ff;

$list-box-header-gradient-bottom: #f8f8f8;
$list-box-header-gradient-top: #fff;

$list-box-header-gradient-bottom-hover: #f4f4f4;
$list-box-header-gradient-top-hover: #e6e6e6;

$list-box-cell-border-color : #ededed;
$list-box-cell-border : $list-box-border-width solid $list-box-cell-border-color;

$list-box-filter-icon: luna-sprite-width(close);
$list-box-filter-icon-margin-left: -($list-box-filter-icon + 6px);
$list-box-filter-padding-right: $list-box-filter-icon + 8px;

$list-box-cell-height: 30px;
$list-box-footer-height: 28px;
$list-box-header-height: $list-box-cell-height + $list-box-border-width;
$list-box-row-count: 8;
$list-box-body-height: (($list-box-cell-height + ($list-box-border-width * 2)) * $list-box-row-count);

$data-table-row-count: 10;
$data-table-body-height: (($list-box-cell-height + ($list-box-border-width)) * $data-table-row-count);

.akam-list-box {
  .list-box-data {
    overflow-y: auto;
    height: 298px;
    border-top: $list-box-border;
    border-bottom: $list-box-border;
    position: relative; // Addresses a scrollbar issue in Firefox 36.0.4
  }

  .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: $list-box-body-height; //Note that this should be reset by a user to whatever the more appropriate value is
    min-height: $list-box-body-height;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      border-right: 1px solid white;
    }
    
    // Addresses an issue in firefox trying to calculate the correct height
    @include for("Firefox") {
      max-height: calc(#{$list-box-body-height - $list-box-row-count}); 
      min-height: calc(#{$list-box-body-height - $list-box-row-count}); 
    }
  }

  .list-box-footer {
    height: $list-box-footer-height;
    line-height: $list-box-footer-height;
    padding: 0px 10px;
    label {
      font-weight: normal;
      font-size: 12px;

      &:before {
        margin-right: 5px;
      }
    }
  }
}


.akam-list-box {
  font-size: $body-font-size;
  color: $body-font-color;
  background: #fff;

  .filter, .toolbar {
    height: 36px;
    padding: 4px;

    input {
      width: 100%;
      max-width: 298px;
      padding-right: $list-box-filter-padding-right;
    }

    input + i {
      vertical-align: middle;
      margin-left: $list-box-filter-icon-margin-left;
    }
  }

  .data {
    position: relative;
    border-top: $list-box-border;
    border-bottom: $list-box-border;
  }

  table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0;
  }

  tbody {
    tr:nth-child(even) {
      background-color: $list-box-data-row-even-background;
    }
    tr:nth-child(odd) {
      background-color: $list-box-data-row-odd-background;
    }
    tr:hover {
      background-color: $list-box-data-row-hover-background;
    }
    tr.row-selected {
      background-color: $list-box-data-row-selected-background;
    }
  }

  th {
    text-align: left;
    border-bottom: $list-box-border;
    @include background-image(linear-gradient($list-box-header-gradient-top, $list-box-header-gradient-bottom));
    & + th {
      border-left: $list-box-border;
    }
  }

  th.column-sortable {
    @extend .util-clickable;
    padding-right: 20px;
  }

  th.column-sortable:hover, th.column-sorted {
    position: relative;
    @include background-image(linear-gradient($list-box-header-gradient-top-hover, $list-box-header-gradient-bottom-hover));

    i {
      @extend .luna-arrow-up;
      position: absolute;
      right: 9px;
      top: 38%;
    }

    &.desc i {
      @extend .luna-arrow-down;
    }
  }

  th, td {
    @include ellipsis();
    white-space: nowrap;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 31px;
    line-height: 31px;
  }

  tbody tr td {
    border: 0 solid $list-box-cell-border-color;
    border-top: $list-box-cell-border;
  }

  tbody tr:first-child td {
    border-top: none;
  }

  .column-checkbox {
    width: 30px;
  }

  .column-action {
    width: 80px;
    text-align: center;
  }

  td.column-action {
    overflow: visible;
  }

  tr td.column-action > * {
    visibility: hidden;
  }

  tr:hover td.column-action > * {
    visibility: visible;
  }

  td span.highlighted {
    color: #0099cc;
  }

  .dropdown {

    i + .dropdown-menu {
      margin-top: 3px;
    }
  }

  .empty-table-message {
    position: absolute;
    padding: 10px 10px 10px 36px;
    top: $list-box-header-height;
    left: 0;
    right: 0;

    &.ng-inactive {
      display: none;
    }

    i {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -8px;
    }
  }
}





