<div id="modular-mega-menu-header">
  <header class="top-nav util-clearfix">
    <div class="util-pull-left">
      <a href="/" class="company-logo" title="Home"><i class="company-logo"></i></a> <span
      class="akam-user"></span> <a href="javascript:void(0);"
                                   class="messages-count util-ellipsis"></a> <a
      href="/alerts/?sidebar=HOME_alerts" class="alerts-count util-ellipsis"></a>
    </div>
    <div class="util-pull-right">
      <div class="search-placeholder"></div>
      <span class="help marketplace"></span>

      <div><i class="luna-logo"></i></div>
    </div>
  </header>

  <div class="mega-menu-nav util-clearfix">
    <div class="util-pull-left">
      <span class="context-selector util-pull-left" role="menubar"></span>

      <div class="account-selector"></div>
      <div class="account-selector-menu" role="menubar"></div>
    </div>
    <div class="tabs util-pull-right" role="menubar"></div>
  </div>

  <div class="mega-menu-breadcrumb"></div>

  <div class="common-css">
    <div class="timeout modal-backdrop fade in util-hide"></div>
    <div class="timeout modal fade in" role="dialog"></div>
    <div class="message-center-placeholder"></div>
  </div>

</div>

