{{#if viewStore}}
  <a href="/marketplace/">{{i18n 'header.store'}}</a>
{{/if}}
<a href="{{supportUrl}}">{{i18n 'header.support'}}</a>
{{#if displayCommunity}}
  <a href="https://control.akamai.com/partners/PartnerLogin?partnerId=jive">{{i18n 'header.community'}}</a>
{{/if}}
