.akam-time-picker {
  position: relative;
  width: 127px;

  & > .input-group-btn > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
    padding: 0 8px;

    &.readonly {
      cursor: default;
      opacity: 1;
      background: #ffffff;
      border-color: #e6e6e6;
      color: #e6e6e6;
    }

    > i[disabled],
    > i.readonly {
      @include luna-sprite(time_disabled);
    }
  }

  input.readonly {
    @extend %inputReadonlyStyles;
    cursor: default;
  }

  &.open {
    & > input[type="text"] {
      @extend %inputFocusStyles;

      & ~ .input-group-btn > .btn {
        border-color: #999999;
        border-left-color: $input-border-color-focus;
        @include background-image(linear-gradient($button-gradient-bottom-hover, $button-gradient-top-hover));
      }
    }
  }

  & > input[type='text'] {

    &::-ms-clear {
      display: none;
    }
  }


  .dropdown-menu.open {
    padding: $dropdown-menu-padding;
    min-width: 0;

    input[type='text'] {
      box-shadow: none;
      padding: 0;
      width: $dropdown-menu-input-width;
    }

    table.hover-hour input.hour-input,
    table.hover-minute input.minute-input,
    table.hover-meridian input.meridian-input {
      border-color: $input-border-color-focus;
      background-color: $input-background-color-focus;
    }

    table {
      @include user-select(none);

      td {
        min-width: 15px;

        &.has-error {
          input[type='text'] {
            border-color: $border-color-invalid;
          }
        }

        &:empty {
          min-width: 0;
        }
      }

      a {
        display: block;
        cursor: pointer;

        i {
          vertical-align: middle;
        }
      }

      tr.time-decrement-row {
        a {
          padding-top: $dropdown-menu-arrow-padding;
        }

        td:hover i {
          @include luna-sprite(arrow_smDown_hover);
        }
      }

      tr.time-increment-row {
        a {
          padding-bottom: $dropdown-menu-arrow-padding;
        }

        td:hover i {
          @include luna-sprite(arrow_smUp_hover);
        }
      }

      td.meridian {
        width: 100%;

        input[type='button'] {
          background-color: $input-background-color;
          border: solid 1px $input-border-color;
          outline: none;
          box-shadow: none;
          width: $dropdown-menu-input-width;
          padding: 0;
          @include border-radius($input-border-radius);

          &:hover,
          &:focus {
            border-color: $input-border-color-focus;
            background-color: $input-background-color-focus;
          }
        }
      }
    }
  }


}
