
.modal.akam-message-box {
  z-index: $message-box-zindex;

  .modal-dialog {
    width: 450px;
    margin: 0;
  }
  
  &.in .modal-dialog,
  &.fade .modal-dialog {
    @extend .util-screen-center-box;
  }

  .modal-body {
    max-height: 232px;
    min-height: 0;
  }

  .modal-header {

    .title-icon {
      top: 58%; // TODO: nleon@akamai.com, figure out why this wont align correctly by default
    }

    .title-icon + .modal-title {
      padding-left: $svg-icon-width + $dialog-header-icon-gutter;
    }
  }

  & .modal-content .modal-container > .modal-header .modal-title,
  &.information .modal-content .modal-container > .modal-header .modal-title,
  &.information .title-icon {
    color: $dialog-text-color-info;
  }

  &.question .modal-content .modal-container > .modal-header .modal-title,
  &.question .title-icon {
    color: $dialog-text-color-info;
  }

  &.error .modal-content .modal-container > .modal-header .modal-title,
  &.error .title-icon {
    color: $dialog-text-color-alert;
  }

  .message-box-headline + .message-box-text {
    margin-top: 10px;
  }

  p.message-box-text {
    margin-bottom: 0;
  }

  .message-box-details {
    margin-top: 20px;

    & > *:first-child {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      font-size: 14px;

      & > i {
        margin-left: 5px;
      }
    }

    .collapse {
      display: none;
      visibility: hidden;

      &.in {
        display: block;
        visibility: visible;
      }
    }

    .in {
      margin-top: 10px;
    }

    .collapsing {
      height: 0;
      position: relative;
      transform: translateZ(0);
      transition: height .35s linear, visibility .35s linear;
    }
  }
}

