


// Modal Dialogs
$dialog-background-color: #ffffff;
$dialog-header-background-color: $global-light-gray-gradient;

$dialog-width: auto;
$dialog-min-width: 400px;
$dialog-max-width: 75%;

$dialog-height: auto;
$dialog-min-height: 0;
$dialog-max-height: 75%;

$dialog-left-padding: 15px;
$dialog-right-padding: 15px;

$dialog-text-color: #666666;
$dialog-text-color-info: #2f79c9;
$dialog-text-color-alert: #a32d2d;

$dialog-content-top-padding: 30px;
$dialog-content-bottom-padding: 30px;

$dialog-footer-button-gutter: 10px;
$dialog-footer-top-padding: 15px;
$dialog-footer-bottom-padding: 15px;

$dialog-header-icon-gutter: 10px;
$dialog-header-height: 36px;
$dialog-header-error-height: 54px;
$dialog-gradient-top: #ffffff;
$dialog-gradient-bottom: #f7f7f7;

$dialog-border-color: #666666;
$dialog-border-radius: 3px;

$dialog-separator-color_pulsar: #cccccc;
$dialog-separator-color_luna: #cccccc;

$dialog-mask-color_pulsar: rgba(255, 255, 255, 0.85);
$dialog-mask-color_luna: rgba(34, 43, 53, 0.85);

$dialog-indeterminate-spinner-dimensions: 50px;
$dialog-indeterminate-backdrop-color: rgba(255, 255, 255, .85);


.modal.akam-message-box {
  z-index: $message-box-zindex;

  .modal-content {
    width: 450px;
    @include for("IE10+") {
      height: auto;
    }
  }

  .modal-body {
    max-height: 232px;
  }

  .modal-header {

    .title-icon {
      display: inline-block;
    }

    .title-icon + .modal-title {
      padding-left: $svg-icon-width + $dialog-header-icon-gutter;
    }
  }

  & .modal-content > .modal-header,
  &.information .modal-content > .modal-header {
    color: $dialog-text-color-info;

    .title-icon {
      background-image: inline-svg-image("svg/information.svg");
    }
  }

  &.question .modal-content > .modal-header {
    color: $dialog-text-color-info;

    .title-icon {
      background-image: inline-svg-image("svg/question.svg");
    }
  }

  &.error .modal-content > .modal-header {
    color: $dialog-text-color-alert;

    .title-icon {
      background-image: inline-svg-image("svg/error.svg");
    }
  }

  .message-box-headline + .message-box-text {
    margin-top: 15px;
  }

  .message-box-details {
    margin-top: 30px;

    & > *:first-child {
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;

      & > i {
        margin-left: 5px;
      }
    }

    .collapse {
      display: none;
      visibility: hidden;

      &.in {
        display: block;
        visibility: visible;
      }
    }

    .collapsing {
      height: 0;
      position: relative;
      @include transform(translateZ(0));
      @include transition(height .35s linear, visibility .35s linear);
    }
  }
}

