/* Buttons

Buttons respond to events such as clicks and hovers, and execute various actions through event handlers. Luna interfaces include button types in several sizes that accommodate many useful interactions.

Button styles are built from the same base class and support 3 different markup patterns: &lt;a&gt;, &lt;button&gt;, and &lt;input type="button"&gt;. Additionally, you may add modifier classes for different button layouts or styles as seen in the examples below. 

Markup:
<a class="btn {$modifiers}" href="#">Link Button</a>
<button class="btn {$modifiers}">Button Element</button>
<input class="btn {$modifiers}" type="button" value="input[type='button']"/>

:hover - A hovered button.
:focus - A focused button.
:active - An active button.
:disabled - A disabled button.
.small - A small button.
.large - A large button.
.primary - A primary button
.primary:hover - A hovered button.
.primary:focus - A focused button.
.primary:active - An active button.
.primary:disabled - A disabled button.

Styleguide 4.1

*/

.btn,
.button {
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: $button-text-size;
  font-family: Arial, sans-serif;
  line-height: 1;
  vertical-align: middle;
  color: $button-text-color;
  min-width: $button-min-width;
  height: $button-height;
  padding: $button-padding;
  margin: 0;
  background: $button-background-color;
  border: solid $button-border-width $button-border-color;
  border-radius: $button-border-radius;
  @include background-image(linear-gradient($button-gradient-top, $button-gradient-bottom));
  @include box-sizing(border-box);

  &:hover {
    color: $button-text-color;
    border-color: $button-border-color-hover;
    text-decoration: none;
    @include background-image(linear-gradient($button-gradient-top-hover, $button-gradient-bottom-hover));
  }

  &:active,
  &:visited {
    color: $button-text-color;
    border-color: $button-border-color-hover;
    @include background-image(linear-gradient($button-gradient-bottom-hover, $button-gradient-top-hover));
  }

  &:disabled,
  &.disabled {
    cursor: default;
    background: $button-background-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
  }

  &.small {
    height: $button-height-small;
    line-height: ($button-height-small - $button-border-width*2);
    font-size: $button-text-size-small;
  }

  &.large {
    height: $button-height-large;
    line-height: ($button-height-large - $button-border-width*2);
    font-size: $button-text-size-large;
    // font-weight: bold;
  }

  &.primary {
    color: $button-primary-text-color;
    background-color: $button-primary-background-color;
    border-color: $button-primary-border-color;
    @include background-image(linear-gradient($button-primary-gradient-top, $button-primary-gradient-bottom));

    &:hover {
      color: $button-primary-text-color;
      @include background-image(linear-gradient($button-primary-gradient-bottom, $button-primary-gradient-top));
    }

    &:active,
    &:visited {
      color: $button-primary-text-color;
      background: $button-primary-background-color;
    }

    &:disabled,
    &.disabled {
      cursor: default;
      background: $button-primary-background-color-disabled;
      border-color: $button-primary-border-color-disabled;
      color: $button-primary-text-color-disabled;
    }
  }

  & > i {
    vertical-align: middle;
  }

  // Override TWBS
  &,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

&.luna .btn,
&.luna .button {
  // Luna tweaks here
}

&.pulsar .btn,
&.pulsar .button {
  // Pulsar tweaks here
}

/* Menu Buttons

Menu buttons

Markup:
<a class="btn {$modifiers}" href="#">Link Button</a>
<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="luna-arrow_smDown"></i>
</button>
<button class="btn {$modifiers}">Button Element</button>
<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="luna-arrow_smDown"></i>
</button>
<input class="btn {$modifiers}" type="button" value="input[type='button']"/>
<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="luna-arrow_smDown"></i>
</button>

Styleguide 4.7

*/

.btn.dropdown-toggle,
.button.dropdown-toggle {
  min-width: 0;

  & > i + .separator {
    border-left: 1px solid #999;
    margin: 0 3px;
  }
}

.btn-group {

  & > .btn,
  & > .button {

    & + .dropdown-toggle {
      padding-left: $button-padding-lr;
      padding-right: $button-padding-lr;
    }
  }

  &.open {
    .dropdown-toggle {
      @include box-shadow(none);
      @extend .btn:active;
    }
  }
}

:not(.btn-group) {
  > .button + .button.dropdown-toggle,
  > .btn + .btn.dropdown-toggle,
  > .button + .btn.dropdown-toggle,
  > .btn + .button.dropdown-toggle {
    margin-left: -#{$button-border-radius * 2};
    @include border-top-left-radius(0);
    @include border-bottom-left-radius(0);
  }
}
