/* Dropdown Menu Buttons

Menu buttons with an open dropdown.

Markup:
<div style="height: 200px; display: block; text-align: center;">
    <div class="btn-group open">
        <button class="btn">Button Element</button>
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="caret"></i>
        </button>
        <ul class="dropdown-menu {$modifiers}" role="menu">
            <li><a href>List Item</a></li>
            <li class="active"><a href>Active Item</a></li>
            <li><a href>Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
            <li class="disabled"><a href>Disabled Item</a></li>
            <li><a href>Another List Item</a></li>
        </ul>
    </div>
</div>

.dropdown-menu-right - Right-aligned dropdown
.dropdown-menu-left - Left-aligned dropdown

Styleguide 4.8

*/

$dropdown-fixed-header-padding: 10px;
$dropdown-max-items: 7;

.dropdown {
  display: inline-block;
  line-height: 1;

  &.right .dropdown-menu {
    @extend .dropdown-menu-right;
  }

  &.left .dropdown-menu {
    @extend .dropdown-menu-left;
  }

  & > i {
    cursor: pointer;
    vertical-align: middle;
  }
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  overflow-x: auto;
  max-height: #{$dropdown-item-line-height * $dropdown-max-items};
  @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, .25));

  > li > a,
  > .fixed-header {
    padding: 0;
    padding-left: $dropdown-item-left-padding;
    padding-right: $dropdown-item-right-padding;
    line-height: $dropdown-item-line-height;
    @include ellipsis();

    &:not(.fixed-header):active {
      background-color: $dropdown-link-active-bg;
    }
  }
  
  .fixed-header {
    line-height: 1;
    padding: $dropdown-fixed-header-padding;
  }
}

div.dropdown-menu {
  max-height: #{($dropdown-item-line-height * ($dropdown-max-items - 1)) + ($dropdown-fixed-header-padding * 2) + ($input-height) + 2};
  
  > ul.dropdown-menu {
    display: block;
    position: static;
    min-width: 100%;
    box-shadow: none;
    border: 0 none;
    max-height: #{$dropdown-item-line-height * ($dropdown-max-items - 1)};
  }

}
