/* Form Groups

Individual form controls automatically receive some global styling. Wrap labels and controls in .form-group for optimum spacing.

Markup:
<form class="{$modifiers}">
    <div class="form-group">
        <label for="id">Label</label>
        <input type="text" id="id" class="" placeholder="Placeholder">
    </div>
    <div class="form-group required">
        <label for="id">Required</label>
        <input type="text" id="id" class="" placeholder="Placeholder">
    </div>
    <div class="form-group">
        <label for="textarea">Text Area</label>
        <textarea class="" id="textarea" rows="3"></textarea>
    </div>
</form>

.form-inline - Left-aligned and inline-block controls
.form-horizontal - Align labels and groups for form controls in a horizontal layout

Styleguide 4.9

*/

label {
  // Override TWBS
  margin: 0;

  & + input[type="text"],
  & + input[type="search"],
  & + input[type="email"],
  & + textarea {
    margin-left: $input-label-spacing;
  }
}

.label,
.label-inline {
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}

.label {
  margin-bottom: 10px;
}

.label-inline {
  display: inline-block;
  margin-right: 10px;
}

.form-group.required label,
label.required {
  &:after {
    content: "*";
    color: lighten($input-border-color-invalid, 10%);
    margin-left: $input-validation-icon-gutter;
  }
}

.form-group {
  margin-bottom: 10px;

  label + .form-control {
    margin-top: $input-label-spacing;
    margin-left: 0;
  }
}

.form-inline {

  .form-group {

    label {

      & + .form-control {
        margin-top: 0;
        margin-left: $input-label-spacing;
      }
    }
  }
}

.form-horizontal {

  .form-group {

    label {
      display: block;
    }

    input[type="text"],
    input[type="search"],
    input[type="search"] + .button,
    input[type="email"],
    textarea {
      margin-top: $input-label-spacing;
      margin-left: 0;
    }
  }
}

&, &.luna label {
  // Luna tweaks here
}

&.pulsar label {
  // Pulsar tweaks here
}

/* Form Controls

Examples of standard form controls supported in an example form layout. All textual &lt;input&gt;, &lt;textarea&gt;, and &lt;select&gt; elements with .form-control class are set to width: 100%; by default.

Markup:
<form class="{$modifiers}">
    <div class="form-group">
        <label for="id">Label</label>
        <input type="text" id="id" class="form-control" placeholder="Placeholder">
    </div>
    <div class="form-group required">
        <label for="id">Required</label>
        <input type="text" id="id" class="form-control" placeholder="Placeholder">
    </div>
    <div class="form-group required">
        <label for="textarea">Text Area</label>
        <textarea class="form-control" id="textarea" rows="3"></textarea>
    </div>
</form>

.form-inline - Left-aligned and inline-block controls
.form-horizontal - Align labels and groups for form controls in a horizontal layout

Styleguide 4.10

*/

/* Checkbox Groups

Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.

Markup:
<div class="label">Group Label:</div>
<div class="checkbox">
    <input type="checkbox" id="checkbox411" value="">
    <label for="checkbox411">Checkbox Label</label>
</div>
<div class="checkbox">
    <input type="checkbox" id="checkbox411" value="">
    <label for="checkbox411">Checkbox Label</label>
</div>
<div class="label-inline">Group Inline Label:</div>
<div class="checkbox-inline">
    <input type="checkbox" id="checkbox411" value="">
    <label for="checkbox411">Inline Checkbox</label>
</div>
<div class="checkbox-inline">
    <input type="checkbox" id="checkbox411" value="">
    <label for="checkbox411">Inline Checkbox</label>
</div>
<div class="checkbox-inline">
    <input type="checkbox" id="checkbox411" value="">
    <label for="checkbox411">Inline Checkbox</label>
</div>

Styleguide 4.11

*/

.radio,
.checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.radio-inline,
.checkbox-inline {
  padding-left: 0;

  & + .radio-inline,
  & + .checkbox-inline {
    margin-left: 15px;
  }
}

/* Radio Groups

Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.

Markup:
<div class="label">Group Label:</div>
<div class="radio">
    <input type="radio" id="radio412" value="">
    <label for="radio412">Radio Label</label>
</div>
<div class="radio">
    <input type="radio" id="radio411" value="">
    <label for="radio411">Radio Label</label>
</div>
<div class="label-inline">Group Inline Label:</div>
<div class="radio-inline">
    <input type="radio" id="radio412" value="">
    <label for="radio412">Inline Radio</label>
</div>
<div class="radio-inline">
    <input type="radio" id="radio412" value="">
    <label for="radio412">Inline Radio</label>
</div>
<div class="radio-inline">
    <input type="radio" id="radio412" value="">
    <label for="radio412">Inline Radio</label>
</div>

Styleguide 4.12

*/
