/* Input Fields

Text fields accept relatively unconstrained string data.

Markup:
<div class="label-group {$modifiers}">
    <label for="input">Label</label>
    <input type="text" id="input" class="{$modifiers}" placeholder="Placeholder">
</div>

:focus - A focused input
:disabled - A disabled input
.required - A required input
.required:focus - A required, focused input
.required:disabled - A required, disabled input
.unadjacent - Unadjacent label and input
.unadjacent:focus - Unadjacent label and input
.unadjacent:disabled - Unadjacent label and input

Styleguide 4.4

*/

input[type="text"],
input[type="search"],
input[type="email"],
input[type="date"],
input[type="month"],
textarea {
  background-color: $input-background-color;
  border: solid 1px $input-border-color;
  height: $input-height;
  padding: 0 0 0 $input-padding;
  color: $input-text-color;
  font-size: $input-text-size;
  font-family: inherit;
  outline: none;
  vertical-align: middle;
  line-height: normal;
  @include box-sizing(border-box);
  @include box-shadow($input-box-shadow);
  @include border-radius($input-border-radius);
  @include placeholder-enhanced($input-placeholder-text-color, italic);

  &:focus {
    border-color: $input-border-color-focus;
    background-color: $input-background-color-focus;
    @include box-shadow(none);
  }

  &:disabled {
    background-color: $input-background-color-disabled;
    border-color: $input-border-color-disabled;
    @include box-shadow(none);

    &:focus,
    &:required {
      border-color: $input-border-color-disabled;
      @include box-shadow(none);
    }
  }
}

/* Search Inputs

A search box provides secondary navigation for users, and allows them to find specific information. 
Note: Applying this style will turn off browser default settings. 

Markup:
<div class="label-group {$modifiers}">
    <label for="searchInput">Label</label>
    <input type="search" class="{$modifiers}" id="searchInput" placeholder="Placeholder">
    <button class="button"><i class="luna-search"></i></button>
</div>

:focus - A focused search input.
:disabled - A disabled search input.
.unadjacent - Unadjacent label and input
.unadjacent:focus - Unadjacent label and input
.unadjacent:disabled - Unadjacent label and input

Styleguide 4.5

*/

input[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }

  &:disabled ~ .button,
  &:disabled ~ .btn {
    background: $button-background-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
    cursor: default;

    i {
      opacity: $input-button-icon-opacity-disabled;
    }
  }
}

input[type="search"],
input[type="date"],
input[type="month"] {
  padding-right: #{$input-border-radius * 2};
  @include appearance(textfield);

  & ~ .button,
  & ~ .btn {
    min-width: 0;
    margin-left: -#{$input-border-radius * 3};
    @include border-left-radius(0);

    i {
      vertical-align: middle;
    }
  }

  &:focus ~ .button,
  &:focus ~ .btn {
    border-left-color: $input-border-color-focus;
  }
}

/* Textareas

Text areas support data that spans multiple lines. 

Markup:
<div class="label-group {$modifiers}">
    <label for="textarea">Label</label>
    <textarea class="{$modifiers}" id="textarea" placeholder="Placeholder"></textarea>
</div>

:focus - A focused textarea
:disabled - A disabled textarea
.required - A required textarea
.required:focus - A required, focused textarea
.required:disabled - A required, disabled textarea
.unadjacent - Unadjacent label and textarea
.unadjacent:focus - Unadjacent label and textarea
.unadjacent:disabled - Unadjacent label and textarea

Styleguide 4.6

*/
textarea {
  height: auto;
  padding: $textarea-padding-top 0 0 $input-padding;

  &.large {
    min-height: 6em;
  }
}

&.luna {
  // Luna tweaks here
}

&.pulsar {
  // Pulsar tweaks here
}