<div class="input-toggle" ng-show="ac.itemSelected">
  <span class="selected-option util-ellipsis form-control" ng-class="{disabled:ac.isDisabled}">
    <i ng-show="ac.selectedItem && !ac.isDisabled" class="luna-small_close clear-selected" ng-click="ac.clearSelected($event)"></i>
    <span ng-class="{selected:!ac.hasContentProvided}" ng-if="!ac.hasContentProvided" ng-model="ac.selectedItem" title="{{ac.selectedItem.selectedText}}">{{ac.selectedItem.selectedText}}</span>
    <span ng-class="{selected:ac.hasContentProvided}" ng-if="ac.hasContentProvided" ng-model="ac.selectedItem" title="{{ac.selectedItem.selectedText}}"></span>
  </span>
</div>
