<div class="akam-autocomplete dropdown" ng-class="{open: autocomplete.isOpen}">
  <span class="input-option" ng-show="!autocomplete.itemSelected">
    <i ng-show="autocomplete.searchTerm && !autocomplete.isDisabled" class="luna-small_close clear-selected" ng-click="autocomplete.clearSearch($event)"></i>
    <input id="{{::autocomplete.autocompleteId}}" class="util-ellipsis" type="text" ng-model="autocomplete.searchTerm" ng-disabled="autocomplete.isDisabled" placeholder="{{autocomplete.placeholder}}" typeahead="{{autocomplete.query}}" typeahead-on-select="autocomplete.onSelectItem($item, $model, $label)" typeahead-min-length="{{::autocomplete.searchLength}}" typeahead-template-url="{{::autocomplete.contentTemplateUrl}}" typeahead-focus-first="false" class="form-control">
  </span>
  <span ng-if="autocomplete.showSearchTip && !autocomplete.itemSelected" ng-class="{'disabled':autocomplete.isDisabled, 'search-tip':autocomplete.showSearchTip}">{{::autocomplete.searchTip}}</span>
</div>
