<div class="dropdown-selected-wrapper">
    <span class="selected-option util-ellipsis" ng-class="{disabled:autocomplete.isDisabled}"
          ng-show="!autocomplete.searchShown" ng-click="autocomplete.clickSelected($event)">
        <span title="{{autocomplete.getSelectedItemText()}}">{{autocomplete.getSelectedItemText()}}</span>
        <span ng-if="!autocomplete.selectedItem" class="dropdown-placeholder">{{autocomplete.placeholder}}</span>
    </span>
    <i class="luna-small_close_dark_gray util-clickable clear-dropdown"
       ng-click="autocomplete.clearSelectedItem($event)"
       ng-if="autocomplete.selectedItem && autocomplete.isClearable && !autocomplete.isDisabled && !autocomplete.searchShown"></i>

    <input class="autocomplete-search" type="text" ng-show="autocomplete.searchShown"
           ng-blur="autocomplete.blurSearch()" ng-model="autocomplete.searchTerm"
           ng-keyup="autocomplete.search()" ng-click="$event.stopPropagation()" ng-focus="autocomplete.search()"/>
</div>
