<div class="input-toggle" ng-show="autocomplete.itemSelected">
  <span class="selected-option util-ellipsis form-control" ng-class="{disabled:autocomplete.isDisabled}">
    <i ng-show="autocomplete.selectedItem && !autocomplete.isDisabled" class="luna-small_close clear-selected" ng-click="autocomplete.clearSelected($event)"></i>
    <span class="selected" ng-model="autocomplete.selectedItem" title="{{autocomplete.selectedItem.selectedText}}">{{autocomplete.selectedItem.selectedText}}</span>
  </span>
</div>
