<div class="akam-autocomplete dropdown akam-dropdown" ng-class="{open: ac.isOpen}">
  <div class="input-option" ng-show="!ac.itemSelected">
    <input id="{{::ac.autocompleteId}}" class="util-ellipsis" type="text" ng-model="ac.selectedItem" ng-disabled="ac.isDisabled" placeholder="{{::ac.placeholder}}" typeahead="{{ac.query}}" typeahead-on-select="ac.selectItem($item, $model, $label)" typeahead-min-length="{{::ac.searchLength}}" typeahead-template-url="{{::ac.contentTemplateUrl}}" ng-focus="ac.inputFocus($event)" class="form-control">
    <i ng-show="ac.selectedItem && !ac.isDisabled" class="luna-small_close clear-selected" ng-click="ac.clearSelected()"></i>
    <span ng-show="ac.showSearchTip" class="search-tip">{{::ac.searchTip}}</span>
  </div>
</div>
