<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Akamai Component Examples - Auto Complete</title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../dist/akamai-core.css">
  <style type="text/css">
  .col-xs-7 {
    font-size: 85%;
  }

  .row {
    border-bottom: 1px dotted #ccc;
    line-height: 20px;
    margin: 0;
  }
  </style>
</head>

<body class="common-css luna" ng-app="autocompleteApp" ng-strict-di ng-controller="AutocompleteAppController as vm">
  <br/>
  <h2>Auto Complete Component Example</h2>
  <hr>
  <div>
    <h4>Display Auto Complete with minimum attributes and string list</h4>
    <akam-autocomplete items="vm.states" ng-model="vm.selectedState" placeholder="Enter state" on-search="vm.asyncSearchMatchesWithString(term)"></akam-autocomplete>
  </div>
  <br/>
  <div>
    <h4>Display Auto Complete with customizabe content - 1 and search minimum of 2 characters</h4>
    <akam-autocomplete items="vm.statesWithFlags" ng-model="vm.selectedStateWithFlag" text-property="name" content-property="stateFlags" minimum-search="2" placeholder="Search state with flag" on-search="vm.asyncSearchMatches1(term)">
      <akam-autocomplete-item>
        <a>
          <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
          <span bind-html-unsafe="match.model.name | highlight:query"></span>
        </a>
      </akam-autocomplete-item>
    </akam-autocomplete>
  </div>
  <br/>
  <div>
    <h4>Display Auto Complete with customizabe content and search minimum of 3 characters</h4>
    <akam-autocomplete items="vm.oneSelectedItems" ng-model="vm.selectedName" is-disabled="vm.disabled" text-property="first" content-property="employeeNames" minimum-search="3" placeholder="Enter name" on-select="vm.selectCallback(item, displayText)" on-search="vm.asyncSearchMatches2(term)">
      <akam-autocomplete-item>
        <a>
          <div class="row">
            <div class="col-xs-5"><i class="fa fa-user"></i>
              <Strong><span bind-html-unsafe="match.model.first | highlight:query"></span></Strong>
            </div>
            <div class="col-xs-7">
              <span bind-html-unsafe="match.model.email | highlight:query"></span>
            </div>
            <div class="col-xs-12">
              Joined: <span class="text-muted" bind-html-unsafe="match.model.joined"></span>
            </div>
          </div>
        </a>
      </akam-autocomplete-item>
    </akam-autocomplete>
    <div class="form-group">
      <input id="disableAutocomplete" type="checkbox" name='disableAutocomplete' ng-model='vm.disabled' />
      <label class="label" for="disableAutocomplete">To disabled above autocomplete: </label>
    </div>
  </div>
  <br/>
  <div>
    <h4>Display Auto Complete with customizabe content and display multiple property as text</h4>
    <akam-autocomplete items="vm.multipleSelectedItems" ng-model="vm.selectedMultipleNames" text-property="first last email" content-property="employeeNames" minimum-search="2" placeholder="Enter name" on-select="vm.selectCallback(item, displayText)" on-search="vm.asyncSearchMatches3(term)">
      <akam-autocomplete-item>
        <a>
          <div class="row">
            <div class="col-xs-5"><i class="fa fa-user"></i>
              <Strong><span bind-html-unsafe="match.model.first | highlight:query"></span></Strong>
            </div>
            <div class="col-xs-7">
              <span bind-html-unsafe="match.model.email | highlight:query"></span>
            </div>
            <div class="col-xs-12">
              Joined: <span class="text-muted" bind-html-unsafe="match.model.joined"></span>
            </div>
          </div>
        </a>
      </akam-autocomplete-item>
    </akam-autocomplete>
  </div>
  <script src="../dist/akamai-core.js"></script>
  <script>
  angular.module('autocompleteApp', ['akamai.components.autocomplete'])
    .controller('AutocompleteAppController', AutocompleteAppController);

  AutocompleteAppController.$inject = ['$log', '$q', '$http', '$timeout', '$filter'];

  function AutocompleteAppController($log, $q, $http, $timeout, $filter) {

    var statesWithFlags = [{
      'name': 'Alabama',
      'flag': '5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png'
    }, {
      'name': 'Alaska',
      'flag': 'e/e6/Flag_of_Alaska.svg/43px-Flag_of_Alaska.svg.png'
    }, {
      'name': 'Arizona',
      'flag': '9/9d/Flag_of_Arizona.svg/45px-Flag_of_Arizona.svg.png'
    }, {
      'name': 'Arkansas',
      'flag': '9/9d/Flag_of_Arkansas.svg/45px-Flag_of_Arkansas.svg.png'
    }, {
      'name': 'California',
      'flag': '0/01/Flag_of_California.svg/45px-Flag_of_California.svg.png'
    }, {
      'name': 'Colorado',
      'flag': '4/46/Flag_of_Colorado.svg/45px-Flag_of_Colorado.svg.png'
    }, {
      'name': 'Connecticut',
      'flag': '9/96/Flag_of_Connecticut.svg/39px-Flag_of_Connecticut.svg.png'
    }, {
      'name': 'Delaware',
      'flag': 'c/c6/Flag_of_Delaware.svg/45px-Flag_of_Delaware.svg.png'
    }, {
      'name': 'Florida',
      'flag': 'f/f7/Flag_of_Florida.svg/45px-Flag_of_Florida.svg.png'
    }, {
      'name': 'Georgia',
      'flag': '5/54/Flag_of_Georgia_%28U.S._state%29.svg/46px-Flag_of_Georgia_%28U.S._state%29.svg.png'
    }, {
      'name': 'Hawaii',
      'flag': 'e/ef/Flag_of_Hawaii.svg/46px-Flag_of_Hawaii.svg.png'
    }, {
      'name': 'Idaho',
      'flag': 'a/a4/Flag_of_Idaho.svg/38px-Flag_of_Idaho.svg.png'
    }, {
      'name': 'Illinois',
      'flag': '0/01/Flag_of_Illinois.svg/46px-Flag_of_Illinois.svg.png'
    }, {
      'name': 'Indiana',
      'flag': 'a/ac/Flag_of_Indiana.svg/45px-Flag_of_Indiana.svg.png'
    }, {
      'name': 'Iowa',
      'flag': 'a/aa/Flag_of_Iowa.svg/44px-Flag_of_Iowa.svg.png'
    }, {
      'name': 'Kansas',
      'flag': 'd/da/Flag_of_Kansas.svg/46px-Flag_of_Kansas.svg.png'
    }, {
      'name': 'Kentucky',
      'flag': '8/8d/Flag_of_Kentucky.svg/46px-Flag_of_Kentucky.svg.png'
    }, {
      'name': 'Louisiana',
      'flag': 'e/e0/Flag_of_Louisiana.svg/46px-Flag_of_Louisiana.svg.png'
    }, {
      'name': 'Maine',
      'flag': '3/35/Flag_of_Maine.svg/45px-Flag_of_Maine.svg.png'
    }, {
      'name': 'Maryland',
      'flag': 'a/a0/Flag_of_Maryland.svg/45px-Flag_of_Maryland.svg.png'
    }, {
      'name': 'Massachusetts',
      'flag': 'f/f2/Flag_of_Massachusetts.svg/46px-Flag_of_Massachusetts.svg.png'
    }, {
      'name': 'Michigan',
      'flag': 'b/b5/Flag_of_Michigan.svg/45px-Flag_of_Michigan.svg.png'
    }, {
      'name': 'Minnesota',
      'flag': 'b/b9/Flag_of_Minnesota.svg/46px-Flag_of_Minnesota.svg.png'
    }, {
      'name': 'Mississippi',
      'flag': '4/42/Flag_of_Mississippi.svg/45px-Flag_of_Mississippi.svg.png'
    }, {
      'name': 'Missouri',
      'flag': '5/5a/Flag_of_Missouri.svg/46px-Flag_of_Missouri.svg.png'
    }, {
      'name': 'Montana',
      'flag': 'c/cb/Flag_of_Montana.svg/45px-Flag_of_Montana.svg.png'
    }, {
      'name': 'Nebraska',
      'flag': '4/4d/Flag_of_Nebraska.svg/46px-Flag_of_Nebraska.svg.png'
    }, {
      'name': 'Nevada',
      'flag': 'f/f1/Flag_of_Nevada.svg/45px-Flag_of_Nevada.svg.png'
    }, {
      'name': 'New Hampshire',
      'flag': '2/28/Flag_of_New_Hampshire.svg/45px-Flag_of_New_Hampshire.svg.png'
    }, {
      'name': 'New Jersey',
      'flag': '9/92/Flag_of_New_Jersey.svg/45px-Flag_of_New_Jersey.svg.png'
    }, {
      'name': 'New Mexico',
      'flag': 'c/c3/Flag_of_New_Mexico.svg/45px-Flag_of_New_Mexico.svg.png'
    }, {
      'name': 'New York',
      'flag': '1/1a/Flag_of_New_York.svg/46px-Flag_of_New_York.svg.png'
    }, {
      'name': 'North Carolina',
      'flag': 'b/bb/Flag_of_North_Carolina.svg/45px-Flag_of_North_Carolina.svg.png'
    }, {
      'name': 'North Dakota',
      'flag': 'e/ee/Flag_of_North_Dakota.svg/38px-Flag_of_North_Dakota.svg.png'
    }, {
      'name': 'Ohio',
      'flag': '4/4c/Flag_of_Ohio.svg/46px-Flag_of_Ohio.svg.png'
    }, {
      'name': 'Oklahoma',
      'flag': '6/6e/Flag_of_Oklahoma.svg/45px-Flag_of_Oklahoma.svg.png'
    }, {
      'name': 'Oregon',
      'flag': 'b/b9/Flag_of_Oregon.svg/46px-Flag_of_Oregon.svg.png'
    }, {
      'name': 'Pennsylvania',
      'flag': 'f/f7/Flag_of_Pennsylvania.svg/45px-Flag_of_Pennsylvania.svg.png'
    }, {
      'name': 'Rhode Island',
      'flag': 'f/f3/Flag_of_Rhode_Island.svg/32px-Flag_of_Rhode_Island.svg.png'
    }, {
      'name': 'South Carolina',
      'flag': '6/69/Flag_of_South_Carolina.svg/45px-Flag_of_South_Carolina.svg.png'
    }, {
      'name': 'South Dakota',
      'flag': '1/1a/Flag_of_South_Dakota.svg/46px-Flag_of_South_Dakota.svg.png'
    }, {
      'name': 'Tennessee',
      'flag': '9/9e/Flag_of_Tennessee.svg/46px-Flag_of_Tennessee.svg.png'
    }, {
      'name': 'Texas',
      'flag': 'f/f7/Flag_of_Texas.svg/45px-Flag_of_Texas.svg.png'
    }, {
      'name': 'Utah',
      'flag': 'f/f6/Flag_of_Utah.svg/45px-Flag_of_Utah.svg.png'
    }, {
      'name': 'Vermont',
      'flag': '4/49/Flag_of_Vermont.svg/46px-Flag_of_Vermont.svg.png'
    }, {
      'name': 'Virginia',
      'flag': '4/47/Flag_of_Virginia.svg/44px-Flag_of_Virginia.svg.png'
    }, {
      'name': 'Washington',
      'flag': '5/54/Flag_of_Washington.svg/46px-Flag_of_Washington.svg.png'
    }, {
      'name': 'West Virginia',
      'flag': '2/22/Flag_of_West_Virginia.svg/46px-Flag_of_West_Virginia.svg.png'
    }, {
      'name': 'Wisconsin',
      'flag': '2/22/Flag_of_Wisconsin.svg/45px-Flag_of_Wisconsin.svg.png'
    }, {
      'name': 'Wyoming',
      'flag': 'b/bc/Flag_of_Wyoming.svg/43px-Flag_of_Wyoming.svg.png'
    }];

    var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Dakota', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];

    var objItems = [{
      first: 'Yair',
      last: 'leviel',
      joined: '2 month ago',
      email: 'yair@email.com'
    }, {
      first: 'Shawn',
      last: 'Dahlen',
      joined: '2 days ago',
      email: 'shawn@ac.org'
    }, {
      first: 'Mike',
      last: "D'Abrosio",
      joined: 'a week ago',
      email: 'mike@gmail.com'
    }, {
      first: 'Kevin',
      last: 'kotosky',
      joined: 'Yesterday',
      email: 'kevin@yahoo.com'
    }, {
      first: 'Nick',
      last: 'Leon',
      joined: 'Just now',
      email: 'nick@msn.com'
    }, {
      first: 'xxx',
      last: 'qqq',
      joined: 'Yesterday',
      email: 'xxx@mail.com'
    }, {
      first: 'Sean',
      last: 'Wang',
      joined: '3 month ago',
      email: 'sean@inbox.com'
    }];

    var vm = this;
    vm.items = [];
    vm.selectedItem = "";
    vm.disabled = false;

    vm.selectCallback = function(item, selectedText) {
      $log.log(item);
      $log.log(selectedText);
    }

    vm.asyncSearchMatchesWithString = function(term) {
      var deferred = $q.defer();
            vm.currentSearchTerm = term;

      var criteriaMatch = function(item) {
        var found = item.toLowerCase().indexOf(vm.currentSearchTerm) != -1;
        return found;
      };

      var filteredItems = $filter('filter')(states, criteriaMatch);

      $timeout(function() {
        deferred.resolve(vm.states = filteredItems);
      }, 500);
      return deferred.promise;
    }

    vm.asyncSearchMatches1 = function(term) {
      var deferred = $q.defer();
      vm.currentSearchTerm = term;

      var criteriaMatch = function(item) {
        var found = item.name.toLowerCase().indexOf(vm.currentSearchTerm) != -1;
        return found;
      };

      var filteredItems = $filter('filter')(statesWithFlags, criteriaMatch);
      $timeout(function() {
        deferred.resolve(vm.statesWithFlags = filteredItems);
      }, 800);
      return deferred.promise;
    }

    vm.asyncSearchMatches2 = function(term) {
      var deferred = $q.defer();
      vm.currentSearchTerm = term;

      var criteriaMatch = function(item) {
        var found = item.first.toLowerCase().indexOf(vm.currentSearchTerm) != -1 ||
          item.last.toLowerCase().indexOf(vm.currentSearchTerm) != -1 ||
          item.email.toLowerCase().indexOf(vm.currentSearchTerm) != -1;

        return found;
      }

      $timeout(function() {
        var filteredItems = $filter('filter')(objItems, criteriaMatch);
        deferred.resolve(vm.oneSelectedItems = filteredItems);
      }, 1000);
      return deferred.promise;
    }

    vm.asyncSearchMatches3 = function(term) {
      var deferred = $q.defer();
      vm.currentSearchTerm = term;

      var criteriaMatch = function(item) {
        var found = item.first.toLowerCase().indexOf(vm.currentSearchTerm) != -1 ||
          item.last.toLowerCase().indexOf(vm.currentSearchTerm) != -1 ||
          item.email.toLowerCase().indexOf(vm.currentSearchTerm) != -1;

        return found;
      }

      //$http.get("domain?searchTerm="+term)
      //.success(function(data){deferred.resolve(data)})
      //.error(function(deferred.reject()))
      //return deferred.promise;
      //

      var filteredItems = $filter('filter')(objItems, criteriaMatch);
      $timeout(function() {
        deferred.resolve(vm.multipleSelectedItems = filteredItems);
      }, 1000);
      return deferred.promise;


    }


  };
  </script>
</body>

</html>
