<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples - Autocomplete</title>
    <link rel="stylesheet" href="../dist/akamai-core.css">

    <style>
        div h2:first-child {
            margin-bottom:10px;
        }
        body.luna > h1 {
            margin-bottom:20px;
        }

        body.luna > div > div {
            display: inline-block;
            width: 100%;
        }

        body.hide-overflow {
            overflow: hidden;
        }
    </style>
</head>

<body class="common-css luna" ng-app="exampleApp" ng-strict-di ng-controller="AutocompleteAppController as vm">

<h1>Autocomplete Component Example</h1>
<div>
    <h2>Default Autocomplete with a list of strings</h2>
    <div>
        <akam-autocomplete ng-model="vm.ex1.selectedState" is-disabled="vm.disabled" clearable
                 on-search="vm.searchStateStrings(searchTerm)">
        </akam-autocomplete>
    </div>
</div>
<br/>

<div>
    <h2>Autofocus Example</h2>
    <div>
        <akam-autocomplete autofocus is-disabled="vm.disabled" ng-model="vm.ex2.selectedState"
                           text-property="name" clearable
                           on-search="vm.searchStateObjects(searchTerm)">

            <akam-autocomplete-selected>
                <span ng-if="autocomplete.selectedItem" title="{{autocomplete.selectedItem[autocomplete.textProperty]}}">
                    custom: {{autocomplete.selectedItem[autocomplete.textProperty]}}
                </span>
                <span ng-if="!autocomplete.selectedItem" class="dropdown-placeholder">{{autocomplete.placeholder}}</span>
            </akam-autocomplete-selected>

            <akam-autocomplete-option>
                <span title="custom: {{ autocomplete.textPropertyFn(item) }}"
                      ng-bind-html="'custom: ' + autocomplete.textPropertyFn(item) | highlight:autocomplete.searchTerm"></span>
            </akam-autocomplete-option>

        </akam-autocomplete>
    </div>
</div>
<br />

<div>
    <h2>Readonly Example</h2>
    <div>
        <akam-autocomplete ng-model="vm.ex1.selectedState" is-readonly="vm.readonly" clearable
                           on-search="vm.searchStateStrings(searchTerm)">
        </akam-autocomplete>
    </div>
</div>
<br/>

<span class="form-group">
    <input id="disableDropdown" type="checkbox" name='disableDropdown' ng-model='vm.disabled' />
    <label class="label" for="disableDropdown">Disable above dropdowns</label>
</span>
<br/>
<br/>

<div>
    <h2>Autocomplete with a list of objects and custom markup</h2>
    <div>
        <akam-autocomplete ng-model="vm.ex5.selectedState" text-property="name"
                           on-search="vm.searchStateObjects(searchTerm)">

            <akam-autocomplete-selected>
                <span ng-if="autocomplete.selectedItem" title="{{autocomplete.getSelectedItemText()}}">
                    custom: {{autocomplete.getSelectedItemText()}}
                </span>
                <span ng-if="!autocomplete.selectedItem" class="dropdown-placeholder">{{autocomplete.placeholder}}</span>
            </akam-autocomplete-selected>

            <akam-autocomplete-option>
                <span title="custom: {{ autocomplete.textPropertyFn(item) }}"
                      ng-bind-html="'custom: ' + autocomplete.textPropertyFn(item) | highlight:autocomplete.searchTerm"></span>
            </akam-autocomplete-option>
        </akam-autocomplete>
    </div>

</div>
<br/>

<div>
    <h2>Default Autocomplete with a list of strings appended to body</h2>
        <div class="util-hidden-overflow">
            <akam-autocomplete ng-model="vm.ex6.selectedState" appended-to-body clearable
                               on-search="vm.searchStateStrings(searchTerm)">
            </akam-autocomplete>
        </div>
</div>
<br/>


<div>
    <h2>Autocomplete with a list of objects and custom markup, not clearable append to body</h2>
        <div class="util-hidden-overflow">
            <akam-autocomplete appended-to-body ng-model="vm.ex7.selectedState" text-property="name"
                               on-search="vm.searchStateObjects(searchTerm)">

                <akam-autocomplete-selected>
                    <span ng-if="autocomplete.selectedItem" title="{{autocomplete.getSelectedItemText()}}">
                        custom: {{autocomplete.getSelectedItemText()}}
                    </span>
                    <span ng-if="!autocomplete.selectedItem" class="dropdown-placeholder">{{autocomplete.placeholder}}</span>
                </akam-autocomplete-selected>

                <akam-autocomplete-option>
                <span title="custom: {{ autocomplete.textPropertyFn(item) }}"
                      ng-bind-html="'custom: ' + autocomplete.textPropertyFn(item) | highlight:autocomplete.searchTerm"></span>
                </akam-autocomplete-option>
            </akam-autocomplete>
        </div>

</div>
<br/>
<div>
    <h2>Default autocomplete with a list of objects with keys</h2>
        <div>
            <akam-autocomplete ng-model="vm.ex8.selectedState" text-property="state.name"
                           key-property="state.key" clearable on-search="vm.searchStateObjectsWithKeys(searchTerm)">
            </akam-autocomplete>
        </div>
</div>
<br/>

<div>
    <h2>Default Autocomplete with a list of object with onSearch return promise</h2>
    <div>
        <akam-autocomplete ng-model="vm.ex9.selectedState" is-disabled="vm.disabled" clearable
                key-property="state.key" text-property="state.name" on-search="vm.searchStateObjectsWithKeysWithPromise(searchTerm)">
        </akam-autocomplete>
    </div>
</div>
<br/>


<div>
    <h2>Default Autocomplete with a list of strings - min search is 3 characters</h2>
    <div>
        <akam-autocomplete ng-model="vm.ex3.selectedState" is-disabled="vm.disabled" clearable
                           minimum-search="3" on-search="vm.searchStateStrings(searchTerm)">
        </akam-autocomplete>
    </div>
</div>
<br/>

<div>
    <h2>Default Autocomplete with a list of strings and minumum search set to 0</h2>
        <div>
            <akam-autocomplete ng-model="vm.ex4.selectedState"
                     on-search="vm.searchStateStrings(searchTerm)" minimum-search="0">
            </akam-autocomplete>
        </div>
</div>
<br/><br/><br/><br/><br/><br/>

<script src="utils/i18n-register.js"></script>
<script src="../dist/akamai-core.js"></script>

<script>
    angular.module('exampleApp', ['akamai.components.autocomplete', 'akamai.components.menu-button', 'akamai.components.constants'])
            .controller('AutocompleteAppController', AutocompleteAppController);

    AutocompleteAppController.$inject = ['$log', '$translate', '$filter', '$q', '$timeout'];
    function AutocompleteAppController($log, $translate, $filter, $q, $timeout) {
        var vm = this;
        vm.test = 'test';
        vm.disabled = false;
        vm.readonly = true;

        vm.placeholder = $translate('examples.dropdown.select.one').then(function(v){
            vm.placeholder = v;
            $log.log("placeholder text is " + vm.placeholder);
        });
        vm.stateObjects = [
            {name: 'Colorado'},
            {name: 'Connecticut'},
            {name: 'Maryland'},
            {name: 'Massachusetts'},
            {name: 'New Hampshire'},
            {name: 'New Jersey'},
            {name: 'New York'},
            {name: 'Vermont'},
            {name: 'Virginia'},
            {name: 'Washington, District of Columbia'},
        ];

        vm.stateObjectsWithKeys = [
            {state: {key: 'key1', name: 'Colorado'}},
            {state: {key: 'key2', name: 'Connecticut'}},
            {state: {key: 'key3', name: 'Maryland'}},
            {state: {key: 'key4', name: 'Massachusetts'}},
            {state: {key: 'key5', name: 'New Hampshire'}},
            {state: {key: 'key6', name: 'New Jersey'}},
            {state: {key: 'key7', name: 'New York'}},
            {state: {key: 'key8', name: 'Vermont'}},
            {state: {key: 'key9', name: 'Virginia'}},
            {state: {key: 'key10', name: 'Washington, District of Columbia'}}
        ];

        vm.strings = [
            'Colorado',
            'Connecticut',
            'Maryland',
            'Massachusetts',
            'New Hampshire',
            'New Jersey',
            'New York',
            'Vermont',
            'Virginia',
            'Washington, District of Columbia'
        ];

        vm.ex1 = { selectedState: 'Massachusetts' };
        vm.ex2 = { selectedState: undefined };
        vm.ex3 = { selectedState: undefined };
        vm.ex4 = { selectedState: undefined };
        vm.ex5 = { selectedState: undefined };
        vm.ex6 = { selectedState: undefined };
        vm.ex7 = { selectedState: undefined };
        vm.ex8 = { selectedState: 'key9' };
        vm.ex9 = { selectedState: undefined };

        vm.searchStateStrings = function(searchTerm) {

            var stateStrings = [
                'Colorado',
                'Connecticut',
                'Maryland',
                'Massachusetts',
                'New Hampshire',
                'New Jersey',
                'New York',
                'Vermont',
                'Virginia',
                'Washington, District of Columbia'
            ];

            var criteriaMatch = function(item) {
                return item.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
            };

            return $filter('filter')(stateStrings, criteriaMatch);
        };

        vm.searchStateObjects = function(searchTerm) {

            var stateObjects = [
                {name: 'Colorado'},
                {name: 'Connecticut'},
                {name: 'Maryland'},
                {name: 'Massachusetts'},
                {name: 'New Hampshire'},
                {name: 'New Jersey'},
                {name: 'New York'},
                {name: 'Vermont'},
                {name: 'Virginia'},
                {name: 'Washington, District of Columbia'},
            ];

            var criteriaMatch = function(item) {
                return item.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
            };

            return $filter('filter')(stateObjects, criteriaMatch);
        };

        vm.searchStateObjectsWithKeys = function(searchTerm) {

            var stateObjectsWithKeys = [
                {state: {key: 'key1', name: 'Colorado'}},
                {state: {key: 'key2', name: 'Connecticut'}},
                {state: {key: 'key3', name: 'Maryland'}},
                {state: {key: 'key4', name: 'Massachusetts'}},
                {state: {key: 'key5', name: 'New Hampshire'}},
                {state: {key: 'key6', name: 'New Jersey'}},
                {state: {key: 'key7', name: 'New York'}},
                {state: {key: 'key8', name: 'Vermont'}},
                {state: {key: 'key9', name: 'Virginia'}},
                {state: {key: 'key10', name: 'Washington, District of Columbia'}}
            ];

            var criteriaMatch = function(item) {
                return item.state.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
            };

            return $filter('filter')(stateObjectsWithKeys, criteriaMatch);
        };

        vm.searchStateObjectsWithKeysWithPromise = function(searchTerm) {

            var deferred = $q.defer();

            var stateObjectsWithKeys = [
                {state: {key: 'key1', name: 'Colorado'}},
                {state: {key: 'key2', name: 'Connecticut'}},
                {state: {key: 'key3', name: 'Maryland'}},
                {state: {key: 'key4', name: 'Massachusetts'}},
                {state: {key: 'key5', name: 'New Hampshire'}},
                {state: {key: 'key6', name: 'New Jersey'}},
                {state: {key: 'key7', name: 'New York'}},
                {state: {key: 'key8', name: 'Vermont'}},
                {state: {key: 'key9', name: 'Virginia'}},
                {state: {key: 'key10', name: 'Washington, District of Columbia'}}
            ];

            var criteriaMatch = function(item) {
                return item.state.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
            };

            var results = $filter('filter')(stateObjectsWithKeys, criteriaMatch);

            $timeout(function() {
                if (results && results.length) {
                    return deferred.resolve(results);
                }
                else {
                    return deferred.reject("no results on search: " + searchTerm);
                }
            }, 3000);

            return deferred.promise;
        };
    }
</script>
</body>
</html>