<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Akamai Component Examples - Data Table</title>
        <link rel="stylesheet" href="../dist/akamai-core.css">
    </head>
    <body class="common-css luna" ng-app="example" ng-strict-di ng-controller="ExampleController">
        <div class="container">
            <h1>Data Table Component Example</h1>
            <br/>
        </div>
        <div class="container">
            <h2>Data Table Example with Trusted Content Switching</h2>
            <form>
                 <div class="form-group">
                <input type="checkbox" ng-click="updateColumns()" name="trustContent" id="trustContent" ng-model="trustContent.value">
                <label class="label" for="trustContent">Trust Content?</label>
                <p>Specify whether or not the content in the table data will be trusted for the Full Name column.  If trusted the code in the HTML will
                execute in the component when the data is displayed and you hover over the column data.</p>
                </div>
            </form>
            <akam-data-table data="basedata10" schema="columns10" filter-placeholder="Filter Employees" no-data-message="noDataMessage">
                <akam-menu-button position="right">
                    <akam-menu-button-item text="PDF" ng-click="process($event, 'PDF', $parent.$parent.$parent.item)"></akam-menu-button-item>
                    <akam-menu-button-item text="HTML" ng-click="process($event, 'HTML', $parent.$parent.$parent.item)"></akam-menu-button-item>
                </akam-menu-button>
            </akam-data-table>
        </div>
        <br /> 
        <div>
            <br />
            <h2>Data Table with Loading Options - Loaded using {{status | json}}</h2>
            <br />
            <label class="label">Data Load Type:</label>
            <table>
                <tr>
                    <td>
                        <input id="exampleData" type="radio" checked="checked" ng-model="status" value="exampleData" class="ng-pristine ng-untouched ng-valid" />
                        <label class="label" for="exampleData">Promise Data </label>
                        <input id="basedata" type="radio" ng-model="status" value="basedata" class="ng-pristine ng-untouched ng-valid" />
                        <label class="label" for="basedata">Array Data</label>
                        <input id="nulldata" type="radio" ng-model="status" value="nulldata" class="ng-pristine ng-untouched ng-valid" />
                        <label class="label" for="nulldata">Empty (Null) Data</label>
                    </td>
                </tr>
            </table>
            <akam-data-table data="obj[status]" schema="columns" on-change="rowChange(value)" filter-placeholder="Filter Employees" no-data-message="noDataMessage">
                <akam-menu-button position="right">
                    <akam-menu-button-item text="PDF" ng-click="process($event, 'PDF', $parent.$parent.$parent.item)"></akam-menu-button-item>
                    <akam-menu-button-item text="HTML" ng-click="process($event, 'HTML', $parent.$parent.$parent.item)"></akam-menu-button-item>
                </akam-menu-button>
            </akam-data-table>
        </div>
        <br />
        <div class="container">
            <h2>Data Table Example with Checkboxes and Pre-Selected Rows</h2>
            <akam-data-table data="basedata" schema="columns" show-checkboxes="true" filter-placeholder="Filter Employees" selected-items="selectedItems2" no-data-message="noDataMessage">
                <akam-menu-button position="right">
                    <akam-menu-button-item text="PDF" ng-click="process($event, 'PDF', $parent.$parent.$parent.item)"></akam-menu-button-item>
                    <akam-menu-button-item text="HTML" ng-click="process($event, 'HTML', $parent.$parent.$parent.item)"></akam-menu-button-item>
                </akam-menu-button>
            </akam-data-table>
            <span>Selected Items:<br /> {{selectedItems2}}</span>
        </div>
        <br />
        <div class="container">
            <h2>Data Table Example loaded from HTTP GET</h2>
            <akam-data-table data="jsonFromHttpGet" schema="columns" on-change="rowChange(value)" filter-placeholder="Filter Employees" show-checkboxes="true" selected-items="selectedItems3">
                <akam-menu-button position="right">
                    <akam-menu-button-item text="PDF" ng-click="process($event, 'PDF', $parent.$parent.$parent.item)"></akam-menu-button-item>
                    <akam-menu-button-item text="HTML" ng-click="process($event, 'HTML', $parent.$parent.$parent.item)"></akam-menu-button-item>
                </akam-menu-button>
            </akam-data-table>
            <span>Selected Items: <br /> {{selectedItems3}}</span>
        </div>
        <br />
        <div class="container">
            <h2>Data Table Example that fails loading data then successfully loads data</h2>
            <akam-data-table data="failThenLoadData" schema="columns" filter-placeholder="Filter Employees" selected-items="selectedItems4" no-data-message="noDataMessage">
            </akam-data-table>
        </div>
        <script src="../dist/akamai-core.js"></script>
        <script>
            var fullName;
            var BASE_DATA = [
                {"id":1,"first_name":"Norma","last_name":"White","email":"nwhite0@japanpost.jp","country":"China","ip_address":"131.46.59.162","boolean":true,"color":"Yellow"},
                {"id":2,"first_name":"Amanda","last_name":"Martin","email":"amartin1@unesco.org","country":"Haiti","ip_address":"249.90.111.115","boolean":false,"color":"Blue"},
                {"id":3,"first_name":"Gloria","last_name":"Allen","email":"gallen2@reuters.com","country":"Micronesia","ip_address":"233.173.83.45","boolean":false,"color":"Yellow"},
                {"id":4,"first_name":"Bobby","last_name":"Montgomery","email":"bmontgomery3@msn.com","country":"Gabon","ip_address":"16.173.58.169","boolean":true,"color":"Blue"},
                {"id":5,"first_name":"Charles","last_name":"Reyes","email":"creyes4@cbsnews.com","country":"Spain","ip_address":"136.197.92.192","boolean":true,"color":"Red"},
                {"id":6,"first_name":"Joshua","last_name":"Thompson","email":"jthompson5@yale.edu","country":"Russia","ip_address":"61.57.205.127","boolean":true,"color":"Yellow"},
                {"id":7,"first_name":"Sarah","last_name":"West","email":"swest6@shop-pro.jp","country":"China","ip_address":"55.80.171.169","boolean":false,"color":"Green"},
                {"id":8,"first_name":"Amy","last_name":"Stone","email":"astone7@buzzfeed.com","country":"China","ip_address":"183.243.240.125","boolean":true,"color":"Blue"},
                {"id":9,"first_name":"Jeffrey","last_name":"Webb","email":"jwebb8@cloudflare.com","country":"China","ip_address":"216.7.198.28","boolean":false,"color":"Yellow"},
                {"id":10,"first_name":"Andrea","last_name":"Wagner","email":"awagner9@wisc.edu","country":"Sweden","ip_address":"20.158.247.82","boolean":false,"color":"Yellow"},
                {"id":11,"first_name":"Shirley","last_name":"Morgan","email":"smorgana@yellowbook.com","country":"China","ip_address":"130.218.166.132","boolean":false,"color":"Red"},
                {"id":12,"first_name":"Doris","last_name":"Wilson","email":"dwilsonb@youtu.be","country":"Kuwait","ip_address":"16.85.27.71","boolean":false,"color":"Blue"},
                {"id":13,"first_name":"Evelyn","last_name":"Walker","email":"ewalkerc@mediafire.com","country":"Brazil","ip_address":"206.122.55.47","boolean":true,"color":"Yellow"},
                {"id":14,"first_name":"Virginia","last_name":"Brown","email":"vbrownd@wordpress.com","country":"Mexico","ip_address":"188.60.8.220","boolean":false,"color":"Red"},
                {"id":15,"first_name":"Clarence","last_name":"Reyes","email":"creyese@zdnet.com","country":"Indonesia","ip_address":"162.129.16.245","boolean":false,"color":"Green"},
                {"id":16,"first_name":"Rose","last_name":"Grant","email":"rgrantf@clickbank.net","country":"Gambia","ip_address":"69.125.79.4","boolean":false,"color":"Blue"},
                {"id":17,"first_name":"Gregory","last_name":"Butler","email":"gbutlerg@oracle.com","country":"Colombia","ip_address":"102.214.136.110","boolean":false,"color":"Blue"},
                {"id":18,"first_name":"Roger","last_name":"Reynolds","email":"rreynoldsh@bloglovin.com","country":"Indonesia","ip_address":"204.225.178.254","boolean":true,"color":"Green"},
                {"id":19,"first_name":"Sean","last_name":"Evans","email":"sevansi@bbc.co.uk","country":"Canada","ip_address":"242.116.40.245","boolean":true,"color":"Yellow"},
                {"id":20,"first_name":"Henry","last_name":"Castillo","email":"hcastilloj@bravesites.com","country":"Afghanistan","ip_address":"95.73.219.200","boolean":false,"color":"Red"},
                {"id":21,"first_name":"Teresa","last_name":"Lee","email":"tleek@shareasale.com","country":"Philippines","ip_address":"211.248.43.128","boolean":true,"color":"Blue"},
                {"id":22,"first_name":"Timothy","last_name":"Morales","email":"tmoralesl@tinypic.com","country":"Kazakhstan","ip_address":"134.206.78.74","boolean":false,"color":"Yellow"},
                {"id":23,"first_name":"Jeffrey","last_name":"Russell","email":"jrussellm@reference.com","country":"Indonesia","ip_address":"6.148.252.75","boolean":true,"color":"Blue"},
                {"id":24,"first_name":"Mildred","last_name":"Hunt","email":"mhuntn@fda.gov","country":"China","ip_address":"142.149.174.231","boolean":true,"color":"Blue"},
                {"id":25,"first_name":"Lawrence","last_name":"Schmidt","email":"lschmidto@archive.org","country":"China","ip_address":"59.88.246.253","boolean":false,"color":"Blue"},
                {"id":26,"first_name":"Gloria","last_name":"Reid","email":"greidp@about.com","country":"Indonesia","ip_address":"117.106.242.172","boolean":true,"color":"Green"},
                {"id":27,"first_name":"Annie","last_name":"Williams","email":"awilliamsq@zdnet.com","country":"Japan","ip_address":"105.224.62.212","boolean":true,"color":"Yellow"},
                {"id":28,"first_name":"Bruce","last_name":"Scott","email":"bscottr@un.org","country":"China","ip_address":"182.140.155.148","boolean":true,"color":"Red"},
                {"id":29,"first_name":"Sharon","last_name":"Baker","email":"sbakers@barnesandnoble.com","country":"Russia","ip_address":"106.196.108.131","boolean":false,"color":"Blue"},
                {"id":30,"first_name":"Steven","last_name":"Hudson","email":"shudsont@parallels.com","country":"Philippines","ip_address":"216.186.60.67","boolean":false,"color":"Green"},
                {"id":31,"first_name":"Antonio","last_name":"Freeman","email":"afreemanu@gmpg.org","country":"Poland","ip_address":"216.240.65.100","boolean":false,"color":"Yellow"},
                {"id":32,"first_name":"Justin","last_name":"Wagner","email":"jwagnerv@aol.com","country":"Indonesia","ip_address":"5.15.78.227","boolean":true,"color":"Red"},
                {"id":33,"first_name":"Ashley","last_name":"Martinez","email":"amartinezw@about.me","country":"Indonesia","ip_address":"102.83.157.184","boolean":false,"color":"Yellow"},
                {"id":34,"first_name":"Evelyn","last_name":"Carter","email":"ecarterx@1688.com","country":"Portugal","ip_address":"1.107.12.78","boolean":false,"color":"Green"},
                {"id":35,"first_name":"Kevin","last_name":"Matthews","email":"kmatthewsy@etsy.com","country":"Mexico","ip_address":"28.58.53.80","boolean":false,"color":"Yellow"},
                {"id":36,"first_name":"Earl","last_name":"Hunter","email":"ehunterz@squidoo.com","country":"Indonesia","ip_address":"21.232.90.56","boolean":true,"color":"Blue"},
                {"id":37,"first_name":"Antonio","last_name":"Holmes","email":"aholmes10@t.co","country":"Sweden","ip_address":"190.245.226.203","boolean":true,"color":"Blue"},
                {"id":38,"first_name":"Victor","last_name":"Morales","email":"vmorales11@comcast.net","country":"Chad","ip_address":"219.60.90.204","boolean":true,"color":"Yellow"},
                {"id":39,"first_name":"William","last_name":"Mitchell","email":"wmitchell12@tamu.edu","country":"Indonesia","ip_address":"32.253.108.171","boolean":true,"color":"Green"},
                {"id":40,"first_name":"Alice","last_name":"Nichols","email":"anichols13@bigcartel.com","country":"Estonia","ip_address":"25.88.35.181","boolean":true,"color":"Blue"},
                {"id":41,"first_name":"Catherine","last_name":"Ramirez","email":"cramirez14@shutterfly.com","country":"Portugal","ip_address":"247.243.132.221","boolean":true,"color":"Blue"},
                {"id":42,"first_name":"Mark","last_name":"Fox","email":"mfox15@squarespace.com","country":"Zambia","ip_address":"111.156.191.59","boolean":true,"color":"Blue"},
                {"id":43,"first_name":"Mark","last_name":"Garrett","email":"mgarrett16@skyrock.com","country":"Czech Republic","ip_address":"190.4.200.64","boolean":false,"color":"Yellow"},
                {"id":44,"first_name":"Judy","last_name":"Franklin","email":"jfranklin17@ow.ly","country":"France","ip_address":"138.142.197.18","boolean":true,"color":"Red"},
                {"id":45,"first_name":"Frances","last_name":"Cooper","email":"fcooper18@fema.gov","country":"Sweden","ip_address":"154.222.157.170","boolean":false,"color":"Blue"},
                {"id":46,"first_name":"Steve","last_name":"Sims","email":"ssims19@sitemeter.com","country":"Czech Republic","ip_address":"176.116.53.137","boolean":true,"color":"Blue"},
                {"id":47,"first_name":"Andrea","last_name":"Ryan","email":"aryan1a@tuttocitta.it","country":"Philippines","ip_address":"135.16.13.75","boolean":true,"color":"Yellow"},
                {"id":48,"first_name":"Samuel","last_name":"Williams","email":"swilliams1b@mapy.cz","country":"Uruguay","ip_address":"222.167.233.148","boolean":true,"color":"Blue"},
                {"id":49,"first_name":"Jimmy","last_name":"Stephens","email":"jstephens1c@icio.us","country":"Pakistan","ip_address":"185.36.75.55","boolean":false,"color":"Yellow"},
                {"id":50,"first_name":"Andrew","last_name":"Reynolds","email":"areynolds1d@auda.org.au","country":"Brazil","ip_address":"49.211.255.203","boolean":true,"color":"Red"},
            ];
            
            var BASE_DATA10 = [
                {"id":1,"first_name":"Norma","last_name":"White","email":"nwhite0@japanpost.jp","country":"China","ip_address":"131.46.59.162","boolean":true,"color":"Yellow"},
                {"id":2,"first_name":"Amanda","last_name":"Martin","email":"amartin1@unesco.org","country":"Haiti","ip_address":"249.90.111.115","boolean":false,"color":"Blue"},
                {"id":3,"first_name":"Gloria","last_name":"Allen","email":"gallen2@reuters.com","country":"Micronesia","ip_address":"233.173.83.45","boolean":false,"color":"Yellow"},
                {"id":4,"first_name":"Bobby","last_name":"Montgomery","email":"bmontgomery3@msn.com","country":"Gabon","ip_address":"16.173.58.169","boolean":true,"color":"Blue"},
                {"id":5,"first_name":"Charles","last_name":"Reyes","email":"creyes4@cbsnews.com","country":"Spain","ip_address":"136.197.92.192","boolean":true,"color":"Red"},
                {"id":6,"first_name":"Joshua","last_name":"Thompson","email":"jthompson5@yale.edu","country":"Russia","ip_address":"61.57.205.127","boolean":true,"color":"Yellow"},
                {"id":7,"first_name":"Sarah","last_name":"West","email":"swest6@shop-pro.jp","country":"China","ip_address":"55.80.171.169","boolean":false,"color":"Green"},
                {"id":8,"first_name":"Amy","last_name":"Stone","email":"astone7@buzzfeed.com","country":"China","ip_address":"183.243.240.125","boolean":true,"color":"Blue"},
                {"id":9,"first_name":"Jeffrey","last_name":"Webb","email":"jwebb8@cloudflare.com","country":"China","ip_address":"216.7.198.28","boolean":false,"color":"Yellow"},
                {"id":10,"first_name":"Andrea","last_name":"Wagner","email":"awagner9@wisc.edu","country":"Sweden","ip_address":"20.158.247.82","boolean":false,"color":"Yellow"},
            ];

            var controllerFunction =  function($scope, $http, $filter, $q, $timeout, $log, $sce) {
                
                var deferred = $q.defer();
                var failedDeferred = $q.defer();
                
                $scope.basedata = BASE_DATA10;
                $scope.basedata10 = BASE_DATA10;
                
                // Set default status to exampleData
                $scope.status = "exampleData";
                
                // Set the object data types that can be selected for the first table        
                $scope.obj = {
                    exampleData : deferred.promise,
                    basedata : BASE_DATA,
                    nulldata : []
                };
                
                // Initialize the value to true for the trusted content
                $scope.trustContent = {
                    value : true
                };
        
                $scope.failThenLoadData = failedDeferred.promise;
                // Set the default timeout
                $timeout(function(){
                    deferred.resolve(BASE_DATA);
                }, 2000);
                
                $timeout(function(){
                    failedDeferred.reject();
                }, 2000)

                $timeout(function(){
                    var newDeferred = $q.defer();
                    $scope.failThenLoadData =  newDeferred.promise;
                    $timeout(function(){
                        newDeferred.resolve(BASE_DATA);
                    }, 3000)
                }, 4000);
                
                // Reload the columns
                $scope.updateColumns = function() {
                    $scope.columns10 = getColumns10();
                }
                
                // Load the columns    
                $scope.updateColumns();
                
                function getColumns10() {
                    return [
                    {
                        // Concatenate the first_name and last_name fields into full name.  The span string is to test out what happens
                        // when content is trusted by the component.  When trusted the code will execute in the component when the data is displayed
                        // and you hover over the data is the Full Name column.
                        content : function(){
                            fullName = this.first_name + ' ' + this.last_name +
                            "<span class='hi' onmouseover=\"alert('Trusted Content')\"> (mouseover to see an alert, if content trusted)</span>";

                            if ($scope.trustContent.value) {
                                // Set whether or not to trust the content
                                return $sce.trustAsHtml(fullName);
                            }
                            else  {
                                return fullName;
                            }
                        },
                        header : 'Full Name',
                        className : 'column-full-name',
                        title: true,
                        sort:true,
                    },  
                ];
                }
                    
                // Return the columns for the data table control                
                $scope.columns =  [
                    {
                        // Concatenate the first_name and last_name fields into full name.
                        // NOTE that the "this" context for the function call will the object being worked on and not the column itself
                        content : function(){
                            return this.first_name + ' ' + this.last_name;
                        },
                        header : 'Full Name',
                        className : 'column-full-name',
                        title: true,
                        sort:true,
                    },
                    {
                        content : 'id',
                        header : 'Emp. ID',
                        className : 'column-employeeid',
                        title: false,
                        sort:true,
                    },
                    {
                        content : 'email',
                        header : 'EMAIL',
                        className : 'column-email',
                        sort:true,
                    },
                    {
                        content : 'country',
                        header : 'Country',
                        className : 'column-country',
                        sort:true,
                    },
                    {
                        content : 'ip_address',
                        header : 'Internet Protocol Address',
                        className : 'column-ipaddress',
                        sort:true,
                    },
                    {
                        content : 'boolean',
                        header : 'Boolean',
                        className : 'column-boolean',
                        // Without defaultValue specified the false value will not appear
                        defaultValue : false
                    },
                    {
                        content : 'color',
                        header : 'Color',
                        className : 'column-color',
                        // Custom sort defined for the color where values are associated with specific colors
                        sort: function(){
                            var colorsValues = {
                                'Red' : 1,
                                'Yellow' : 2,
                                'Green' : 3,
                                'Blue' : 4
                            };
                            return colorsValues[this.color];
                        },
                        title: function(){
                            return this.color + " is my favorite color";
                        }
                    },               
                ];
                
                $scope.process = function($event, type, item){
                    // Log the row selected with the first column in the table (full name)
                    $log.log('Row Menu Item Selected for: ' + item.cells[0]);
                };
                
                // When the row changes display what is selected
                $scope.rowChange = function(value){
                    $log.log('Row selected' + value);
                };
                
                // Load data from a json file to test out HTTP GET functionality
                $scope.jsonFromHttpGet = $http.get('json/component_mockdata.json');
                
                // Preselect rows 0, 3 & 5 to show data can be checked on the load. 
                $scope.selectedItems2 = [BASE_DATA10[0], BASE_DATA10[3], BASE_DATA10[5]];
                
                // This is the message that will appear when no data exists
                $scope.noDataMessage = "No data exists";
            };

            var configFunction = function($translateProvider) {
                $translateProvider.useMissingTranslationHandler('noop');
            };
            configFunction.$inject = ['$translateProvider'];
            controllerFunction.$inject = ["$scope", "$http", "$filter","$q","$timeout", "$log", "$sce"];
            
            angular.module('example', ['akamai.components.data-table', 'akamai.components.i18n'])
            
            .config(configFunction)
            
            .factory('noop', function() {
                return function() { }
            })
            
            .controller('ExampleController', controllerFunction);
        </script>
    </body>
</html>