<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Akamai Component Examples - Date Range</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">
  <style type="text/css">
  .title1 {
    margin-top: 30px;
  }
  .title2 {
    margin-top: 250px;
  }
  .form-group div {
    margin: 15px 0;
  }
  </style>
</head>

<body class="common-css luna" ng-app="dateRangeApp" ng-strict-di ng-controller="DateRangeAppController as vm">
  <br/>
  <h2>Date Range Component Example</h2>
  <pre>selected Date Range: {{vm.selectedRange}}</pre>
  <h4 class="title1">Plain date range</h4>
  <akam-date-range ng-model="vm.selectedRange" on-select="vm.onSelectCallback(selectedDateRange)"></akam-date-range>
  <h4 class="title2">Complex date range</h4>
  <akam-date-range ng-model="vm.selectedRange" format="{{vm.format}}" start-date="vm.startDate" end-date="vm.endDate" is-disabled="vm.disabled" on-select="vm.onSelectCallback(selectedDateRange)"></akam-date-range>
  <br/>
  <br/>
  <div class="form-group">
    <div>
      <input id="disableDateRange" type="checkbox" name='disableDateRange' ng-model='vm.disabled' />
      <label class="label" for="disableDateRange">To disabled above component</label>
    </div>
    <div>
      <select id="DateRangeFormat" ng-options="format.value as format.label for format in vm.formats" ng-model="vm.format"></select>
      <label class="label" for="DateRangeFormat">To select different formats</label>
    </div>
  </div>
  <script src="../dist/akamai-core.js"></script>
  <script>
  angular.module('dateRangeApp', ['akamai.components.date-range'])
    .controller('DateRangeAppController', DateRangeAppController)
    .config(configFunction);

  DateRangeAppController.$inject = ['$log'];

  function DateRangeAppController($log) {
    var vm = this;
    vm.selectedRange = "";
    var d = new Date();
    vm.startDate = new Date(d.getFullYear(), d.getMonth(), 3);
    vm.endDate = new Date(d.getFullYear(), d.getMonth() + 1, 5);

    vm.formats = [{
      value: 'EEE, MMM d, y',
      label: 'FullDate1'
    }, {
      value: 'MMMM d, y',
      label: 'longDate'
    }, {
      value: 'MMM d, y',
      label: 'mediumDate'
    }, {
      value: 'M/d/yy',
      label: 'shortDate'
    }, {
      value: 'EEEE, MMMM d, y',
      label: 'FullDate2'
    }];

    vm.onSelectCallback = function(selectedDateRange) {
      $log.log(selectedDateRange);
      vm.selectedRange = selectedDateRange;
    }
  }

  configFunction.$inject = ['i18nTokenProvider'];

  function configFunction(i18nTokenProvider) {
    // need to overwrite locales path on fee.akamai.com
    if (window.location.host == 'fee.akamai.com') {
      i18nTokenProvider.setComponentLocalePath("../dist/locales/");
      i18nTokenProvider.setAppLocalePath("locales/json/messages/");
    }
  }
  </script>
</body>

</html>
