<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Akamai Component Examples - Date Range</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">
  <style type="text/css">
  .title {
    margin-top: 30px;
  }

  .form-group div {
    margin: 15px 0;
  }
  </style>
</head>

<body class="common-css luna" ng-app="dateRangeApp" ng-strict-di ng-controller="DateRangeAppController as vm">
  <br/>
  <h2>Date Range Component Example</h2>
  <br/>
  <pre>selected Date Range: {{vm.range}}</pre>
  <pre>selected start date: {{vm.start}}</pre>
  <pre>selected end Date: {{vm.end}}</pre>
  <h4 class="title">date range</h4>
  <akam-date-range ng-model="vm.dateRange1" format="{{vm.format}}" is-disabled="vm.disabled" on-select="vm.onSelectCallback(selectedDateRange, startDate, endDate)"></akam-date-range>
  <br/>
  <br/>
  <div class="form-group">
    <div>
      <input id="disableDateRange" type="checkbox" name='disableDateRange' ng-model='vm.disabled' />
      <label class="label" for="disableDateRange">To disabled component</label>
    </div>
    <div>
      <select id="DateRangeFormat" ng-options="format.value as format.label for format in vm.formats" ng-model="vm.format"></select>
      <label class="label" for="DateRangeFormat">To select different date formats</label>
    </div>
  </div>
  <br/>  <br/>  <br/>
  <h4 class="title">date range with initial values</h4>
  <akam-date-range ng-model="vm.dateRange2" format="{{vm.format}}" is-disabled="vm.disabled" on-select="vm.onSelectCallback(selectedDateRange, startDate, endDate)"></akam-date-range>
  <script src="../dist/akamai-core.js"></script>
  <script>
  angular.module('dateRangeApp', ['akamai.components.date-range'])
    .controller('DateRangeAppController', DateRangeAppController)
    .config(configFunction);

  DateRangeAppController.$inject = ['$log'];

  function DateRangeAppController($log) {
    var vm = this;
    var d = new Date();
    var startDate = new Date(d.getFullYear(), d.getMonth(), 3);
    var endDate = new Date(d.getFullYear(), d.getMonth() + 1, 5);

    vm.dateRange1 = {startDate:'', endDate:''};
    vm.dateRange2 = {startDate:startDate, endDate:endDate};

    vm.btnName = "preload dates";

    vm.formats = [{
      value: 'EEE, MMM d, y',
      label: 'FullDate1'
    }, {
      value: 'MMMM d, y',
      label: 'longDate'
    }, {
      value: 'MMM d, y',
      label: 'mediumDate'
    }, {
      value: 'M/d/yy',
      label: 'shortDate'
    }, {
      value: 'EEEE, MMMM d, y',
      label: 'FullDate2'
    }];

    vm.onSelectCallback = function(range, start, end) {
      vm.range = range;
      vm.start = start;
      vm.end = end;
      $log.log(range);
    }
  }

  configFunction.$inject = ['i18nTokenProvider'];

  function configFunction(i18nTokenProvider) {
    // need to overwrite locales path on fee.akamai.com
    if (window.location.host == 'fee.akamai.com') {
      i18nTokenProvider.setComponentLocalePath("../dist/locales/");
      i18nTokenProvider.setAppLocalePath("locales/json/messages/");
    }
  }
  </script>
</body>

</html>
