<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Akamai Component Examples - Datetime Picker</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">
  <link rel="stylesheet" href="../node_modules/akamai-core-icons/dist/akamai-core-icons.css">
  <style type="text/css">
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-group div {
    margin: 15px 0;
  }
  </style>
</head>

<body ng-app="exampleApp" ng-controller="DatetimePickerController as vm" ng-strict-di class="common-css luna">
  <br/>
  <h2>Datetime Picker Component Example</h2>
  <br/>
  <h4 class="title">Display selected value</h4>
  <pre>Selected Datetime value: {{vm.datetime | date: 'MMM d, y h:mm a'}}</pre>
  <pre>Selected Datetime value: {{vm.datetime2 | date: 'MMM d, y h:mm a'}}</pre>
  <h4 class="title">Example of Datetime picker</h4>
  <form name='datetime-picker' role='form'>
    <p>Minimum attributes used with no date and time values</p>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <akam-datetime-picker ng-model="vm.datetime" ng-change="vm.onChange()"></akam-datetime-picker>
        </div>
      </div>
      <br/>
      <br/>
      <h4 class="title">Example of Datetime picker and extending the min/max range:</h4>
      <p>All attributes used with initial min and max date and time step ({{vm.hourStep}} hour step, {{vm.minuteStep}} minutes step) values set.</p>
      <br />
      <div class="row">
        <div class="col-md-6">
          <akam-datetime-picker ng-model="vm.datetime2" ng-change="vm.onChange()" format="{{vm.format}}" min="{{vm.min}}" max="{{vm.max}}" minute-step="vm.minuteStep" hour-step="vm.hourStep" show-meridian="vm.showMeridian" is-disabled="vm.disabled">
          </akam-datetime-picker>
        </div>
      </div>
    </div>
  </form>
  <br />
  <div>
    <input id="minDate" type="checkbox" name='minDate' ng-model='vm.minUpdated' ng-click="vm.updateMin()" />
    <label class="label" for="minDate">to change this min date value to prior 3 years (currently using: {{vm.min}})</label>
  </div>
  <div>
    <input id="maxDate" type="checkbox" name='maxDate' ng-model='vm.maxUpdated' ng-click="vm.updateMax()" />
    <label class="label" for="maxDate">to change this max date value to next 3 years(currently using: {{vm.max}})</label>
  </div>
  <script src="utils/i18n-register.js"></script>
  <script src="../dist/akamai-core.js"></script>
  <script>
  angular.module('exampleApp', ['akamai.components.constants', 'akamai.components.datetime-picker'])
    .controller('DatetimePickerController', DatetimePickerController);

  DatetimePickerController.$inject = ['$log'];

  function DatetimePickerController($log) {
    var vm = this;
    vm.disabled = false;
    vm.showMeridian = false;
    vm.minuteStep = 10;
    vm.hourStep = 1;
    vm.format = "EEE, MMM dd, yyyy";
    vm.datetime2 = new Date();

    var d = new Date();
    var defaultMin = new Date(d.getFullYear() - 1, d.getMonth(), 1);
    var defaultMax = new Date(d.getFullYear() + 1, d.getMonth(), 0);


    vm.updateMax = function() {
      vm.max = vm.maxUpdated ? new Date(d.getFullYear() + 3, d.getMonth(), 0) : defaultMax;
      $log.log("max", vm.max);
    }

    vm.updateMin = function() {
      vm.min = vm.minUpdated ? new Date(d.getFullYear() - 3, d.getMonth() + 1, 1) : defaultMin;
      $log.log("min", vm.min);
    }

    vm.min = defaultMin;
    vm.max = defaultMax;

    vm.onChange = function() {
      $log.log("onChange", vm.datetime2);
    }
  }
  </script>
</body>

</html>
