<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Akamai Component Examples - Date Range</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">
  <style type="text/css">
  .title {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .form-group div {
    margin: 15px 0;
  }
  </style>
</head>

<body class="common-css luna" ng-app="dateRangeApp" ng-strict-di ng-controller="DateRangeAppController as vm">
  <br/>
  <h2>Date Range Component Examples</h2>
  <br/>
  <pre>Selected Date Range: {{vm.range}}</pre>
  <pre>Selected Start date: {{vm.start}}</pre>
  <pre>Selected End Date: {{vm.end}}</pre>
  <h4 class="title">Default Date Range:</h4>
  <akam-date-range ng-model="vm.dateRange1" min="{{vm.min}}" max="{{vm.max}}" format="{{vm.format}}" is-disabled="vm.disabled" on-select="vm.onSelectCallback(selectedDateRange, startDate, endDate)"></akam-date-range>
  <br/>
  <div class="form-group">
    <div>
      <input id="disableDateRange" type="checkbox" name='disableDateRange' ng-model='vm.disabled' />
      <label class="label" for="disableDateRange">Disable components</label>
    </div>
    <div>
      <select id="DateRangeFormat" ng-options="format.value as format.label for format in vm.formats" ng-model="vm.format"></select>
      <label class="label" for="DateRangeFormat">Select Date Format</label>
    </div>
    <div>
      <input id="minDate" type="checkbox" name='minDate' ng-model='vm.minUpdated' ng-click="vm.updateMin()"/>
      <label class="label" for="minDate">Change min date value to prior 2 years and 15th of the month (currently : {{vm.min}})</label>
    </div>
    <div>
      <input id="maxDate" type="checkbox" name='maxDate' ng-model='vm.maxUpdated' ng-click="vm.updateMax()"/>
      <label class="label" for="maxDate">Change max date value to next 2 years and 15th of the month (currently : {{vm.max}})</label>
    </div>
  </div>
  <br/> 
  <h4 class="title">Date Range Picker with Initial Values:</h4>
  <akam-date-range ng-model="vm.dateRange2" format="{{vm.format}}" is-disabled="vm.disabled" on-select="vm.onSelectCallback(selectedDateRange, startDate, endDate)"></akam-date-range>
  <br />
  <h4 class="title">Date Ranger Picker with Start Date set, no End Date - Custom Format:</h4>
  <akam-date-range ng-model="vm.dateRangeCustom" is-disabled="vm.disabled" format="MM/dd/yy"></akam-date-range>
  <script src="../dist/akamai-core.js"></script>
  <script>
  angular.module('dateRangeApp', ['akamai.components.constants', 'akamai.components.date-range'])
    .controller('DateRangeAppController', DateRangeAppController)
    .config(configFunction)
    .run(runFunc);

  DateRangeAppController.$inject = ['$log'];

  function DateRangeAppController($log) {
    var vm = this;
    var d = new Date();
    var startDate = new Date(d.getFullYear(), d.getMonth(), 3);
    var endDate = new Date(d.getFullYear(), d.getMonth() + 1, 5);
    var defaultMin = new Date(d.getFullYear()-2, d.getMonth(), 1);
    var defaultMax = new Date(d.getFullYear()+2, d.getMonth(), 0);

    vm.dateRange1 = {startDate:'', endDate:''};
    vm.dateRange2 = {startDate:startDate, endDate:endDate};

    vm.min = defaultMin;
    vm.max = defaultMax;
    
    vm.dateRangeCustom = {startDate:new Date(), endDate:undefined};

    vm.updateMax = function() {
      vm.max = vm.maxUpdated ? new Date(d.getFullYear()+2, d.getMonth(), 15) : defaultMax;
    }

    vm.updateMin = function() {
      vm.min = vm.minUpdated ? new Date(d.getFullYear()-2, d.getMonth(), 15) : defaultMin;
    }

    vm.btnName = "preload dates";

    vm.formats = [{
      value: 'EEE, MMM d, y',
      label: 'FullDate1'
    }, {
      value: 'MMMM d, y',
      label: 'longDate'
    }, {
      value: 'MMM d, y',
      label: 'mediumDate'
    }, {
      value: 'M/d/yy',
      label: 'shortDate'
    }, {
      value: 'EEEE, MMMM d, y',
      label: 'FullDate2'
    }];


    vm.onSelectCallback = function(range, start, end) {
      vm.range = range;
      vm.start = start;
      vm.end = end;
      $log.log(range);
    }
  }

  function configFunction($translatePartialLoaderProvider, VERSION) {

    // need to overwrite locales path on fee.akamai.com
    if (window.location.host == 'fee.akamai.com') {
      $translatePartialLoaderProvider.addPart('../dist/locales/');
      $translatePartialLoaderProvider.addPart('locales/json/messages/');
    } else {
      $translatePartialLoaderProvider.addPart('/libs/akamai-core/'+VERSION+'/locales/');
      $translatePartialLoaderProvider.addPart('/apps/akamai-core-examples/locales/');
    }
  }
  configFunction.$inject = ['$translatePartialLoaderProvider', 'AKAMAI_CORE_VERSION'];

  function runFunc($translate, $cookies) {
      $translate.use($cookies.get('AKALOCALE') || 'en_US');
  }
  runFunc.$inject = ['$translate', '$cookies'];


  </script>
</body>

</html>
