<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples - Dropdown</title>
    <link rel="stylesheet" href="../dist/akamai-core.css">

    <style>
        div h2:first-child {
            margin-bottom:10px;
        }
        body.luna > h1 {
            margin-bottom:20px;
        }
    </style>
</head>

<body class="common-css luna" ng-app="dropdownApp" ng-strict-di ng-controller="DropdownAppController as vm">

    <h1>Dropdown Component Example</h1>

    <div dropdown class="dropdown akam-dropdown" auto-close="outsideClick">

        <div class="dropdown-toggle" dropdown-toggle>
            <span>Select one</span>
            <span></span>
        </div>

        <ul class="dropdown-menu">
            <li><input class="dropdown-filter" type="text"/></li>
            <li ng-repeat="item in vm.items">
                <a href>{{item}}</a>
            </li>
        </ul>
    </div>

<!--
        <div class="dropdown-toggle" dropdown-toggle>
            <span>Select one</span>
            <span></span>
        </div>

        <ul class="dropdown-menu">
            <li>
                <ul>
                    <li><input class="dropdown-filter" type="text"/></li>
                    <li ng-repeat="item in vm.items">
                        <a href>{{item}}</a>
                    </li>

                </ul>
            </li>
        </ul>

    </div>
-->


<!--
    <div dropdown class="dropdown akam-dropdown" auto-close="outsideClick">

        <div class="dropdown-toggle" dropdown-toggle>
            <span>Select one</span>
            <span></span>
        </div>
        <div class="dropdown-menu">
            <ul>
                <li><input class="dropdown-filter" type="text"/></li>
                <li ng-repeat="item in vm.items">
                    <a href>{{item}}</a>
                </li>
            </ul>
        </div>
    </div>
-->


    <script src="../dist/akamai-core.js"></script>

    <script>
        angular.module('dropdownApp', ['akamai.components.dropdown'])
                .controller('DropdownAppController', DropdownAppController);

        DropdownAppController.$inject = ['$log'];
        function DropdownAppController($log) {
            var vm = this;

            vm.items = [
                'The first item. __________________',
                'The second item.',
                'The third item.',
                'The fourth item.',
                'The fifth item.',
                'The sixth item.',
                'The seventh item.',
                'The eighth item.',
                'The ninth item.',
                'The tenth item.'
            ];

            vm.toggled = function(open) {
                $log.log('Dropdown is now: ', open);
            };
        }

    </script>
</body>
</html>