<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples - Dropdown</title>
    <link rel="stylesheet" href="../dist/akamai-core.css">

    <style>
        div h2:first-child {
            margin-bottom:10px;
        }
        body.luna > h1 {
            margin-bottom:20px;
        }
    </style>
</head>

<body class="common-css luna" ng-app="dropdownApp" ng-strict-di ng-controller="DropdownAppController as vm">

    <h1>Dropdown Component Example</h1>

    <div>
        <h2>Default dropdown with a list of strings</h2>
        <akam-dropdown ng-model="vm.ex1.selectedState" options="vm.strings"></akam-dropdown>
    </div>
    <br/>

    <div>
        <h2>Default dropdown with a list of objects</h2>
        <akam-dropdown ng-model="vm.ex2.selectedState" option-property="name" options="vm.stateObjects"></akam-dropdown>
    </div>
    <br/>



<!--
    <akam-dropdown option-property="name" options="vm.options">
        <akam-dropdown-option>
            <a href><b>{{option.name}}</b></a>
        </akam-dropdown-option>
    </akam-dropdown>
-->

    <script src="../dist/akamai-core.js"></script>

    <script>
        angular.module('dropdownApp', ['akamai.components.dropdown'])
                .controller('DropdownAppController', DropdownAppController);

        DropdownAppController.$inject = ['$log'];
        function DropdownAppController($log) {
            var vm = this;
            vm.test = 'test';

            vm.stateObjects = [
                {name: 'Colorado'},
                {name: 'Connecticut'},
                {name: 'Maryland'},
                {name: 'Massachusetts'},
                {name: 'New Hampshire'},
                {name: 'New Jersey'},
                {name: 'New York'},
                {name: 'Vermont'},
                {name: 'Virginia'},
                {name: 'Washington DC'},
            ];

            vm.strings = [
                'Colorado',
                'Connecticut',
                'Maryland',
                'Massachusetts',
                'New Hampshire',
                'New Jersey',
                'New York',
                'Vermont',
                'Virginia',
                'Washington DC'
            ];

            vm.ex1 = {
                selectedState: 'Massachusetts'
            };

            vm.ex2 = {
                selectedState: undefined
            };

            vm.doChange = function() {
                $log.log('option changed');
            };
        }

    </script>
</body>
</html>