<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Akamai Components Examples - Form Validation</title>
        <link rel="stylesheet" href="../dist/akamai-core.css">
        <style>
          form.example {
            background: white;
            border: solid 1px #ccc;
            padding: 1em;
            margin: 0 auto;
          }
          form.example + form.example {
            margin-top: 2em;
          }
        </style>
        
    </head>
    <body class="common-css luna" ng-strict-di ng-app="formValidationExample" ng-controller="formValidationController as vm">
        <div class="container">
            <div class="page-header">
                <h1>Form Validation Example</h1>
            </div>
            
            
            <form class="example" name="kitchenSink" novalidate>
              <legend>Kitchen Sink</legend>
              
              
              
              <div class="form-horizontal show-required">
                <fieldset class="form-group required">
                  <label class="col-md-4">Input</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="input1" ng-model="input1" ng-minlength="2" ng-maxlength="10" min="1" max="11" required>
                    
                    <div ng-messages="kitchenSink.input1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                  
                </fieldset>
              
              
                <fieldset class="form-group">
                  <label class="col-md-4">Longer Input</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="longerInput1" ng-model="longerInput1" ng-minlength="5" ng-maxlength="20" required>
                    
                    <div ng-messages="kitchenSink.longerInput1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
              
                <fieldset class="form-group required">
                  <label class="col-md-4" for="#">Dropdown</label>
                  <div class="col-md-8">
                    <akam-dropdown ng-model="vm.ex1.selectedState" items="vm.strings" name="dropdown1" required></akam-dropdown>
                    
                    <div ng-messages="kitchenSink.dropdown1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not select an item</div>
                    </div>
                  </div>
                </fieldset>
              
                <fieldset class="form-group">
                  <label class="col-md-4">Please make your choice:</label>
                  <div class="col-md-8">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="checkbox1" ng-model="checkbox1" required>
                        <span class="label">Checkbox Label</span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="checkbox2" ng-model="checkbox2" required>
                        <span class="label">Checkbox Label</span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="checkbox3" ng-model="checkbox3" required>
                        <span class="label">Checkbox Label</span>
                      </label>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group">
                  <label class="col-md-4">Much Longer Input</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="muchLongerInput1" ng-model="muchLongerInput1" minlength="5" maxlength="20" required>
                    
                    <div ng-messages="kitchenSink.muchLongerInput1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group required">
                  <label class="col-md-4">Pick A Date Range</label>
                  <div class="col-md-4">
                    <akam-date-picker
                      name="day1" 
                      ng-model="day1" 
                      min="{{min}}" 
                      max="{{max}}" 
                      mode="day" 
                      placeholder="date picker" 
                      ng-change="dateChange()" 
                      format="{{formatDay}}"></akam-date-picker>
                    
                    <div ng-messages="kitchenSink.day1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <akam-date-picker
                      name="day2" 
                      ng-model="day2" 
                      min="{{min}}" 
                      max="{{max}}" 
                      mode="day" 
                      placeholder="date picker" 
                      ng-change="dateChange()" 
                      format="{{formatDay}}"></akam-date-picker>
                    
                    <div ng-messages="kitchenSink.day2.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group">
                  <label class="col-md-4">Pick A Date</label>
                  <div class="col-md-8">
                    <akam-date-picker
                      name="day3"
                      ng-model="day3" 
                      min="{{min}}" 
                      max="{{max}}" 
                      mode="day" 
                      placeholder="date picker" 
                      ng-change="dateChange()" 
                      format="{{formatDay}}"></akam-date-picker>
                    
                    <div ng-messages="kitchenSink.day3.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group required">
                  <label class="col-md-4">Pick A Number</label>
                  <div class="col-md-8">
                    <akam-spinner min="0" max="100" ng-model="number1" name="number1"></akam-spinner>
                    
                    <div ng-messages="kitchenSink.number1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group">
                  <label class="col-md-4">Pick A Time</label>
                  <div class="col-md-8">
                    <akam-time-picker
                      name="time1"
                      ng-model="vm.time" 
                      minute-step="vm.minuteStep" 
                      hour-step="vm.hourStep" 
                      disabled="vm.disabled" 
                      show-meridian="vm.showMeridian"></akam-time-picker>
                    
                    <div ng-messages="kitchenSink.time1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group required">
                  <label class="col-md-4">Tag Input</label>
                  <div class="col-md-8">
                    <akam-tag-input 
                      name="items1"
                      ng-model="items1" 
                      available-items="availableItems" 
                      drag-dropable="true" required></akam-tag-input>
                    
                    <div ng-messages="kitchenSink.items1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group">
                  <label class="col-md-4">Please make your choice:</label>
                  <div class="col-md-8">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" ng-model="optionsRadios" required>
                        <span class="label">Radio Label</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" ng-model="optionsRadios" required>
                        <span class="label">Radio Label</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" ng-model="optionsRadios" required>
                        <span class="label">Radio Label</span>
                      </label>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group required">
                  <label class="col-md-4">Free Text Area</label>
                  <div class="col-md-8">
                    <textarea class="form-control" name="textarea1" ng-model="textarea1" minlength="5" maxlength="20" required rows="5"></textarea>
                    
                    <div ng-messages="kitchenSink.textarea1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
                <fieldset class="form-group">
                  <label class="col-md-4">List Box</label>
                  <div class="col-md-8">
                    <akam-list-box akam-standalone 
                      data="basedata10" 
                      schema="columns10" 
                      filter-placeholder="Filter Employees" 
                      no-data-message="{{noDataMessage}}"></akam-list-box>
                    
                    <div ng-messages="kitchenSink.number1.$error" class="ngMessages" role="alert">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="min">Your value is below the minimum value</div>
                      <div ng-message="max">Your value is above the maximum value</div>
                    </div>
                  </div>
                </fieldset>
                
              </div>
              
              
            </form>
            
            
            
        </div>
        
        <script src="../dist/akamai-core.js"></script>
        
        <script>
          angular.module('formValidationExample', ['akamai.components', 'ngMessages'])
                .controller('formValidationController', formValidationController);
                
          formValidationController.$inject = ['$scope', '$log'];
                
          function formValidationController($scope, $log) {
              var vm = this;
              vm.test = 'test';
              
              // console.log(kitchenSink);
              // debugger;
  
              vm.stateObjects = [
                  {name: 'Colorado'},
                  {name: 'Connecticut'},
                  {name: 'Maryland'},
                  {name: 'Massachusetts'},
                  {name: 'New Hampshire'},
                  {name: 'New Jersey'},
                  {name: 'New York'},
                  {name: 'Vermont'},
                  {name: 'Virginia'},
                  {name: 'Washington, District of Columbia'},
              ];
  
              vm.strings = [
                  'Colorado',
                  'Connecticut',
                  'Maryland',
                  'Massachusetts',
                  'New Hampshire',
                  'New Jersey',
                  'New York',
                  'Vermont',
                  'Virginia',
                  'Washington, District of Columbia'
              ];
  
              // vm.ex1 = { selectedState: 'Massachusetts' };
  
              vm.doChange = function(item) {
                  $log.log('selected item changed', item);
              };
              
              // Data for the Drag/Drop Tag Order Example
              $scope.items1 = [".png",".jpg", ".svg"];
              
              // Data for the Sorted Selected Tag Example
              $scope.items2 = [".xls",".log", ".gif"];
              
              // Data for the Adding New Items Disallowed Example
              $scope.items3 = [".txt",".jpg", ".csv", ".tiff"];
              
              // Data for the tag component with validation
              $scope.items4 = [".png",".jpg", ".svg", ".pdf", ".xls", ".exe", ".app"];
              
              // Data for the Large Available Items List Example
              $scope.items5 = [".exe",".doc", ".rtf"];
              
              // List of all possible tag items
              $scope.availableItems = [
                  ".exe",
                  ".xls",
                  ".txt",
                  ".tiff",
                  ".doc",
                  ".pdf",
                  ".odt",
                  ".app",
                  ".rtf",
                  ".mov",
                  ".old",
                  ".java",
                  ".ini",
                  ".js",
                  ".lib",
                  ".log",
                  ".gif",
                  ".csv"
              ];
              
              // Sort the tag data
              $scope.sortFunction = function(input){
                  return input.sort();
              };
              
              // Write the items from the tag input component to the browser log
              $scope.logTagInputData = function(data){
                  $log.log(data);
              };
              
              // Validate that the tag is at least two characters
              $scope.validateFunction = function(item) {
                  if(!item || item.type === 'string' || item.length > 1){
                      return true;
                  }
                  return false;
              };
              
              var BASE_DATA10 = [
                {"id":1,"first_name":"Norma","last_name":"White","email":"nwhite0@japanpost.jp","country":"China","ip_address":"131.46.59.162","boolean":true,"color":"Yellow"},
                {"id":2,"first_name":"Amanda","last_name":"Martin","email":"amartin1@unesco.org","country":"Haiti","ip_address":"249.90.111.115","boolean":false,"color":"Blue"},
                {"id":3,"first_name":"Gloria","last_name":"Allen","email":"gallen2@reuters.com","country":"Micronesia","ip_address":"233.173.83.45","boolean":false,"color":"Yellow"},
                {"id":4,"first_name":"Bobby","last_name":"Montgomery","email":"bmontgomery3@msn.com","country":"Gabon","ip_address":"16.173.58.169","boolean":true,"color":"Blue"},
                {"id":5,"first_name":"Charles","last_name":"Reyes","email":"creyes4@cbsnews.com","country":"Spain","ip_address":"136.197.92.192","boolean":true,"color":"Red"},
                {"id":6,"first_name":"Joshua","last_name":"Thompson","email":"jthompson5@yale.edu","country":"Russia","ip_address":"61.57.205.127","boolean":true,"color":"Yellow"},
                {"id":7,"first_name":"Sarah","last_name":"West","email":"swest6@shop-pro.jp","country":"China","ip_address":"55.80.171.169","boolean":false,"color":"Green"},
                {"id":8,"first_name":"Amy","last_name":"Stone","email":"astone7@buzzfeed.com","country":"China","ip_address":"183.243.240.125","boolean":true,"color":"Blue"},
                {"id":9,"first_name":"Jeffrey","last_name":"Webb","email":"jwebb8@cloudflare.com","country":"China","ip_address":"216.7.198.28","boolean":false,"color":"Yellow"},
                {"id":10,"first_name":"Andrea","last_name":"Wagner","email":"awagner9@wisc.edu","country":"Sweden","ip_address":"20.158.247.82","boolean":false,"color":"Yellow"}
              ];
              
              $scope.basedata10 = BASE_DATA10;
              
              // Set the object data types that can be selected for the first table
              $scope.obj = {
                  basedata : BASE_DATA10
              };
              
              // This is the message that will appear when no data exists
              $scope.noDataMessage = "No data exists";
          }
      </script>
      
    </body>
</html>