<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Luna Control Center</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">

  <!-- my app css goes here -->

</head>
<body class="luna common-css" ng-app="akamai.components.examples.mega-menu" ng-strict-di ng-controller="MegaMenu as vm">

<akam-menu-header></akam-menu-header>
<h1 class="page-title">My Application Title</h1>
<div role="main">
  <!-- Page content -->
  <h1>{{ vm.currentAccount.name }}</h1>
  <p>
    <button class="btn btn-default" ng-click="vm.changeGroup()">Click to change group</button>
    <span>Will change group to <code>gid=19715</code></span>
  </p>
  <p>
    <button class="btn btn-default" ng-click="vm.changeProperty()">Click to change property</button>
    <span>Will change property to <code>aid=3260447</code></span>
  </p>
  <p>
    <button class="btn btn-default" ng-click="vm.changeAnotherProperty()">Click to change property</button>
    <span>Will change property to <code>aid=10322722</code></span>
  </p>
  <p>
    <button class="btn btn-default" ng-click="vm.switchAccount('portal')">Set account to "Akamai Portal"</button>
  </p><p>
    <button class="btn btn-default" ng-click="vm.switchAccount('internal')">Set account to "Akamai Internal"</button>
  </p>
  <p>
    <button class="btn btn-primary" ng-click="vm.apiRequest()">Click to make an API request</button>
  </p>
</div>
<akam-menu-footer></akam-menu-footer>

</body>
<script src="../dist/akamai-core.js"></script>
<script>
  angular.module('akamai.components.examples.mega-menu', ['akamai.components.constants'])
    .controller('MegaMenu', MegaMenu)
    .config(Config);

  function Config(contextProvider, $translatePartialLoaderProvider, VERSION) {
    contextProvider.setApplicationContext(contextProvider.GROUP_CONTEXT);

    // need to overwrite locales path on fee.akamai.com
    if (window.location.host == 'fee.akamai.com') {
      $translatePartialLoaderProvider.addPart('../dist/locales/');
      $translatePartialLoaderProvider.addPart('locales/json/messages/');
    } else {
      $translatePartialLoaderProvider.addPart('/libs/akamai-core/'+VERSION+'/locales/');
      $translatePartialLoaderProvider.addPart('/apps/akamai-core-examples/locales/');
    }

  }
  Config.$inject = ['contextProvider', '$translatePartialLoaderProvider', 'coreVersion'];

  function MegaMenu($cookies, $http, context) {
    var ids = {
      portal: 'QWthbWFpIFBvcnRhbF9Ba2FtYWkgSW50ZXJuYWx+fjEtODU1UTU=',
      internal: 'QWthbWFpIEludGVybmFsX0FrYW1haSBJbnRlcm5hbH5+MS03S0xHSA=='
    };

    this.changeGroup = function() {
      context.group = 19715;
    };

    this.changeProperty = function() {
      context.property = 3260447;
    };

    this.changeAnotherProperty = function () {
      context.property = 10322722;
    };

    // make two requests to ensure that only 1 dialog shows up
    this.apiRequest = function() {
      $http.get('/apps/appname/locales/en_US.json');
      $http.get('/apps/appname/locales/en_US.json');
    };

    this.switchAccount = function(id) {
      $cookies.put('AKALASTMANAGEDACCOUNT', ids[id], {
        path: '/'
      });
      this.currentAccount = context.getAccountFromCookie();
    };

    this.currentAccount = context.getAccountFromCookie();
  }
  MegaMenu.$inject = ['$cookies', '$http', 'context'];

</script>
</html>
