<!DOCTYPE html>
<html lang="en">
<style>
  body {
    padding-top: 20px;
  }
  .common-css.luna .container{
    padding-bottom: 15px;
  }
</style>
<head>
  <meta charset="UTF-8">
  <title>Akamai Components Examples - Menu Button</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">
  <link rel="stylesheet" href="../node_modules/akamai-core-icons/dist/akamai-core-icons.css">
</head>
<body class="common-css luna" ng-app="exampleApp" ng-strict-di ng-controller="ExampleController as vm">

<div class="container">
  <h1 class="page-header">Menu Button Examples</h1>
</div>
<br />
<div class="container">
  <h3>Menu Button</h3>
  <akam-menu-button>
    <akam-menu-button-item is-disabled="vm.disableItem" text="examples.appNames.tq" ng-click="vm.process('tq')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.bc" ng-click="vm.process('bc')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
    <akam-menu-button-item text="Resolve" ng-click="vm.process('res')"></akam-menu-button-item>
    <akam-menu-button-item text="Event Center" ng-click="vm.process('ec')"></akam-menu-button-item>
    <akam-menu-button-item text="Charaka" ng-click="vm.process('char')"></akam-menu-button-item>
    <akam-menu-button-item text="MegaMenu" ng-click="vm.process('mm')"></akam-menu-button-item>
    <akam-menu-button-item text="EDNS" ng-click="vm.process('edns')"></akam-menu-button-item>
    <akam-menu-button-item text="GTM" ng-click="vm.process('gtm')"></akam-menu-button-item>
  </akam-menu-button>
</div>
<br />
<div class="container">
  <h3>Menu Button with submenus</h3>
  <akam-menu-button>
    <akam-menu-button-item text="examples.appNames.tq" ng-click="vm.process('tq')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.bc" ng-click="vm.process('bc')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
    <akam-submenu text="examples.appNames.pm" is-disabled="vm.disableItem">
      <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
      <akam-submenu text="examples.appNames.bc">
        <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
      </akam-submenu>
    </akam-submenu>
    <akam-submenu text="examples.appNames.pm">
      <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
      <akam-submenu text="examples.appNames.bc">
        <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
      </akam-submenu>
    </akam-submenu>
  </akam-menu-button>
</div>
<br/>
<div class="container">
  <h3>Split Button</h3>
  <akam-menu-button default-text="Choose Application">
    <akam-menu-button-item text="examples.appNames.pm" ng-click="vm.process('pm')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.tq" ng-click="vm.process('tq')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.bc" ng-click="vm.process('bc')"></akam-menu-button-item>
    <akam-menu-button-item text="Resolve" ng-click="vm.process('res')"></akam-menu-button-item>
    <akam-menu-button-item text="Event Center" ng-click="vm.process('ec')"></akam-menu-button-item>
    <akam-menu-button-item text="Charaka" ng-click="vm.process('char')"></akam-menu-button-item>
    <akam-menu-button-item text="MegaMenu" ng-click="vm.process('mm')"></akam-menu-button-item>
    <akam-menu-button-item text="EDNS" ng-click="vm.process('edns')"></akam-menu-button-item>
    <akam-menu-button-item text="GTM" ng-click="vm.process('gtm')"></akam-menu-button-item>
  </akam-menu-button>
</div>
<br />
<div class="container">
  <h3>Small Button</h3>
  <akam-menu-button size="small">
    <akam-menu-button-item ng-repeat="item in vm.items" text="{{ item.id }}" ng-click="vm.process(item.id)">
    </akam-menu-button-item>
  </akam-menu-button>
  <akam-menu-button size="small" default-text="examples.appNames.pm" on-click="vm.process('pm')">
    <akam-menu-button-item text="examples.appNames.tq" ng-click="vm.process('tq')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.bc" ng-click="vm.process('bc')"></akam-menu-button-item>
    <akam-menu-button-item text="Resolve" ng-click="vm.process('res')"></akam-menu-button-item>
    <akam-menu-button-item text="Event Center" ng-click="vm.process('ec')"></akam-menu-button-item>
    <akam-menu-button-item text="Charaka" ng-click="vm.process('char')"></akam-menu-button-item>
    <akam-menu-button-item text="MegaMenu" ng-click="vm.process('mm')"></akam-menu-button-item>
    <akam-menu-button-item text="EDNS" ng-click="vm.process('edns')"></akam-menu-button-item>
    <akam-menu-button-item text="GTM" ng-click="vm.process('gtm')"></akam-menu-button-item>
  </akam-menu-button>
</div>
<br />
<div class="container">
  <h3>Disabled Buttons</h3>
  <akam-menu-button is-disabled="vm.isDisabled">
    <akam-menu-button-item ng-repeat="item in vm.items" text="{{ item.id }}" ng-click="vm.process(item.id)">
    </akam-menu-button-item>
  </akam-menu-button>
  <akam-menu-button is-disabled="vm.isDisabled" default-text="examples.appNames.pm" on-click="vm.process('pm')">
    <akam-menu-button-item text="This is a very long name being used as a menu button item for Tranquility" ng-click="vm.process('tq')"></akam-menu-button-item>
    <akam-menu-button-item text="examples.appNames.bc" ng-click="vm.process('bc')"></akam-menu-button-item>
    <akam-menu-button-item text="Resolve" ng-click="vm.process('res')"></akam-menu-button-item>
    <akam-menu-button-item text="Event Center" ng-click="vm.process('ec')"></akam-menu-button-item>
    <akam-menu-button-item text="Charaka" ng-click="vm.process('char')"></akam-menu-button-item>
    <akam-menu-button-item text="MegaMenu" ng-click="vm.process('mm')"></akam-menu-button-item>
    <akam-menu-button-item text="EDNS" ng-click="vm.process('edns')"></akam-menu-button-item>
    <akam-menu-button-item text="GTM" ng-click="vm.process('gtm')"></akam-menu-button-item>
  </akam-menu-button>

  <div class="form-group">
    <input id="disableSplitButton" type="checkbox" name="disableSplitButton" ng-model="vm.isDisabled" />
    <label class="label" for="disableSplitButton">Disable</label>
  </div>
</div>
<br />
  <div class="container">
      <h3>Available Button Sizes - Custom Text</h3>
      <akam-menu-button size="small">
        <akam-menu-button-item ng-repeat="item in vm.items" text="{{ item.id }}" ng-click="vm.process(item.id)">
        </akam-menu-button-item>
      </akam-menu-button>
       <akam-menu-button size="medium">
        <akam-menu-button-item ng-repeat="item in vm.items" text="{{ item.id }}" ng-click="vm.process(item.id)">
        </akam-menu-button-item>
      </akam-menu-button>
      <br />
      <akam-menu-button size="small" default-text="examples.appNames.pm" default-text-values="{{vm.customName}}"
                        on-click="vm.process('pm')">
        <akam-menu-button-item text="examples.appNames.tq" text-values="{'name':'- Beta Version'}" ng-click="vm.process('tq')"></akam-menu-button-item>
        <akam-menu-button-item text="examples.appNames.bc" text-values="{{vm.customName}}" ng-click="vm.process('bc')"></akam-menu-button-item>
        <akam-menu-button-item text="Resolve" ng-click="vm.process('res')"></akam-menu-button-item>
        <akam-menu-button-item text="Event Center" ng-click="vm.process('ec')"></akam-menu-button-item>
        <akam-menu-button-item text="Charaka" ng-click="vm.process('char')"></akam-menu-button-item>
        <akam-menu-button-item text="MegaMenu" ng-click="vm.process('mm')"></akam-menu-button-item>
        <akam-menu-button-item text="EDNS" ng-click="vm.process('edns')"></akam-menu-button-item>
        <akam-menu-button-item text="GTM" ng-click="vm.process('gtm')"></akam-menu-button-item>
      </akam-menu-button>
      <akam-menu-button size="medium" default-text="examples.appNames.pm" on-click="vm.process('pm')">
        <akam-menu-button-item text="examples.appNames.tq" ng-click="vm.process('tq')"></akam-menu-button-item>
        <akam-menu-button-item text="examples.appNames.bc" ng-click="vm.process('bc')"></akam-menu-button-item>
        <akam-menu-button-item text="Resolve" ng-click="vm.process('res')"></akam-menu-button-item>
        <akam-menu-button-item text="Event Center" ng-click="vm.process('ec')"></akam-menu-button-item>
        <akam-menu-button-item text="Charaka" ng-click="vm.process('char')"></akam-menu-button-item>
        <akam-menu-button-item text="MegaMenu" ng-click="vm.process('mm')"></akam-menu-button-item>
        <akam-menu-button-item text="EDNS" ng-click="vm.process('edns')"></akam-menu-button-item>
        <akam-menu-button-item text="GTM" ng-click="vm.process('gtm')"></akam-menu-button-item>
      </akam-menu-button>
    </div>

<script src="utils/i18n-register.js"></script>
<script src="../dist/akamai-core.js"></script>

<script>
  var controllerFuction = function() {

    this.process = function(item) {
      console.log('You clicked on the the app: ', item);
    };

    this.customName ="{'name':'- Beta Version'}";

    this.items = [{
      id: 'examples.appNames.tq'
    }, {
      id: 'examples.appNames.bc'
    }, {
      id: 'This is a very long name being used as a menu button item for Property Manager',
    }, {
     id: 'Menu Item 4',
    }, {
      id: 'Menu Item 5'
    }, {
      id: 'Menu Item 6'  ,
      }, {
      id: 'Menu Item 7'
    }, {
      id: 'Menu Item 8'
    }];

    this.isDisabled = true;
    this.disableItem = true;
  };

  angular.module('exampleApp',
    ['akamai.components.constants', 'akamai.components.menu-button'])
    .controller('ExampleController', controllerFuction);
</script>
</body>
</html>
