<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples - Message Box</title>
    <link rel="stylesheet" href="../node_modules/pulsar-common-css/dist/styles.css">
</head>
<body class="common-css" ng-app="example" ng-controller="ExampleController">
    <div class="container">
        <h1>Message Box Example</h1> 
        <form>
            <div class="label-group">
                <label for="title">Title</label>
                <input
                    id="title"
                    type="text"
                    ng-model="options.title">
            </div>
            <div class="label-group">
                <label for="headline">Headline</label>
                <input
                    id="headline"
                    type="text"
                    ng-model="options.headline">
            </div>
            <div class="label-group">
                <label for="message">Text</label>
                <input
                    id="text"
                    type="text"
                    ng-model="options.text">
            </div>
            <div class="label-group">
                <label for="details">Details</label>
                <input
                    id="details"
                    type="text"
                    ng-model="options.details">
            </div>
            <div>
                <button
                    type="button"
                    class="button large"
                    ng-click="showInfoBox()">
                    Show Info Box
                </button>
                <button
                    type="button"
                    class="button large"
                    ng-click="showQuestionBox()">
                    Show Question Box
                </button>
                <button
                    type="button"
                    class="button large"
                    ng-click="showErrorBox()">
                    Show Error Box
                </button>
            </div>
        </form>
    </div> 

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../dist/akamai-components.js"></script>
    <script>
        angular.module('example', ['akamai.components.message-box'])

        .controller('ExampleController', function($scope, messageBox) {
            $scope.options = {
                headline: 'Headline',
                text: 'Unsaved changes will be discarded.',
                details: ''
            };

            $scope.showInfoBox = function() {
                messageBox.showInfo(angular.extend({}, $scope.options));
            };

            $scope.showQuestionBox = function() {
                messageBox.showQuestion(angular.extend({}, $scope.options));
            };

            $scope.showErrorBox = function() {
                messageBox.showError(angular.extend({}, $scope.options));
            };
        });
    </script>
</body>
</html>
