<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Akamai Component Examples - Message Box</title>
        <link rel="stylesheet" href="../dist/akamai-core.css">
    </head>
    <body class="common-css luna" ng-app="example" ng-strict-di ng-controller="ExampleController">
        <div class="container">
             <div class="page-header">
                <h1>Message Box Component Example</h1>
            </div>
            <div>
                <h3>Component Options:</h3>
                <br />
                <div class="label-group">
                    <label class="label" for="title">Title:</label><br>
                    <input id="title" type="text" ng-model="options.title" size="100">
                </div>
                <br />
                <div class="label-group">
                    <label class="label" for="headline">Headline:</label><br>
                    <input id="headline" type="text" ng-model="options.headline" size="100">
                </div>
                <br />
                <div class="label-group">
                    <label class="label" for="message">Text:</label><br>
                    <input id="text" type="text" ng-model="options.text" size="100">
                </div>
                <br />
                <div class="label-group">
                    <label class="label" for="details">Details:</label><br>
                    <input id="details" type="text" ng-model="options.details" size="100">
                </div>
                <br />
                <h3>Action Button Options:</h3>
                <br />
                <div class="label-group">
                    <label class="label" for="cancel">Cancel Button Text:</label><br>
                    <input id="cancel" type="text" ng-model="options.cancelLabel" size="50">
                </div>
                <br />
                <br />
                <div class="label-group">
                    <label class="label" for="submit">Submit Button Text:</label><br>
                    <input id="submit" type="text" ng-model="options.submitLabel" size="50">
                </div>
                <br />
                  <br />
                <div>
                    <h3>Button Options:</h3><br>
                    <input type="checkbox" name="hideSubmit" id="hideSubmit" ng-model="options.hideSubmit"/>
                    <label class="label" for="hideSubmit">Hide Submit Button</label>
                </div>
                <br />
                <div>
                    <h3>Show Message Box:</h3>
                    <button type="button" class="button large" ng-click="showInfoBox()">Info</button>
                    <button type="button" class="button large" ng-click="showQuestionBox()">Question</button>
                    <button type="button" class="button large" ng-click="showErrorBox()">Error</button>
                </div>
            </div>
            <script src="../dist/akamai-core.js"></script>
            <script>
                var controllerFunction = function($scope, messageBox, $log) {
                    $scope.options = {
                        title: 'Title Text Goes Here',
                        headline: 'Headline Text Goes Here',
                        text: 'Message Box Text Goes Here',
                        details: '',
                        cancelLabel: 'Cancel Button Text',
                        submitLabel: 'Submit Button Text',
                        hideSubmit: false
                    };

                    $scope.showInfoBox = function() {
                        var boxResult = messageBox.showInfo(angular.extend({}, $scope.options));

                        // Log which button was clicked on the showInfo box
                        boxResult.result
                            .then(function() {
                                $log.log('Submit button was clicked.');
                            })
                            .catch(function() {
                                $log.log('Cancel button was clicked.');
                            });
                    };

                    $scope.showQuestionBox = function() {
                        messageBox.showQuestion(angular.extend({}, $scope.options));
                    };

                    $scope.showErrorBox = function() {
                        messageBox.showError(angular.extend({}, $scope.options));
                    };
                };


            function configFunction($translatePartialLoaderProvider, VERSION) {

              // need to overwrite locales path on fee.akamai.com
              if (window.location.host == 'fee.akamai.com') {
                $translatePartialLoaderProvider.addPart('../dist/locales/');
                $translatePartialLoaderProvider.addPart('locales/json/messages/');
              } else {
                $translatePartialLoaderProvider.addPart('/libs/akamai-core/'+VERSION+'/locales/');
                $translatePartialLoaderProvider.addPart('/apps/akamai-core-examples/locales/');
              }
            }
            configFunction.$inject = ['$translatePartialLoaderProvider', 'CORE-VERSION'];

            controllerFunction.$inject = ['$scope', 'messageBox', '$log'];
            angular.module('example', ['akamai.components.message-box'])

            .controller('ExampleController', controllerFunction)
            .config(configFunction);

            </script>
        </div>
    </body>
</html>
