<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples - Modal Window</title>
    <link rel="stylesheet" href="../node_modules/pulsar-common-css/dist/styles.css">
</head>
<body class="common-css luna" ng-app="example" ng-controller="ExampleController">
    <div class="container">
        <div class="page-header">
            <h1>Modal Window Example</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input
                    id="title"
                    type="text"
                    ng-model="options.title">
            </div>
            <div class="form-group">
                <label for="cancelLabel">Cancel Label</label>
                <input
                    id="cancelLabel"
                    type="text"
                    ng-model="options.cancelLabel">
            </div>
            <div class="form-group">
                <label for="submitLabel">Submit Label</label>
                    <input
                        id="submitLabel"
                        type="text"
                        ng-model="options.submitLabel">
            </div>
            
            <div class="form-group">
            <input
                id="hideSubmit"
                type="checkbox"
                ng-model="options.hideSubmit">
            <label for="hideSubmit">Hide Submit</label>
            </div>
            
            <div class="btn-group">
                <button
                    type="button"
                    class="btn"
                    ng-click="open()">
                    Open
                </button>
                <button
                    type="button"
                    class="btn"
                    ng-click="openWithTemplateUrl()">
                    Open With Template Url
                </button>
            </div>
        </form>
    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../dist/akamai-components.js"></script>
    <script>
        angular.module('example', ['akamai.components.modal-window'])

        .controller('ExampleController', function($scope, $rootScope, modalWindow) {
            var modalScope = $rootScope.$new();
            var times = 0;

            modalScope.name = 'Akamai';
            modalScope.blah = function(close){
                if (times++  === 0) {
                    return;
                }else{
                    close();
                }
            };

            $scope.options = {
                title: 'Example',
                cancelLabel: 'Cancel',
                submitLabel: 'Save',
                hideSubmit: false
            };

            $scope.open = function() {
                // create a new modal window instance with supplied options
                var instance = modalWindow.open(angular.extend({}, $scope.options, {
                    scope: modalScope,
                    template: '<p>Hello {{ name }}</p>',
                    controller: function($scope) {
                    
                    },
                    submittedCallback : function(close){
                        if (times++  === 0) {
                            return;
                        }else{
                            close('yaya override');
                        }
                    } 
                }));

                // listen for the result returned by the modal window
                instance.result
                    .then(function(result) {
                        console.log('Modal Window returned ' + result);
                    })
                    .catch(function() {
                        console.log('Modal Window was cancelled.');
                    });
            };

            $scope.openWithTemplateUrl = function() {
                // create a new modal window instance with a specific template url
                modalWindow.open(angular.extend({}, $scope.options, {
                    scope: modalScope,
                    templateUrl: 'templates/modal-window.tpl.html',
                    controller: 'ModalController'
                }));
            };
        })

        .controller('ModalController', function($scope) {
            var times = 0;
            // listen for when the user clicks the submit button
            $scope.blah = function(close) {
                debugger;
                // call the supplied close function with an argument to pass as
                // the modal window result
                if (times === 0) {
                    times++;
                    return;
                }else{
                    close('Hello Developer');
                }
            };

            // control the disabled state of the submit button
            $scope.toggle = function() {
                if ($scope.isSubmitDisabled()) {
                    $scope.enableSubmit();
                } else {
                    $scope.disableSubmit();
                }
            };
        });

    </script>
</body>
</html>
