<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Akamai Components Examples - Modal Window</title>
        <link rel="stylesheet" href="../dist/akamai-core.css">
    </head>
    <body class="common-css luna" ng-app="exampleApp" ng-strict-di ng-controller="ExampleController">
        <div class="container">
             <div class="page-header">
                <h1>Modal Window Component Example</h1>
            </div>
            <h2>Component Options:</h2>
            <br />
            <form>
                <div class="label-group">
                    <label class="label" for="title">Title:</label><br>
                    <input id="title" type="text" ng-model="options.title" size="50">
                </div>
                <br />
                <div>
                    <h3>Button Options:</h3><br>
                    <input type="checkbox" name="hideSubmit" id="hideSubmit" ng-model="options.hideSubmit"/>
                    <label class="label" for="hideSubmit">Hide Submit Button</label>
                </div>
                <br />
                <div class="label-group">
                    <label class="label" for="cancel">Cancel Button Text:</label><br>
                    <input id="cancel" type="text" ng-model="options.cancelLabel" size="50"/>
                </div>
                <br />
                <div class="label-group">
                    <label class="label" for="submit">Submit Button Text:</label><br>
                    <input id="submit" type="text" ng-model="options.submitLabel" size="50"/>
                </div>
                <br />
                <br />
                <div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-lg" ng-click="open()">Open</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="openWithTemplateUrl()">Open With Template</button>
                  </div>
                </div>
                <br />
                <br />
                <div>
                    <h2>Embedded Components Examples:</h2>
                    <br />
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-lg" ng-click="openWithTableTemplateUrl()">Open With Table Template</button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="openWithAutcompleteTemplateUrl()">Open With Autocomplete Template</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="utils/i18n-register.js"></script>
        <script src="../dist/akamai-core.js"></script>
        <script>
            var exampleController = function($scope, $rootScope, modalWindow, $log, $q, $timeout, $filter) {
                var modalScope = $rootScope.$new();
                modalScope.items = [
                  {"id":1,"first_name":"Norma","last_name":"White","email":"nwhite0@japanpost.jp","country":"China","ip_address":"131.46.59.162","boolean":true,"color":"Yellow"},
                  {"id":2,"first_name":"Amanda","last_name":"Martin","email":"amartin1@unesco.org","country":"Haiti","ip_address":"249.90.111.115","boolean":false,"color":"Blue"},
                  {"id":3,"first_name":"Gloria","last_name":"Allen","email":"gallen2@reuters.com","country":"Micronesia","ip_address":"233.173.83.45","boolean":false,"color":"Yellow"},
                  {"id":4,"first_name":"Bobby","last_name":"Montgomery","email":"bmontgomery3@msn.com","country":"Gabon","ip_address":"16.173.58.169","boolean":true,"color":"Blue"},
                  {"id":5,"first_name":"Charles","last_name":"Reyes","email":"creyes4@cbsnews.com","country":"Spain","ip_address":"136.197.92.192","boolean":true,"color":"Red"},
                  {"id":6,"first_name":"Joshua","last_name":"Thompson","email":"jthompson5@yale.edu","country":"Russia","ip_address":"61.57.205.127","boolean":true,"color":"Yellow"}
                ];

                modalScope.ex1 = { selectedState: 'Massachusetts' };

                modalScope.searchStateStrings = function(searchTerm) {
                    var stateStrings = [
                        'Colorado',
                        'Connecticut',
                        'Maryland',
                        'Massachusetts',
                        'New Hampshire',
                        'New Jersey',
                        'New York',
                        'Vermont',
                        'Virginia',
                        'Washington, District of Columbia'
                    ];

                    var criteriaMatch = function(item) {
                        return item.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
                    };

                    return $filter('filter')(stateStrings, criteriaMatch);
                };

                modalScope.fakeSubmit = function(row){
                  row.isInProgress = true;
                  row.isFailed = false;
                  row.isSuccess = false;
                  var timesCalled = 0;

                  $timeout(function(){
                    row.isInProgress = false;
                    if(timesCalled++ % 2 === 0){
                      row.isFailed = true;
                    }else{
                      row.isSuccess = true;
                    }
                  }, 2500);
                };

                var times = 0;

                modalScope.name = 'Akamai Engineer';
                modalScope.deferredValue = 'Opened';

                $scope.options = {
                    title: 'Regarding Your Subscription Information',
                    cancelLabel: 'components.modal-window.label.cancel',
                    cancelLabelValues: {'name':'- Beta Version'},
                    submitLabel: 'components.modal-window.label.save',
                    submitLabelValues: {'name':'- Beta Version'},
                    hideSubmit: false,
                    successMessage: 'Success!',
                    errorMessage: 'Error!',
                    showFullscreenToggle: true
                };

                var aController = function($scope) {
                    this.descriptionLabel = 'Description:';
                    this.reasonLabel = 'Reason:';
                    this.exemptionLabel = 'Exemption:';
                    this.otherLabel = 'Other:';

                    $scope.setOnSubmit(function(){
                        var deferral = $q.defer();
                        $timeout(function() {
                            if (times % 2 === 0) {
                                deferral.reject({enableSubmit : true });
                            }else{
                                deferral.resolve( { status: $scope.deferredValue } );
                            }

                            times++;
                        }, 1000);
                        return deferral.promise;
                    });


                    $log.log($scope.deferredValue);
                    $log.log(modalScope.deferredValue);

                    $scope.deferredValue = "Deferred Value returned";
                    modalScope.customValue = 'Custom Value returned';
                };

                aController.$inject = ['$scope'];

                $scope.open = function() {

                    // Create a new modal window instance with supplied options
                    var instance = modalWindow.open(angular.extend({}, $scope.options, {
                        scope: modalScope,
                        template:  angular.element('<label class="label">FYI:</label><p>Please be advised that your subscription will be expiring in 21 days</p>' +
                                    '<p>NOTE: The first time you click the submit, it should fail.  The second time it will succeed. Look at setOnSubmit!' +
                                    '<div class="label-group"><label class="label" for="description">{{templateExample.descriptionLabel}}</label><br>' +
                                    '<textarea id="description" type="text" rows="4" cols="75"></textarea>' +
                                    '</div><br />' +
                                    '<div class="label-group"><label class="label" for="reason">{{templateExample.reasonLabel}}</label><br>' +
                                    '<textarea id="reason" type="text" rows="4" cols="75"></textarea>' +
                                    '</div><br />' +
                                    '<div class="label-group"><label class="label" for="exemption">{{templateExample.exemptionLabel}}</label><br>' +
                                    '<textarea id="exemption" type="text" rows="4" cols="75"></textarea>' +
                                    '</div><br />' +
                                    '<div class="label-group"><label class="label" for="other">{{templateExample.otherLabel}}</label><br>' +
                                    '<textarea id="other" type="text" rows="4" cols="75"></textarea>' +
                                    '</div><br />'),
                        controller: aController,
                        controllerAs: 'templateExample'
                    }));

                    // Listen for the result returned by the modal window
                    instance.result
                        .then(function(result) {
                            $log.log('open: Modal Window returned ', result);
                        })
                        .catch(function() {
                            $log.log('open: Modal Window was cancelled');
                        });
                };

                $scope.options2 = {
                    title: 'Modal Window with Embedded Components',
                    showFullscreenToggle: true
                };

                $scope.openWithTemplateUrl = function() {
                    // Create a new modal window instance with a specific template url
                    var instance = modalWindow.open(angular.extend({}, $scope.options, {
                        scope: modalScope,
                        templateUrl: 'templates/modal-window.tpl.html',
                        controller: 'ModalController'
                    }));

                    // Listen for the result returned by the modal window that is opened with a template
                    instance.result
                        .then(function(result) {
                            $log.log('openWithTemplateUrl: Modal Window returned ', result);

                        })
                        .catch(function() {
                            $log.log('openWithTemplateUrl: Modal Window was cancelled.');
                        });
                };

                $scope.openWithTableTemplateUrl = function() {
                    // Create a new modal window instance with a specific template url
                    var instance = modalWindow.open(angular.extend({}, $scope.options2, {
                        scope: modalScope,
                        templateUrl: 'templates/modal-window.table.tpl.html',
                        controller: 'ModalController2'
                    }));

                    // Listen for the result returned by the modal window that is opened with a template
                    instance.result
                        .then(function(result) {
                            $log.log('openWithTemplateUrl: Modal Window returned ', result);

                        })
                        .catch(function() {
                            $log.log('openWithTemplateUrl: Modal Window was cancelled.');
                        });
                };


                $scope.openWithAutcompleteTemplateUrl = function() {
                    $log.log('calling autocomplete template');
                    // Create a new modal window instance with a specific template url
                    var instance = modalWindow.open(angular.extend({}, $scope.options2, {
                        scope: modalScope,
                        templateUrl: 'templates/modal-window.autocomplete.tpl.html',
                        controller: 'ModalController2'
                    }));

                    // Listen for the result returned by the modal window that is opened with a template
                    instance.result
                        .then(function(result) {
                            $log.log('openWithTemplateUrl: Modal Window returned ', result);

                        })
                        .catch(function() {
                            $log.log('openWithTemplateUrl: Modal Window was cancelled.');
                        });
                };
            };

            var modalController = function($scope, $q, $timeout) {
                var times = 0;

                $scope.setOnSubmit(function(){
                    var deferral = $q.defer();
                    $timeout(function() {
                        if (times % 2 === 0) {
                            deferral.reject({enableSubmit : true });
                        }else{
                            deferral.resolve( { status: $scope.deferredValue } );
                        }

                        times++;
                    }, 3000);
                   return deferral.promise;
                });

                // Disable the save button by default
                $scope.disableSubmit();

                $scope.customValue = 'Custom Value returned';

                // Control the disabled state of the submit button
                $scope.toggle = function() {
                    if ($scope.isSubmitDisabled()) {
                        $scope.enableSubmit();
                    } else {
                        $scope.disableSubmit();
                    }
                };
            };

            var modalController2 = function($scope, $q, $timeout) {
                var times = 0;

                $scope.setOnSubmit(function(){
                    var deferral = $q.defer();
                    $timeout(function() {
                        if (times % 2 === 0) {
                            deferral.reject({enableSubmit : true });
                        }else{
                            deferral.resolve( { status: $scope.deferredValue } );
                        }

                        times++;
                    }, 3000);
                   return deferral.promise;
                });

                $scope.customValue = 'Custom Value returned';
            };

            exampleController.$inject = ['$scope', '$rootScope', 'modalWindow', '$log', '$q', '$timeout', '$filter'];
            modalController.$inject = ['$scope', '$q', '$timeout','$filter'];
            modalController2.$inject = ['$scope', '$q', '$timeout','$filter'];

            angular.module('exampleApp', ['akamai.components.constants', 'akamai.components.modal-window',
                    'akamai.components.indeterminate-progress', 'akamai.components.table', 'akamai.components.autocomplete', 'akamai.components.menu-button'])
            .controller('ExampleController', exampleController)
            .controller('ModalController', modalController)
            .controller('ModalController2', modalController2);

        </script>
    </body>
</html>
