<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Akamai Component Examples</title>
        <link rel="stylesheet" href="../dist/akamai-core.css">
    </head>
    <body ng-app="example" ng-controller="ExampleController" ng-strict-di class="common-css luna">
        <div class="container">
            <div class="page-header">
                <h1>Pagination Component Example</h1>
                <h5>This example showcases the setting of the Show Entries (rows per page) and setting the current page.  Notice that when
                changing the Show Entries setting how the total page count alters dynamically.  The Previous and Next icons are disabled
                according to the Result Set Size and Show Entries settings.</h5>
            </div>
            <h2>Pagination Options:</h2>
            <br />
            <form>
                <div class="form-group">
                    <label class="label" for="totalItems">Result Set Size:</label>
                    <input type="number" id="totalItems" ng-model="pager.totalItems">
                </div>
                <br />
                <div class="form-group">
                    <label class="label" for="currentPage">Current Page:</label>
                    <input type="number" id="currentPage" ng-model="pager.page">
                </div>
            </form>
                <akam-pagination akam-standalone total-items="pager.totalItems" current-page="pager.page"
                    page-size="pager.size" onchangepage="pageChanged(page)"></akam-pagination>
        </div>

        <script src="../dist/akamai-core.js"></script>
        <script>

            var exampleControllerFunction = function($scope, $log) {
                $scope.pager = {
                    totalItems: 125,
                    page: 7,
                    size: 22
                };

                $scope.pageChanged = function(page) {
                    $log.log('Pagination Component:  Page navigation changed to: ', page);
                };
            };
            exampleControllerFunction.$inject = ['$scope', '$log'];

            function configFunction($translatePartialLoaderProvider, VERSION) {

              // need to overwrite locales path on fee.akamai.com
              if (window.location.host == 'fee.akamai.com') {
                $translatePartialLoaderProvider.addPart('../dist/locales/');
                $translatePartialLoaderProvider.addPart('locales/json/messages/');
              } else {
                $translatePartialLoaderProvider.addPart('/libs/akamai-core/'+VERSION+'/locales/');
                $translatePartialLoaderProvider.addPart('/apps/akamai-core-examples/locales/');
              }
            }
            configFunction.$inject = ['$translatePartialLoaderProvider', 'coreVersion'];

            angular.module('example', ['akamai.components','akamai.components.pagination'])

            .controller('ExampleController', exampleControllerFunction)
            .config(configFunction);
        </script>
    </body>
</html>