<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Akamai Components Examples - Spinner</title>
  <link rel="stylesheet" href="../dist/akamai-core.css">
</head>
<body class="common-css luna" ng-app="spinner-button" ng-strict-di ng-controller="SpinnerButtonController as vm">
<div class="container">
  <h1>Spinner Button Component Example</h1>
  <br/>
</div>
<div class="container">
  <form name="form">
    <h2>Example 1 - Spinner Button: Text Content set to i18n key (no disabled or processing)</h2>
    <br>
    <div class="container">
      <akam-spinner-button text-content="components.wizard.label.submit"></akam-spinner-button>
    </div>
    <br>
    <br>
    <h2>Example 2 - Spinner Button: Enable / Disable "processing" property</h2>
      <input type="checkbox" id="processing" ng-model="vm.processing"><label for="processing">Turn On/Off Processing</label>
    <br />
      <akam-spinner-button text-content="process me on / off" processing="vm.processing"></akam-spinner-button>
    <br>
    <br>
    <h2>Example 3 - Spinner Button: Enable / Disable "disabled" property</h2>
      <input type="checkbox" id="disabled" ng-model="vm.disabled"><label for="disabled">Turn On/Off Disabled</label>
    <br />
      <akam-spinner-button class="yair" text-content="turn me on / off" disabled="vm.disabled"></akam-spinner-button>
  </form>
  <br>
  <br>
</div>
<script src="../dist/akamai-core.js"></script>
<script>
  angular.module('spinner-button', ['akamai.components.constants', 'akamai.components.spinner-button']);

  angular
      .module('spinner-button')
      .controller('SpinnerButtonController', SpinnerButtonController)
      .config(configFunction);

  function SpinnerButtonController() {
    var vm = this;
    vm.disabled = false;
    vm.processing = false;
  }

  function configFunction($translatePartialLoaderProvider, VERSION) {

  // need to overwrite locales path on fee.akamai.com
  if (window.location.host == 'fee.akamai.com') {
    $translatePartialLoaderProvider.addPart('../dist/locales/');
    $translatePartialLoaderProvider.addPart('locales/json/messages/');
  } else {
    $translatePartialLoaderProvider.addPart('/libs/akamai-core/'+VERSION+'/locales/');
    $translatePartialLoaderProvider.addPart('/apps/akamai-core-examples/locales/');
  }
}
configFunction.$inject = ['$translatePartialLoaderProvider', 'coreVersion'];

</script>
</body>
</html>
