<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Akamai Components Examples - Spinner</title>
      <link rel="stylesheet" href="../dist/akamai-core.css">
    </head>  
    <body class="common-css luna" ng-app="spinner" ng-strict-di ng-controller="SpinnerController as vm">
      <div class="container">
        <h1>Spinner Component Example</h1>
        <br/>
      </div>
      <div class="container">
        <form name="form">
          <h4>Form controller values:</h4>
          <ul>
            <li>
              <p>Form has been modified : {{ form.$dirty }}</p>
            </li>
            <li>
              <p>Form is valid : {{ form.$valid }} </p>
            </li>
            <li>
              <p>Min Value : {{ vm.min }} </p>
            </li>
            <li>
              <p>Max Value : {{ vm.max }} </p>
            </li>
            <li>
              <p>Spinner Value : {{ vm.value2 }} </p>
            </li>
          </ul>
          <br>
          <h2>Example 1 - Setting Spinner Input Value</h2>
          <br>
          <h4>Spinner Input Value (no min or max):</h4>
          <div class="container">
            <akam-spinner ng-model="vm.value2" ng-change="vm.inputChanged()"></akam-spinner>
          </div>
          <br>
          <br>
          <h2>Example 2 - Setting Min, Max and Input Values</h2>
          <br>
          Set Min Value here:
          <input type="text" size="3" ng-model="vm.min">    
          <br />
          <br />
          Set Max Value here:
          <input type="text" size="3" ng-model="vm.max">    
          <br />
          <br />
          Set Input Value here:
          <input type="text" size="3" ng-change="vm.inputChanged()" ng-model="vm.value2">    
          <br>
          <br>
          <h2>Example 3 - Enable/Disable Spinner</h2>
          <br />
          <button class="button" ng-click="vm.buttonClick()">{{vm.buttonName}}</button>
          <br>
          <br>
          <div class="container">
            <akam-spinner min="{{vm.min}}" max="{{vm.max}}" ng-model="vm.value2" disabled={{vm.disabled}}>
            </akam-spinner>
          </div>
        </form>
    </div>
      <script src="../dist/akamai-core.js"></script>
      <script>
      angular.module('spinner', ['akamai.components.spinner']);
    
      angular
        .module('spinner')
        .controller('SpinnerController', SpinnerController);
    
      function SpinnerController() {
        var vm = this;
        vm.input = 0;
        vm.value2 = 0;
        vm.minValue = 0;
        vm.maxValue = 0;
        vm.min = 0;
        vm.max = 300;
        vm.disabled = false;//true or false
        vm.buttonName = 'Disable Spinner';
        vm.buttonClick = toggleButton;
        vm.inputChanged = inputChanged;
    
        function toggleButton() {
          vm.buttonName = vm.buttonName === 'Disable Spinner' ? 'Enable Spinner' : 'Disable Spinner';
          if (vm.buttonName === 'Enable Spinner') {
            vm.disabled = true;
          } else {
            vm.disabled = false;
          }
        }
    
        function inputChanged() {
          vm.value2 = parseInt(vm.value2);
          console.log("input changed: " + vm.value2);
        }
      }
      </script>
    </body>
</html>
