<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../node_modules/pulsar-common-css/dist/styles.css" />
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../dist/akamai-components.js"></script>
    <style>
        .animate-hide {
          -webkit-transition: opacity linear 0.5s;
          transition: opacity linear 0.5s;
        }
        
        .animate-hide.hide-fade {
          opacity: 0;
        }
    </style>
</head>
<body ng-app="statusMessageDemo" ng-controller="Ctrl" class="common-css">
    <div class="container">
        <h1>Status Message Example</h1>
        
        <form>
            <div class="form-group">
              <label for="messageTitle">Message Title</label>
              <input type="text" id="messageTitle" class="form-control" ng-model="messageTitle" />
            </div>
            <div class="form-group">
              <label for="messageText">Message Text</label>
              <input type="text" id="messageText" class="form-control" ng-model="messageText" />
            </div>
            <div class="form-group">
              <label for="messageTimeout">Timeout</label><input type="text" class="form-control" id="messageTimeout" ng-model="messageTimeout" />
              <p class="help-block">Use timeout: 0 for manual close.</p>
            </div>
            <button class="btn" ng-click="showStatus()">Show Notification</button>
        </form>
    </div>
    
    <script type="text/javascript">
        angular.module("statusMessageDemo", ["akamai.components.status-message"])
        .controller("Ctrl", ["$scope", "statusMessage", function($scope, statusMessage) {
            $scope.messageTimeout = 3000;
            $scope.messageText = "Basic Message Text";
            $scope.messageTitle = "Message Title";
            $scope.showStatus = function(){
                statusMessage.showSuccess({title: $scope.messageTitle, text : $scope.messageText, timeout: $scope.messageTimeout});
            };
        }]);
    </script>
</body>
</html>
