<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Akamai Component Examples</title>
        <link rel="stylesheet" href="../dist/akamai-core.css">
    </head>
    <body ng-app="statusMessageDemo" ng-controller="Ctrl" ng-strict-di class="common-css luna">
        <div class="container">
            <div class="page-header">
                <h1>Status Message Component Example</h1>
            </div>
            <form>
                <div class="form-group">
                    <label class="label">Status:</label>
                    <table>
                        <tr>
                            <td>
                                <input id="errorRadio" type="radio" ng-model="status" value="Error" />
                                <label class="label" for="errorRadio">Error</label>
                            </td>
                            <td>
                                <input id="infoRadio" type="radio" ng-model="status" value="Information" />
                                <label class="label" for="infoRadio">Information</label>
                            </td>
                            <td>
                                <input id="successRadio" type="radio" ng-model="status" value="Success" />
                                <label class="label" for="successRadio">Success</label>
                            </td>
                            <td>
                                <input id="warnRadio" type="radio" ng-model="status" value="Warning" />
                                <label class="label" for="warnRadio">Warning</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <label class="label" for="messageTimeout">Timeout:</label>
                    <input type="text" id="messageTimeout" ng-model="messageTimeout" />
                    <p class="help-block">Use timeout: 0 for manual close.</p>
                </div>
                <div class="form-group">
                    <label class="label" for="messageText">Message Text:</label>
                    <textarea id="messageText" type="text" class="form-control" ng-model="messageText" rows="3" cols="25"></textarea>
                </div>
                <button class="btn" ng-click="showStatus()">Show Status Message</button>
                <button class="btn" ng-click="remove()">Clear Last Message</button>
                <button class="btn" ng-click="clear()">Clear All Messages</button>
            </form>
        </div>
        <script src="../dist/akamai-core.js"></script>
        <script>
            var ctrlFunction = function($scope, statusMessage) {
                var id;

                $scope.messageTimeout = 3000; //Default time is 2000 (2s), 0 = manual close
                $scope.messageText = "Basic Message Text";
                $scope.messageTitle = "Message Title";
                $scope.status = "Error"; //Information, Error, Success, Warning

                $scope.showStatus = function(){
                    id = statusMessage["show" + $scope.status]({text : $scope.messageText, timeout: $scope.messageTimeout});
                };

                $scope.remove = function(){
                    statusMessage.remove(id);
                };

                $scope.clear = function(){
                    statusMessage.clear();
                };
            };
            ctrlFunction.$inject = ["$scope", "statusMessage"];
            function configFunction($translatePartialLoaderProvider, VERSION) {

              // need to overwrite locales path on fee.akamai.com
              if (window.location.host == 'fee.akamai.com') {
                $translatePartialLoaderProvider.addPart('../dist/locales/');
                $translatePartialLoaderProvider.addPart('locales/json/messages/');
              } else {
                $translatePartialLoaderProvider.addPart('/libs/akamai-core/'+VERSION+'/locales/');
                $translatePartialLoaderProvider.addPart('/apps/akamai-core-examples/locales/');
              }
            }
            configFunction.$inject = ['$translatePartialLoaderProvider', 'coreVersion'];

            angular.module("statusMessageDemo", ["akamai.components", "akamai.components.status-message"])
            .controller("Ctrl", ctrlFunction)
            .config(configFunction);
        </script>
    </body>
</html>
