<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akamai Component Examples - Tag Input</title>
    <link rel="stylesheet" href="../dist/akamai-core.css">
    <style>
        body.luna  > h1 {
            margin-bottom:10px;
        }
        body.luna > h2 {
            margin: 10px 0 5px;
        }
        body.luna > h2 + div {
            width: 580px;
        }
    </style>

</head>

<body class="common-css luna" ng-app="exampleApp" ng-strict-di
      ng-controller="TagInputAppController as vm">

<h1>Tag Input - Examples</h1>

<h2>Tag Input - List of selected tag strings - draggable</h2>
<div>
    <akam-tag-input ng-model="vm.selectedTags" items="vm.tags" is-draggable required
                    on-sort="vm.sortSelectedTags(tags)"></akam-tag-input>
</div>

<h2>Tag Input - Single string for selected tags - restricted - appendedToBody</h2>
<div  style="overflow:hidden">
    <akam-tag-input ng-model="vm.selectedTags2" items="vm.tags" restricted
                    appended-to-body></akam-tag-input>
</div>

<h2>Tag Input - List of selected tag strings - disabled</h2>
<div>
    <akam-tag-input ng-model="vm.selectedTags5" items="vm.tags"
                    is-disabled="true"></akam-tag-input>
</div>

<h2>Tag Input - Tag Object Items</h2>
<div>
    <akam-tag-input ng-model="vm.selectedTagObjects" items="vm.tagObjects"
                    text-property="state" is-draggable></akam-tag-input>
</div>

<h2>Tag Input -  Tag Object Items - draggable - restricted</h2>
<div>
    <akam-tag-input ng-model="vm.emptySelectedTags" items="vm.tagObjects" text-property="state"
                    restricted is-draggable></akam-tag-input>
</div>

<h2>Tag Input - Strings with validation - enter a tag that contains a number</h2>
<div>
    <form name="theForm" class="form-horizontal">
        <akam-tag-input ng-model="vm.selectedTags3" items="vm.tags" name="selectedTags3"
                        on-validate="vm.validateTagString(tag)"></akam-tag-input>

        <div ng-messages="theForm.selectedTags3.$error">
            <p ng-message="validTags">One or more tags are invalid.</p>
        </div>
    </form>
</div>

<h2>Tag Input - stacked - draggable</h2>
<div>
    <akam-tag-input ng-model="vm.selectedTags4" items="vm.tags" stacked is-draggable
                    on-validate="vm.validateTagString(tag)"></akam-tag-input>
</div>

<h2>Tag Input - Tag Strings - Translating Tag Lables</h2>
<div>
    <akam-tag-input ng-model="vm.i18nExample.stringTags.selectedTags"
                    ng-change="vm.selectedI18nStringTagsChanged()"
                    items="vm.i18nExample.stringTags.menuTags"></akam-tag-input>
</div>

<h2>Tag Input - Tag Objects - Translating Tag Lables</h2>
<div>
    <akam-tag-input ng-model="vm.i18nExample.objTags.selectedTags" text-property="fruit"
                    ng-change="vm.selectedI18nObjTagsChanged()"
                    items="vm.i18nExample.objTags.menuTags"></akam-tag-input>
</div>

<script src="utils/i18n-register.js"></script>
<script src="../dist/akamai-core.js"></script>

<script>
    angular.module('exampleApp', ['akamai.components.constants','akamai.components.tag-input', 'ngMessages'])
            .controller('TagInputAppController', TagInputAppController);

    function TagInputAppController($log) {
        this.selectedTags = [
            'Massachusetts',
            'New York',
            'New Jersey',
            'Colorado'
        ];

        this.selectedTags2 = [
            'Connecticut',
            'Maryland',
            'Virginia'
        ];

        this.selectedTags3 = [
            'New Hampshire',
            'Vermont'
        ];

        this.selectedTags4 = [
            'Colorado',
            'Connecticut',
            'Maryland',
            'Massachusetts',
            'New Hampshire',
            'New Jersey',
            'New York',
            'Vermont',
            'Virginia',
            'Washington, District of Columbia'
        ];

        this.selectedTags5 = [
            'New York',
            'Vermont',
            'Washington, District of Columbia'
        ];

        this.selectedTagObjects = [
            {state: 'Massachusetts'},
            {state: 'New York'}
        ];

        this.i18nExample = {
            stringTags: {
                selectedTags: [
                    'examples.tag-input.selectedTags.blueberry',
                    'examples.tag-input.selectedTags.lime'
                ],
                menuTags: [
                    'examples.tag-input.menuTags.apple',
                    'examples.tag-input.menuTags.banana',
                    'examples.tag-input.menuTags.blackberry',
                    'examples.tag-input.menuTags.blueberry',
                    'examples.tag-input.menuTags.cantaloupe',
                    'examples.tag-input.menuTags.cherry',
                    'examples.tag-input.menuTags.grape',
                    'examples.tag-input.menuTags.lime',
                    'examples.tag-input.menuTags.mango',
                    'examples.tag-input.menuTags.orange'
                ]
            },
            objTags: {
                selectedTags: [
                    {fruit: 'examples.tag-input.selectedTags.blueberry'},
                    {fruit: 'examples.tag-input.selectedTags.lime'}
                ],
                menuTags: [
                    {fruit: 'examples.tag-input.menuTags.apple'},
                    {fruit: 'examples.tag-input.menuTags.banana'},
                    {fruit: 'examples.tag-input.menuTags.blackberry'},
                    {fruit: 'examples.tag-input.menuTags.blueberry'},
                    {fruit: 'examples.tag-input.menuTags.cantaloupe'},
                    {fruit: 'examples.tag-input.menuTags.cherry'},
                    {fruit: 'examples.tag-input.menuTags.grape'},
                    {fruit: 'examples.tag-input.menuTags.lime'},
                    {fruit: 'examples.tag-input.menuTags.mango'},
                    {fruit: 'examples.tag-input.menuTags.orange'}
                ]
            }
        }

        this.tags = [
            'Colorado',
            'Connecticut',
            'Maryland',
            'Massachusetts',
            'New Hampshire',
            'New Jersey',
            'New York',
            'Vermont',
            'Virginia',
            'Washington, District of Columbia'
        ];

        this.tagObjects = [
            {state: 'Colorado'},
            {state: 'Connecticut'},
            {state: 'Maryland'},
            {state: 'Massachusetts'},
            {state: 'New Hampshire'},
            {state: 'New Jersey'},
            {state: 'New York'},
            {state: 'Vermont'},
            {state: 'Virginia'},
            {state: 'Washington, District of Columbia'}
        ];

        this.selectedTagsString = 'New Jersey,Vermont,Virginia';
        this.validateTagString = function(tag) {
            return !/\d+/.test(tag);
        };

        this.selectedI18nStringTagsChanged = function(selectedItems) {
          console.log('selectedI18nStringTagsChanged', this.i18nExample.stringTags);
        };

        this.selectedI18nObjTagsChanged = function(selectedItems) {
            console.log('selectedI18nObjTagsChanged', this.i18nExample.objTags);
        };

        this.sortSelectedTags = function(tags) {
            return tags.sort();
        };


    }
    TagInputAppController.$inject = ['$log'];

</script>

</body>
</html>