$arrow-background: inline-svg-image("svg/arrow-smDown.svg") center no-repeat;

.dropdown.akam-dropdown {

  & > .dropdown-toggle {
    display: inline-block;
    cursor: pointer;
    height: 28px;

    & > span {
      display: inline-block;
      border: 1px solid #ccc;
      height: 100%;
      vertical-align: middle;
    }

    & span:first-child {
      width: 200px;
      margin-right: -4px;
      line-height: 28px;
      padding: 0 10px;
      background-color: #f4f4f4;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      font-style: italic;
      color: #ccc;
      @include box-shadow($input-box-shadow);
    }

    & > span:last-child {
      width: 28px;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background: $arrow-background,
      linear-gradient(to bottom, #fff, #e6e6e6);
    }

    &:hover {
      & span:last-child {
        border-color: #999;
        background: $arrow-background,
        linear-gradient(to bottom, #f4f4f4, #c8c8c8);
      }

    }

    &:active {
      & span:last-child {
        border-color: #999;
        background: $arrow-background,
        linear-gradient(to bottom, #c8c8c8, #f4f4f4);
      }
    }
  }

  & > .dropdown-menu {
    height: 267px;
    overflow-x: hidden;
    overflow-y: scroll;

    & > li:first-child {
      padding: 10px 10px 0;

      & input.dropdown-filter {
        width: 100%;
      }
    }

  }
}


