/* Data Tables

A data table presents information in an easy-to-view list format. It is a way to find objects quickly and work with them in a large set of similarly structured objects.

Markup:
<div class="akam-data-table common-table" data="mydata" schema="schema" filter-placeholder="Filter Employees">
    <div class="filter">
        <input type="search"="state.filter" placeholder="Filter Employees" >
    </div>
    <div class="data">
        <akam-indeterminate-progress completed="true" class="indeterminate-progress-wrapper normal"><div class="indeterminate-progress-spinner"></div></akam-indeterminate-progress>
        <table>
            <thead>
                <tr>
                    <th title="Full Name" class="column-sortable column-full-name column-sorted asc">
                        Full Name <i></i>
                    </th><th title="Emp. ID" class="column-sortable column-employeeid">
                        Emp. ID <i></i>
                    </th>
                    <th class="column-action">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td title="Andrew Gibson" class="column-full-name">Andrew Gibson</td><td title="790" class="column-employeeid">790</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Andrew Hansen" class="column-full-name">Andrew Hansen</td><td title="679" class="column-employeeid">679</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Andrew Hansen" class="column-full-name">Andrew Hansen</td><td title="30" class="column-employeeid">30</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Andrew Wagner" class="column-full-name">Andrew Wagner</td><td title="857" class="column-employeeid">857</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Andrew Willis" class="column-full-name">Andrew Willis</td><td title="80" class="column-employeeid">80</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Angela Garza" class="column-full-name">Angela Garza</td><td title="475" class="column-employeeid">475</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Angela Miller" class="column-full-name">Angela Miller</td><td title="517" class="column-employeeid">517</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Angela Sanchez" class="column-full-name">Angela Sanchez</td><td title="918" class="column-employeeid">918</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Ann Alvarez" class="column-full-name">Ann Alvarez</td><td title="776" class="column-employeeid">776</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr><tr >
                    <td title="Ann Bradley" class="column-full-name">Ann Bradley</td><td title="459" class="column-employeeid">459</td>
                    <td class="column-action">
                        <span class="akam-menu-button dropdown right" data-dropdown="" position="right">
                            <i class="luna-gear icon-states" data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li text="PDF" ><a href="javascript:void(0);" >PDF</a></li>
                                <li text="HTML" ><a href="javascript:void(0);" >HTML</a></li>
                            </ul>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <akam-pagination total-items="filtered.length" current-page="pager.page" page-size="pager.size" onchangepage="pageChanged(page)" ><div class="akam-pagination">
    <span class="total-items">Results:  1000 </span>
    <ul class="pagination">
        <li >
            <a href="javascript:void(0)">
                <i class="luna-arrow_smLeft"></i>
            </a>
        </li>
        <li >
            <a href="javascript:void(0)">1</a>
        </li>
        <li ><span>…</span></li>
        <li >
            <a href="javascript:void(0)" >3</a>
        </li><li >
            <a href="javascript:void(0)" >4</a>
        </li><li class="active">
            <a href="javascript:void(0)" >5</a>
        </li><li >
            <a href="javascript:void(0)" >6</a>
        </li><li >
            <a href="javascript:void(0)" >7</a>
        </li>
        <li ><span>…</span></li>
        <li >
            <a href="javascript:void(0)" >100</a>
        </li>
        <li >
            <a href="javascript:void(0)">
                <i class="luna-arrow_smRight"></i>
            </a>    
        </li>
    </ul>
    <div class="page-size">
        <span akam-translate="components.pagination.label.show-entries">Show Entries: </span>
        <ul>
            <li class="active">
                <a href="javascript:void(0)" >
                    10
                </a>
            </li><li >
                <a href="javascript:void(0)" >
                    25
                </a>
            </li><li >
                <a href="javascript:void(0)" >
                    50
                </a>
            </li>
        </ul>
    </div>
    </div>
    </akam-pagination>
</div>

Styleguide 6.8

*/



$list-box-border-width: 1px;
$list-box-border-color: #ccc;
$list-box-border: $list-box-border-width solid $list-box-border-color;
$list-box-data-row-even-background: #f8f8f8;
$list-box-data-row-odd-background: #fff;
$list-box-data-row-hover-background: #ebf6ff;
$list-box-data-row-selected-background: #cee7ff;

$list-box-header-gradient-bottom: #f8f8f8;
$list-box-header-gradient-top: #fff;

$list-box-header-gradient-bottom-hover: #f4f4f4;
$list-box-header-gradient-top-hover: #e6e6e6;

$list-box-cell-border : $list-box-border-width solid #ededed;

$list-box-filter-icon : luna-sprite-width(close);
$list-box-filter-icon-margin-left : -($list-box-filter-icon + 6px);
$list-box-filter-padding-right: $list-box-filter-icon + 8px;

$list-box-cell-height: 30px;
$list-box-footer-height: 28px;
$list-box-header-height: $list-box-cell-height + $list-box-border-width;


.akam-list-box {
  .list-box-data {
    overflow-y: auto;
    border-top: $list-box-border;
    border-bottom: $list-box-border;
    position: relative; // Addresses a scrollbar issue in Firefox 36.0.4
  }

  .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 300px; //Note that this should be reset by a user to whatever the more appropriate value is
    border-top: $list-box-border;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      border-right: 1px solid white;
    }
  }

  .th-inner {
    position: absolute;
    top: 0;
    line-height: $list-box-cell-height;
    height: $list-box-header-height;
    text-align: left;
    border-left: $list-box-border;
    padding-left: 10px;
    margin-left: -10px;
    vertical-align: middle;
  }

  .header.first {
    padding-left: 10px;
  }

  .first .th-inner {
    border-left: none;
  }

  .header.column-sortable {
    @extend .util-clickable;
  }

  .header .th-inner {
    @include background-image(linear-gradient($list-box-header-gradient-top, $list-box-header-gradient-bottom));
    width: 100%;
  }

  .header.column-sorted .th-inner {
    @include background-image(linear-gradient($list-box-header-gradient-top-hover, $list-box-header-gradient-bottom-hover));
  }

  .data {
    position: relative; /* could be absolute or relative */
    padding-top: $list-box-header-height;
    overflow-x: hidden;
  }

  .list-box-footer {
    height: $list-box-footer-height;
    line-height: $list-box-footer-height;
    padding: 0px 10px;
    label {
      font-weight: normal;
      font-size: 12px;

      &:before {
        margin-right: 5px;
      }
    }
  }

  .column-checkbox {
    width: 40px;
  }
}

.akam-data-table {

  .data {
    min-height: 353px;
  }

  .akam-pagination {
    border: 0 none;
  }

  th {
    text-align: left;
    border-bottom: $list-box-border;
    @include ellipsis();
    white-space: nowrap;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: $list-box-header-height;
    line-height: $list-box-cell-height;

    @include background-image(linear-gradient($list-box-header-gradient-top, $list-box-header-gradient-bottom));
    & + th {
      border-left: $list-box-border;
    }
  }

  th.column-sortable {
    @extend .util-clickable;
    padding-right: 20px;
  }

  .column-checkbox {
    width: 30px;
  }

  td {
    padding: 0 10px;
  }
}

.akam-list-box, .akam-data-table {
  border: $list-box-border;
  @include box-shadow(0 2px 2px 1px rgba(0, 0, 0, 0.15));
  font-size: $body-font-size;
  color: $body-font-color;
  background: #fff;

  .filter {
    height: 36px;
    padding: 4px;

    input {
      width: 100%;
      max-width: 298px;
      padding-right: $list-box-filter-padding-right;
    }

    input + i {
      vertical-align: middle;
      margin-left: $list-box-filter-icon-margin-left;
    }
  }

  .data {
    border-top: $list-box-border;
    border-bottom: $list-box-border;
  }

  table {
    table-layout: fixed;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  tbody {
    tr:nth-child(even) {
      background-color: $list-box-data-row-even-background;
    }
    tr:nth-child(odd) {
      background-color: $list-box-data-row-odd-background;
    }
    tr:hover {
      background-color: $list-box-data-row-hover-background;
    }
    tr.row-selected {
      background-color: $list-box-data-row-selected-background;
    }
  }

  th.column-sortable:hover, th.column-sorted {
    i {
      @extend .luna-arrow-down;
    }

    &.desc i {
      @extend .luna-arrow-up;
    }
  }

  td {
    @include ellipsis();
    white-space: nowrap;
    height: $list-box-cell-height;
    line-height: $list-box-cell-height;
  }

  tbody tr td {
    border-bottom: $list-box-cell-border;

    &:first-child {
      padding-left: 10px;
    }

    padding-right: 10px;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  .column-action {
    width: 80px;
    text-align: center;
  }

  td.column-action {
    overflow: visible;
  }

  tr td.column-action > * {
    visibility: hidden;
  }

  tr:hover td.column-action > * {
    visibility: visible;
  }

  td span.highlighted {
    color: #0099cc;
  }

  .dropdown {

    i + .dropdown-menu {
      margin-top: 3px;
    }
  }

  .empty-table-message {
    position: relative;
    padding: 10px 10px 10px 36px;

    i {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -8px;
    }
  }
}

/* List Box

List boxes are a specific subclass of data tables, and allow end users to generate custom lists.

Markup:
<div class="akam-list-box common-table" data="mydata" schema="columns" on-change="mychange(value)" selected-items="selectedItems1">
    <div class="filter">
        <input type="search" placeholder="Filter">
    </div>
    <div class="list-box-data">
        <akam-indeterminate-progress completed="true" class="indeterminate-progress-wrapper normal"><div class="indeterminate-progress-spinner"></div></akam-indeterminate-progress>
        <table>
            <thead>
                <tr>
                    <th class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2allSelected"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2allSelected"></label>
                    </th>
                    <th title="Full Name" class="column-sortable column-full-name column-sorted asc">
                        Full Name <i></i>
                    </th><th title="Emp. ID" class="column-sortable column-employeeid">
                        Emp. ID <i></i>
                    </th><th title="Color" class="column-sortable column-color">
                        Color <i></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_0"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_0"></label>
                    </td>
                    <td title="Miguel Bollar" class="column-full-name">
                        Miguel Bollar
                    </td><td title="9988" class="column-employeeid">
                        9988
                    </td><td title="RED" class="column-color">
                        RED
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_1"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_1"></label>
                    </td>
                    <td title="Mike D" class="column-full-name">
                        Mike D
                    </td><td title="1001" class="column-employeeid">
                        1001
                    </td><td title="GREEN" class="column-color">
                        GREEN
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_2"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_2"></label>
                    </td>
                    <td title="Nick Leon" class="column-full-name">
                        Nick Leon
                    </td><td title="2468" class="column-employeeid">
                        2468
                    </td><td title="YELLOW" class="column-color">
                        YELLOW
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_3"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_3"></label>
                    </td>
                    <td title="Nick Pettazzoni" class="column-full-name">
                        Nick Pettazzoni
                    </td><td title="777" class="column-employeeid">
                        777
                    </td><td title="YELLOW" class="column-color">
                        YELLOW
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_4"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_4"></label>
                    </td>
                    <td title="Ryan Silva" class="column-full-name">
                        Ryan Silva
                    </td><td title="4781" class="column-employeeid">
                        4781
                    </td><td title="YELLOW" class="column-color">
                        YELLOW
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_5"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_5"></label>
                    </td>
                    <td title="Sean Wang" class="column-full-name">
                        Sean Wang
                    </td><td title="2002" class="column-employeeid">
                        2002
                    </td><td title="RED" class="column-color">
                        RED
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_6"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_6"></label>
                    </td>
                    <td title="Shawn Dahlen" class="column-full-name">
                        Shawn Dahlen
                    </td><td title="1357" class="column-employeeid">
                        1357
                    </td><td title="GREEN" class="column-color">
                        GREEN
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_7"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_7"></label>
                    </td>
                    <td title="Tom O'Hare" class="column-full-name">
                        Tom O'Hare
                    </td><td title="4567" class="column-employeeid">
                        4567
                    </td><td title="GREEN" class="column-color">
                        GREEN
                    </td>
                </tr><tr>
                    <td class="column-checkbox">
                        <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2_item_8"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2_item_8"></label>
                    </td>
                    <td title="Yair Leviel" class="column-full-name">
                        Yair Leviel
                    </td><td title="234" class="column-employeeid">
                        234
                    </td><td title="RED" class="column-color">
                        RED
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="list-box-footer">
        <span class="util-pull-left">
            Selected: 0
        </span>
        <span class="util-pull-right">
            <input type="checkbox" id="49bc1f75-968f-d419-2229-1df8b9f633f2viewSelectedOnly"><label for="49bc1f75-968f-d419-2229-1df8b9f633f2viewSelectedOnly">View selected only</label>
        </span>
    </div>
</div>

Styleguide 6.9

*/
