/* Modal Windows

Modal windows appear in front of the main application view and require users to perform one or more actions to continue with their workflow.

Markup:
<div style="position: relative; height: 600px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <div class="modal-backdrop fade in" style="position: absolute"></div>
    <div class="modal fade in {$modifiers}" role="dialog" style="display: block; position: absolute">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</h3>
                    <i class="close-icon"></i>
                </div>
                <div class="modal-body">
                    <div class="indeterminate-progress-wrapper normal">
                        <div class="indeterminate-progress-spinner"></div>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="modal-footer">
                    <button type="button" class="button large">Cancel</button>
                    <button type="button" class="button primary large">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

Styleguide 6.1

*/

// Modal Dialogs
$dialog-background-color: #ffffff;
$dialog-header-background-color: #f4f4f4;

$dialog-width: auto;
$dialog-min-width: 400px;
$dialog-max-width: 75%;

$dialog-height: auto;
$dialog-min-height: 0;
$dialog-max-height: 75%;

$dialog-left-padding: 15px;
$dialog-right-padding: 15px;

$dialog-text-color: #666666;
$dialog-text-color-info: #2f79c9;
$dialog-text-color-alert: #a32d2d;

$dialog-content-top-padding: 30px;
$dialog-content-bottom-padding: 30px;

$dialog-footer-button-gutter: 10px;
$dialog-footer-top-padding: 15px;
$dialog-footer-bottom-padding: 15px;

$dialog-header-icon-gutter: 10px;
$dialog-header-height: 36px;
$dialog-header-error-height: 54px;
$dialog-gradient-top: #ffffff;
$dialog-gradient-bottom: #f7f7f7;

$dialog-border-color: #666666;
$dialog-border-radius: 3px;

$dialog-separator-color_pulsar: #cccccc;
$dialog-separator-color_luna: #e6e6e6;

$dialog-mask-color_pulsar: rgba(255, 255, 255, 0.85);
$dialog-mask-color_luna: rgba(34, 43, 53, 0.85);

$dialog-indeterminate-spinner-dimensions: 50px;
$dialog-indeterminate-backdrop-color: rgba(255, 255, 255, .85);

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-window-zindex;
  display: none;
  overflow: hidden;
  outline: 0;

  .title-icon {
    background: transparent center center no-repeat;
    background-size: contain;
    width: $svg-icon-width;
    height: $svg-icon-height;
    display: none;
  }

  &.fade {
    opacity: 1;
  }

  &.in .modal-dialog,
  &.fade .modal-dialog {
    @include transform(none);
    @include transition(none);
  }
}

.modal-dialog {
  position: static;
  margin: 0;

  &.modal-lg .modal-content {
    @include for("IE10+") {
      height: $dialog-max-height;
    }
  }

  &.modal-sm .modal-content {
    @include for("IE10+") {
      height: 50%;
    }
  }
}

.modal-content {
  background-color: $dialog-background-color;
  border: 1px solid $dialog-border-color;
  border-radius: $dialog-border-radius;
  outline: 0;
  overflow: hidden;

  width: $dialog-width;
  min-width: $dialog-min-width;
  max-width: $dialog-max-width;

  height: $dialog-height;
  min-height: $dialog-min-height;
  max-height: $dialog-max-height;

  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50.01%);
  @include box-shadow(none);

  /* Version 3 Flex for IE11 and modern browsers */
  @include display-flex();
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);

  & > .modal-header,
  & > .modal-footer {
    @include flex-shrink(0);
  }

  & > .modal-header {
    padding: 0;
    padding-left: $dialog-left-padding;
    padding-right: $dialog-right-padding;
    border-bottom: 1px solid $dialog-separator-color_luna;
    height: $dialog-header-height;
    position: relative;
    box-sizing: border-box;
    border-radius: $dialog-border-radius $dialog-border-radius 0 0;
    color: $dialog-text-color;
    background: $dialog-header-background-color;
    min-height: 0;

    & > .modal-title {
      padding-right: $svg-icon-width + $dialog-header-icon-gutter;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: $dialog-header-height;
      padding-top: 1px; // Hack to address visual alignment
    }

    & > .akam-status-message-wrapper {
      position: absolute;
      z-index: $status-message-zindex;
      top: $dialog-header-height;
      left: 0;
      width: calc(100%);
      list-style: none;
      margin: 0;
      padding: 0;

      .akam-status-message-item {
        width: 100%;
        padding-left: 32px + $dialog-left-padding;
        &:before {
            margin-left: $dialog-left-padding;
        }
      }

      .status-message-content {
        max-height: $dialog-content-top-padding;
        overflow: hidden;
        height: 30px;
      }
    }

    & > i {
      position: absolute;
      top: 50%;
      @include translate(0, -50%);
    }

    .close-icon {
      right: $dialog-right-padding;
    }

    &.error + .modal-body {
      margin-top: $dialog-header-error-height;
    }
  }

  & > .modal-body {
    box-sizing: border-box;
    padding: $dialog-content-top-padding $dialog-right-padding $dialog-content-bottom-padding $dialog-left-padding;
    overflow: auto;
    color: $dialog-text-color;
    line-height: 140%;
    position: relative;

    .backwash {

    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,.85);
    }
  }

  & > .modal-footer {
    padding: $dialog-footer-top-padding $dialog-right-padding $dialog-footer-bottom-padding $dialog-left-padding;
    text-align: right;
    border-top: 1px solid $dialog-separator-color_luna;
    border-radius: 0 0 $dialog-border-radius $dialog-border-radius;
    background: $dialog-background-color;

    .button + .button,
    .btn + .btn,
    .button + .btn,
    .btn + .button {
      margin-left: $dialog-footer-button-gutter;

      .submit-button-spinner {
        background-image: inline-svg-image("svg/spinner-orange.svg");
        @include animation(spin360 1s infinite steps(8));
        height: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-window-backdrop-zindex;
  background-color: $dialog-mask-color_luna;

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: .85;
  }
}

.modal-content {
  @include for("IE10+") {
    height: 60%;
  }

}

.modal-body {
  @include for("IE10+") {
    height: calc(100% - #{$dialog-header-height} - #{$dialog-footer-top-padding + $dialog-footer-bottom-padding + $button-height-large});
  }

}

&, &.luna {
  .modal {
    .modal-header {
      & > .close-icon {
        cursor: pointer;
        background: transparent center center no-repeat;
        background: inline-svg-image("svg/small_close_new.svg");
        background-size: contain;
        width: 12px;
        height: 12px;

        &:hover {
          background-image: inline-svg-image("svg/small_close_hover_new.svg");
        }
      }
    }

    .modal-backdrop {
      background-color: $dialog-mask-color_luna;
    }

    .indeterminate-progress-wrapper {
      background: $dialog-indeterminate-backdrop-color;

      .indeterminate-progress-spinner {
        width: $dialog-indeterminate-spinner-dimensions;
        height: $dialog-indeterminate-spinner-dimensions;
        top: calc(50% - #{$dialog-indeterminate-spinner-dimensions / 2});
        left: calc(50% - #{$dialog-indeterminate-spinner-dimensions / 2});
      }
    }
  }
}

&.pulsar {
  .modal-backdrop {
    background-color: $dialog-mask-color_pulsar;
  }
}

/* Modal Windows

Modal windows can display lengthy text, when necessary, as shown in the example below. This is a modal window with overflowed content.

Markup:
<div style="position: relative; height: 600px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <div class="modal-backdrop fade in" style="position: absolute"></div>
    <div class="modal fade in {$modifiers}" role="dialog" style="display: block; position: absolute">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</h3>
                    <i class="close-icon"></i>
                </div>
                <div class="modal-body">
                    <div class="indeterminate-progress-wrapper normal">
                        <div class="indeterminate-progress-spinner"></div>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="modal-footer">
                    <button type="button" class="button large">Cancel</button>
                    <button type="button" class="button primary large">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

Styleguide 6.2

*/

/* Modal Windows

Modal windows can have additional features. In this example, the modal window has an indeterminate progress indicator.

Markup:
<div style="position: relative; height: 400px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <div class="modal-backdrop fade in" style="position: absolute"></div>
    <div class="modal fade in" role="dialog" style="display: block; position: absolute">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</h3>
                    <i class="close-icon"></i>
                </div>
                <div class="modal-body indeterminate-progress">
                    <div class="indeterminate-progress-wrapper normal">
                        <div class="indeterminate-progress-spinner"></div>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="modal-footer">
                    <button type="button" class="button large">Cancel</button>
                    <button type="button" class="button primary large">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

Styleguide 6.3

*/