/* Pagination

Pagination separates conceptual pages that appear within an interface pane and allows users to navigate these panes in or out of a numerical sequence. 

Markup:
<div class="akam-pagination">
    <span class="total-items">1000 results</span>
    <ul class="pagination">
        <li>
            <a href>&lt;</a></li>
        <li>
            <a href>1</a></li>
        <li class="ellipsis">
            <span>&#8230;</span></li>
        <li>
            <a href>3</a></li>
        <li>
            <a href>4</a></li>
        <li class="active">
            <a href>5</a></li>
        <li>
            <a href>6</a></li>
        <li>
            <a href>7</a></li>
        <li class="ellipsis">
            <span>&#8230;</span></li>
        <li>
            <a href>9</a></li>
        <li>
            <a href>&gt;</a></li>
    </ul>
    <div class="page-size">
        <span>Show Entries:</span>
        <ul>
            <li>
                <a href>S</a></li>
            <li class="active">
                <a href>M</a></li>
            <li>
                <a href>L</a></li>
        </ul>
    </div>
</div>

Styleguide 6.7

*/

$pagination-height: 28px;
$pagination-gutter: 10px;

$pagination-gradient-top: #ffffff;
$pagination-gradient-bottom: #f4f4f4;
$pagination-border-color: #cccccc;

$pagination-item-font-size: 12px;
$pagination-item-font-color: #666666;
$pagination-item-font-color-active: #0099cc;
$pagination-item-font-color-disabled: #cccccc;

$pagination-item-width: 40px;
$pagination-ellipsis-width: 20px;

.akam-pagination {
  display: table;
  width: 100%;
  height: $pagination-height;
  line-height: $pagination-height;
  border: solid 1px $pagination-border-color;
  text-align: center;
  padding: 0;
  padding-left: $pagination-gutter;
  box-sizing: border-box;
  font-size: $pagination-item-font-size;
  @include background-image(linear-gradient($pagination-gradient-top, $pagination-gradient-bottom));

  & > * {
    display: table-cell !important;
    width: 1px;
    white-space: nowrap;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      a, span {
        display: inline-block;
        color: $pagination-item-font-color;
      }

      a {
        box-sizing: border-box;
        padding: 0;
        padding-left: 4px;
        padding-right: 4px;
        min-width: $pagination-item-width;

        i {
          vertical-align: middle;
          margin-top: -1px;
        }
      }

      span {
        width: $pagination-ellipsis-width;
      }

      a:hover {
        text-decoration: none;
      }

      &.active a, &:hover a {
        color: $pagination-item-font-color-active;
        font-weight: bold;
      }

      &.disabled a {
        color: $pagination-item-font-color-disabled;
        cursor: not-allowed;
      }
    }
  }

  .pagination {
    width: auto;
  }

  .disabled i.luna-arrow_smLeft,
  &.disabled i.luna-arrow_smLeft {
    @include luna-sprite(arrow_smLeft_disabled);
  }

  .disabled i.luna-arrow_smRight,
  &.disabled i.luna-arrow_smRight {
    @include luna-sprite(arrow_smRight_disabled);
  }
}

