$panel-gradient-top: #fff;
$panel-gradient-bottom: #f8f8f8;
$panel-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
$panel-body-wrapper-padding: 20px 15px;

.akam-content-panel.panel {
  @extend .panel-default;
  @include box-shadow($panel-box-shadow);

  & > .panel-heading {
    background: linear-gradient($panel-gradient-top, $panel-gradient-bottom);
    border-bottom-width: 0;
    @include border-top-radius($panel-border-radius);
  }

  .panel-title {
    position: relative;
    padding-right: 16px;

    & > a {
      text-decoration: none;
    }

    & > i {
      position: absolute;
      right: 0;
      top: calc(50% - 8px);
      cursor: pointer;
    }
  }

  .panel-body {
    border-top-width: 1px;
    border-top-style: solid;
  }

  .content-wrapper {
    padding: $panel-body-wrapper-padding;
  }
}

.panel-group {

  .panel {
    @include border-radius(0);

    &:first-child {
      @include border-top-radius($panel-border-radius);
    }

    &:last-child,
    &:last-child > .panel-heading {
      @include border-bottom-radius($panel-border-radius);
    }
  }

  .panel + .panel {
    margin-top: 0;
    border-top: none;
  }
}