$popover-arrow-border: 8px solid transparent;
$popover-close-icon-gutter: 8px;
$popover-contents-padding-top: 16px;
$popover-contents-padding-bottom: 16px;
$popover-contents-padding-left: 16px;
$popover-contents-padding-right: 31px;
$popover-border-width: 10.5px;
$popover-contents-padding: $popover-contents-padding-top $popover-contents-padding-right $popover-contents-padding-bottom $popover-contents-padding-left;

.popover {
    max-width: $popover-max-width;
    min-width: $popover-min-width;
    @include box-shadow($global-box-shadow);
    border-radius: $border-radius;
    padding: 0px;
    z-index: -1;
    background-color: transparent;
    position:absolute;
    visibility: hidden;
    &.in{
        z-index: $popover-zindex;
        opacity: 1;
        visibility: visible;
    }
    .popover-contents{
        overflow:hidden;
        padding: $popover-contents-padding;
        background-color: $popover-background-color;
        border-color: $border-color;
        border-width: 1px;
        border-style: solid;
        border-radius: $border-radius;
        i {
            margin-right: -($popover-contents-padding-right - $popover-close-icon-gutter);
            margin-top: -($popover-contents-padding-top - $popover-close-icon-gutter);
        }
        .popover-header{
            margin-bottom: 9px;
        }
        .popover-middle-content{
            font-family: arial;
            font-size: 12px;
            font-color: $text-color;
        }
        .popover-link-content, .popover-button-content{
            padding-top: 12px;
        }
    }
    &.left, &.right {
        .popover-contents {
            min-width: 119px;
            max-width: 279px;
        }
    }
    &.top, &.bottom {
        .popover-contents {
            max-width: $popover-max-width;
            min-width: $popover-min-width;
        }
    }
    .popover-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border:$popover-arrow-border;
        margin: 0px;
    }
    .popover-arrow:after{
        content: "";
        border: $popover-arrow-border;
    }
    &.left{
        margin-left: -5px;
        .popover-arrow {
            border-right:none;
            border-left: $popover-border-width solid $border-color;
        }
        > .popover-arrow:after {
            top: -8px;
            position: absolute;
            left: -12px;
            border-right:none;
            border-left: $popover-border-width solid $popover-background-color;
        }
    }
    &.right {
        margin-left: 5px;
        .popover-arrow {
            border-left:none;
            border-right:10.5px solid $border-color;
        }
        > .popover-arrow:after {
            top: -8px;
            position: absolute;
            left:1px;
            border-left:none;
            border-right: $popover-border-width solid $popover-background-color;
        }
    }
    &.bottom{
        margin-bottom:-5px;
        > .popover-arrow {
            border-top:none;
            border-bottom: $popover-border-width solid $border-color;
        }
        > .popover-arrow:after {
            width: 0;
            height: 0;
            margin-left: -8px;
            position:absolute;
            top: 1px;
            border-top:none;
            border-bottom: $popover-border-width solid $popover-background-color;
        }
    }
    &.top{
        margin-top: -5px;
        .popover-arrow {
            border-bottom:none;
            border-top:10.5px solid $border-color;
        }
        > .popover-arrow:after {
            width: 0;
            height: 0;
            margin-left: -8px;
            position:absolute;
            top: -12px;
            border-bottom:none;
            border-top: $popover-border-width solid $popover-background-color;
        }
    }
}
