/* Numeric Spinner

Users input a number by spinning up and down in input field and up|down buttons, by enter a new number, by prepopulate a number..

Markup:

Styleguide 8.0

*/

$spinner-border-color: #cccccc;
$spinner-input-height: 28px;
$spinner-button-hover-gradient-top: #cbcbcb;
$spinner-button-hover-gradient-bottom: #f4f4f4;

.akam-spinner {
  position: relative;
  font-size: 0px;

  label {
    font-size: 12px;
    padding-right: 10px;
    vertical-align: middle;
  }

  input[type=number] {
    @include border-right-radius(0);
    @include appearance(textfield);
    width: 149px;//in Chrome, when applies min and max on this type of input, the width shrunk

    &:disabled {
      color: $spinner-border-color;
      cursor: default;
    }
  }

  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  .btn-group-vertical.number-input {
    text-align: left;
    font-size: 0px;
    height: 28px;

    .btn {
      min-width: 20px;
      height: $spinner-input-height/2;
      width: auto;
      border-left-width: 0;
      display: block;
      @include border-left-radius(0);

      & + .btn {
        margin-top: 0;
      }

      &:first-child {
        border-bottom-width: 0;
      }

      i {
        height: 14px;

        &.luna-arrow_smDown {
          background-position:sprite-position($luna-sprites, arrow_smDown, 0, -1);
          &:hover {
            background-position:sprite-position($luna-sprites, arrow_smDown_hover, 0, -1);
          }
        }

        &.luna-arrow_smUp {
          background-position:sprite-position($luna-sprites, arrow_smUp, 0, -1);
          &:hover {
            background-position:sprite-position($luna-sprites, arrow_smUp_hover, 0, -1);
          }
        }


        //luna-arrow_smDown
        //background-position:
      }

      &:hover {
        @include background-image(linear-gradient($spinner-button-hover-gradient-top, $spinner-button-hover-gradient-bottom));
      }

      &:disabled {
        cursor: default;
      }
    }
  }
}
