$enabled-border: 1px solid #999;
$disabled-border: 1px solid #e6e6e6;

.switch-button {
  min-width: 90px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 8px;
  overflow: hidden;
  border-radius: $border-radius;
  border: $enabled-border;

  & .switch-button-container {
    // The extra 2% accounts for weird text zoom and cross-browser issues.
    width: 152%;
    font-size: 0;
    border-radius: $border-radius;
    transition: margin-left 150ms ease-in-out;

    & > * {
      width: 33.3333%;
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 16px;
      display: inline-block;
      font-size: 12px;
    }

    & > span {
      padding-left: 10px;
      padding-right: 10px;
    }

    & > label {
      cursor: pointer;

      & > span {
        height: 12px;
        width: 1px;
        border-left: 1px solid #c3c3c3;
        border-right: 1px solid #fff;
        margin-right: 1px;
      }
    }

    & span:first-child {
      color: #fff;
      background-color: #7aaa60;
    }

    & span:last-child {
      color: #fff;
      background-color: #a32d2d;
    }
  }

  &.switch-button-on {

    & .switch-button-container {
      margin-left: 0;
      border-right: $enabled-border;

      label {
        border-radius: 0 3px 3px 0;
        border-left: $enabled-border;
      }
    }

  }

  &.switch-button-off {

    & .switch-button-container {
      margin-left: -51%;

      label {
        border-radius: 3px 0 0 3px;
        border-right: $enabled-border;
      }
    }
  }

  &.medium {
    & .switch-button-container {
      & > * {
        line-height: 20px;
      }
    }
  }

  &.grayscale {
    & .switch-button-container {
      & span:first-child {
        background-color: #999;
      }

      & span:last-child {
        color: #666;
        background-image: linear-gradient(to bottom, #c8c8c8, #f4f4f4);
      }
    }
  }

  &.disabled {
    border: $disabled-border;
    cursor: default;

    & .switch-button-container {
      border-right: $disabled-border;

      & > span {
        background-color: #fff;
        background-image: none;
        color: #e6e6e6;
      }

      & > label {
        cursor: default;

        & > span {
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #fff;
          margin-right: 1px;
        }
      }
    }

    &.switch-button-on {
      & .switch-button-container {
        label {
          border-left: $disabled-border;
        }
      }
    }

    &.switch-button-off {
      & .switch-button-container {
        label {
          border-right: $disabled-border;
        }
      }
    }

  }

}