.akam-tag-input {
	
	.tag-input-remove {
		@include svg('tab-close',8px,8px);	
		margin-left: 7px;
		&:hover {
			@include svg('tab-close_hover',8px, 8px);	
		}
	}

	.ui-select-match-close {
		display:none;
		float:right;
		line-height: 20px;
	}
	.tag-input-selected-items{
		line-height: 20px;
	}

	.btn-default-focus {
	  background-color: #EBEBEB;
	  border-color: #ADADAD;
	  text-decoration: none;
	  outline: 5px auto -webkit-focus-ring-color;
	  outline-offset: -2px;
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}


	/* Fix Bootstrap dropdown position when inside a input-group */
	.input-group > .ui-select-bootstrap.dropdown {
	  position: static;
	}

	.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
	  border-radius: 3px;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}

	.ui-select-bootstrap > .ui-select-choices {
	  width: 100%;
	  height: auto;
	  max-height: 200px;
	  overflow-x: hidden;
	  margin-top: -1px;
	}

	body > .ui-select-bootstrap.open {
	  z-index: 1000; /* Standard Bootstrap dropdown z-index */
	}

	.ui-select-multiple.ui-select-bootstrap {
	  height: auto;
	  padding: 3px 3px 0 3px;
	}

	.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	  background-color: transparent;
	  border: none;
	  outline: none;
	  height: 1.666666em;
	  margin-bottom: 3px;
	  box-shadow: none;
	  padding-left: 0px;
	}

	.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
	  outline: 0;
	  margin: 0 3px 3px 0;
	  height: 22px;
	  min-width: 0px;
	  padding-right: 5px;
	}

	.ui-select-multiple .ui-select-match-item {
	  position: relative;
	  &.btn-primary {
	  	background: $tooltip-background-color;
	  }
	}

	.ui-select-multiple .ui-select-match-item.dropping-before:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 100%;
	  height: 100%;
	  margin-right: 2px;
	  border-left: 1px solid #428bca;
	}

	.ui-select-multiple .ui-select-match-item.dropping-after:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 100%;
	  height: 100%;
	  margin-left: 2px;
	  border-right: 1px solid #428bca;
	}

	.ui-select-bootstrap .ui-select-choices-row>a {
	    display: block;
	    padding: 3px 20px;
	    clear: both;
	    line-height: 1.5;
	    color: $text-color;
	    white-space: nowrap;
	}
	.ui-select-choices-row {
		&.active {
			background-color: #CEE7FF;	
		}
	}
	.ui-select-bootstrap .ui-select-choices-row>a:hover {
	    text-decoration: none;
	    border:$list-box-cell-border;
	    padding: 2px 19px;
	    background-color: $tooltip-background-color;
	}

	.ui-select-bootstrap .ui-select-choices-row>a:active {
	    text-decoration: none;
	    border:$list-box-cell-border;
	    padding: 2px 19px;
	    background-color: #CEE7FF;
	}
}