$tag-input-drop-down-padding-top : 20px;
$tag-input-drop-down-padding-left : 3px;
$tag-input-drag-drop-indicator-border: 1px solid #428bca;  
$tag-indicator-hover-color: #ebf6ff;
$tag-indicator-active-color: #CEE7FF;
$tag-indicator-tag-background-color: #EBEBEB;
$tag-indicator-tag-border-color: #ADADAD;
$tag-indicator-tag-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);


.akam-tag-input {
	
	.tag-input-remove {
		@include svg('tab-close',8px,8px);	
		margin-left: 7px;
		&:hover {
			@include svg('tab-close_hover',8px, 8px);	
		}
	}
	.ui-select-match-close {
		display:none;
	}
	.tag-input-selected-items{
		line-height: 20px;
	}
	.btn-default-focus {
	  background-color: $tag-indicator-tag-background-color;
	  border-color: $tag-indicator-tag-border-color;
	  text-decoration: none;
	  outline: 5px auto -webkit-focus-ring-color;
	  outline-offset: -2px;
	  box-shadow: $tag-indicator-tag-box-shadow;
	}

	.input-group > .ui-select-bootstrap.dropdown {
	  position: static;
	}

	.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
	  border-radius: 3px;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}

	.ui-select-bootstrap > .ui-select-choices {
	  width: 100%;
	  height: auto;
	  max-height: 200px;
	  overflow-x: hidden;
	  margin-top: -1px;
	}

	.ui-select-bootstrap.open {
	  z-index: $zindex-dropdown;
	}

	.ui-select-multiple.ui-select-bootstrap {
	  height: auto;
	  padding: 3px 3px 0 3px;
	}

	.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	  background-color: transparent;
	  border: none;
	  outline: none;
	  height: 1.6em;
	  margin-bottom: 3px;
	  box-shadow: none;
	  padding-left: 0px;
	}

	.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
	  outline: 0;
	  margin: 0 3px 3px 0;
	  height: 22px;
	  min-width: 0px;
	  padding-right: 5px;
	}

	.ui-select-multiple .ui-select-match-item {
	  position: relative;
	  &.btn-primary {
	  	background: $tag-indicator-hover-color;
	  }
	}
	.ui-select-multiple .ui-select-match-item.dropping-after {
	  &:after, &:before {
      content: "";
  	  position: absolute;
  	  top: 0;
  	  left: 100%;
  	  height: 100%;
  	  margin-left: 2px;
  	  border-right: $tag-input-drag-drop-indicator-border;
    }
	}

	.ui-select-bootstrap .ui-select-choices-row>a {
	    display: block;
	    clear: both;
	    line-height: 1.5;
	    color: $text-color;
	    white-space: nowrap;
      &:hover, :active {
        text-decoration: none;
      }
	}
	.ui-select-choices-row {
    padding: $tag-input-drop-down-padding-left $tag-input-drop-down-padding-top;
    &:hover{
	    border:$list-box-cell-border;
	    padding: ($tag-input-drop-down-padding-left - 1px) ($tag-input-drop-down-padding-top - 1px);
	    background-color: $tag-indicator-hover-color;
	  }
	  &:active, &.active{
	    border:$list-box-cell-border;
	    padding: ($tag-input-drop-down-padding-left - 1px) ($tag-input-drop-down-padding-top - 1px);
	    background-color: $tag-indicator-active-color;
	  }
	}
}