/* Time Picker

Users select a time from a popup time picker.

Styleguide 8.0

*/

.akam-time-picker {
  //TODO: timepicker style goes here
  & > .btn {
    min-width: 0;
    margin-left: -9px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  & > input[type='text'] {
    padding-right: 6px;
    &:focus ~ .btn {
      border-left-color: $input-border-color-focus;
    }
  }
  .dropdown-menu {
    padding: 15px;

    input[type='text'] {
      box-shadow: none;
      padding-right: $input-padding;
      width: 2em;
      @include box-sizing(content-box);

    }
  }

  tr.time-decrement-row td, tr.time-increment-row td {
    &:hover {
      background: red;
    }
  }
}
