.tooltip{
    max-width: 290px;
    min-width: 130px;
    max-height: 256px;
    min-height: 72px;
    @include box-shadow(0 2px 2px 1px rgba(0, 0, 0, 0.15));
    border-radius: 3px;
    padding: 0px;
    z-index: -1;
    background-color: transparent;
    &.in{
        z-index: 10000;
    }
    .tooltip-contents{
        overflow:hidden;
        padding: 15px 25px 15px 15px;
        background-color: #ebf6ff;
        border-color: #cccccc;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        i {
            margin-right: -19px;
            margin-top: -9px;
        }
        .tooltip-header{
            font-size: 16px;
            font-family: arial;
            font-color: #666666;   
            margin-bottom: 12px;
        }
        .tooltip-middle-content{
            font-family: arial;
            font-color: #666666;
        }
        .tooltip-link-content{
            padding-top: 20px;
        }
        .tooltip-button-content{
            padding-top:20px;
        }
    }
    .tooltiparrow{
        position: absolute;
    }
    &.left{
        margin-right: 5px;
        .tooltip-contents{
            max-width: 279px;
            min-width: 119px;
            max-height: 256px;
            min-height: 72px;
        }
        .tooltiparrow {        
            width: 0; 
            height: 0; 
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left:11px solid #cccccc; 
        }        
        > .tooltiparrow:after {    
            content: " ";
            position: absolute;
            left: -12px;
            top: -8px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left:11px solid #ebf6ff; 
        }  
    }
    &.right {
        margin-left: 5px;
        .tooltip-contents{
            max-width: 279px;
            min-width: 119px;
            max-height: 256px;
            min-height: 72px;        
        }
        .tooltiparrow {        
            width: 0; 
            height: 0; 
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right:11px solid #cccccc; 
        }   
        > .tooltiparrow:after {
            content: " ";
            position: absolute;
            left:1px;
            top: -8px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right:11px solid #ebf6ff; 
        }   
    }
    &.bottom{
        margin-top: 5px;
        .tooltip-contents{
            max-width: 290px;
            min-width: 130px;
            max-height: 245px;
            min-height: 72px;
        }
        > .tooltiparrow {   
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom:11px solid #cccccc; 
        }
        > .tooltiparrow:after {
            width: 0; 
            height: 0; 
            content: " ";
            margin-left: -8px;
            top: -14px;
            position: relative;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom:11px solid #ebf6ff; 
        }   
    }
    &.top{
        margin-bottom: 5px;
        marign-top : 0px;
        .tooltip-contents{
            max-width: 290px;
            min-width: 130px;
            max-height: 245px;
            min-height: 72px;
        }
        .tooltiparrow {        
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
                
            border-top:11px solid #cccccc; 
        } 
        > .tooltiparrow:after {
            width: 0; 
            height: 0; 
            content: " ";
            margin-left: -8px;
            top: -3px;
            position: relative;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;;
            border-top:11px solid #ebf6ff; 
        }   
    }
}
