$tooltip-arrow-border: 8px solid transparent;

.tooltip {
    transition:z-index 0.15s ease 0s, opacity 0.15s linear 0s
    max-width: $tooltip-max-width;
    min-width: $tooltip-min-width;
    max-height: $tooltip-max-height;
    min-height: $tooltip-min-height;
    @include box-shadow(0 2px 2px 1px rgba(0, 0, 0, 0.15));
    border-radius: $border-radius;
    padding: 0px;
    z-index: -1;
    background-color: transparent;
    &.in{
        z-index: $tooltip-zindex;
        opacity: 1;
    }
    .tooltip-contents{
        overflow:hidden;
        padding: 15px 25px 15px 15px;
        background-color: $tooltip-background-color;
        border-color: $border-color;
        border-width: 1px;
        border-style: solid;
        border-radius: $border-radius;
        i {
            margin-right: -19px;
            margin-top: -9px;
        }
        .tooltip-header{
            font-size: $font-size-h3;
            font-family: arial;
            font-color: $text-color;   
            margin-bottom: 12px;
        }
        .tooltip-middle-content{
            font-family: arial;
            font-color: $text-color;
        }
        .tooltip-link-content, .tooltip-button-content{
            padding-top: 20px;
        }
    }
    &.left, &.right {
        .tooltip-contents {
            max-width: 279px;
            min-width: 119px;
            max-height: $tooltip-max-height;
            min-height: $tooltip-min-height;
        }
    }
    &.top, &.bottom {
        .tooltip-contents {
            max-width: $tooltip-max-width;
            min-width: $tooltip-min-width;
            max-height: 245px;
            min-height: 72px;
        }
    }
    .tooltip-arrow {
        position: absolute;
        width: 0; 
        height: 0; 
        border:$tooltip-arrow-border;
    }
    .tooltip-arrow:after{
        content: "";
        border: $tooltip-arrow-border;
    }
    &.left{
        margin-right: 5px;
        .tooltip-arrow {        
            border-right:none;
            border-left: 11px solid $border-color; 
        }        
        > .tooltip-arrow:after {    
            top: -8px;
            position: absolute;
            left: -12px;
            border-right:none;
            border-left: 11px solid $tooltip-background-color; 
        }  
    }
    &.right {
        margin-left: 5px;
        .tooltip-arrow {        
            border-left:none;
            border-right:11px solid $border-color; 
        }   
        > .tooltip-arrow:after {
            top: -8px;
            position: absolute;
            left:1px;
            border-left:none;
            border-right:11px solid $tooltip-background-color; 
        }   
    }
    &.bottom{
        margin-top: 5px;
        > .tooltip-arrow {   
            border-top:none; 
            border-bottom:11px solid $border-color; 
        }
        > .tooltip-arrow:after {
            width: 0; 
            height: 0; 
            margin-left: -8px;
            position:relative;
            top: -13px;
            border-top:none; 
            border-bottom:11px solid $tooltip-background-color; 
        }   
    }
    &.top{
        margin-bottom: 5px;
        marign-top : 0px;
        .tooltip-arrow {        
            border-bottom:none;
            border-top:11px solid $border-color; 
        } 
        > .tooltip-arrow:after {
            width: 0; 
            height: 0; 
            margin-left: -8px;
            position:relative;
            top: -3px;
            border-bottom:none;
            border-top:11px solid $tooltip-background-color; 
        }   
    }
}
