$tooltip-arrow-border: 8px solid transparent;
.tree-view-wrapper {
    background-color:white;
    span {
        line-height: 1;
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
    }
    .tree-view-contents, .tree-view-current {
        height : 36px;
        overflow-x:hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
        i {
            vertical-align:middle;
            margin-top: -5px;
            margin-right: 4px;
        }
    }
    .tree-view-current{ 
        white-space: nowrap;
        padding-top:9px;
        padding-left: 10px;
        i {
            &.opened {
                @include luna-sprite('parent_group_folder_hover');
            }
        }
    }
    .tree-view-contents {
        padding-left: 20px;
        padding-top:11px;
        &:hover{
            background-color: #EBF6FF;
        }
    }
    .tree-view-children{
        overflow-y:scroll;
        white-space: nowrap;
        span {
            font-weight:normal;
        }
    }
    .tooltip {
        font-size: 12px;
        .tooltip-contents{
            padding: 10px 0px 10px 0px;
            background-color: white;
            i {
                margin-top:-3px;
            }
            .tree-view-contents{
                padding-top:9px; 
                padding-left:10px;
                padding-right:10px;
                &:hover{
                    background-color: #EBF6FF;
                }
            }
        }
        &.bottom{
            > .tooltip-arrow:after {
                border-bottom:10.5px solid white; 
            }   
        }
    }
}