$tooltip-arrow-border: 8px solid transparent;
.akam-tree-view {
    background-color:white;
    span {
        line-height: 34px;
    }
    .tree-view-contents, .tree-view-current {
        height : 36px;
        overflow-x:hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
        i {
            vertical-align:middle;
            margin-top: -5px;
            margin-right: 4px;
        }
    }
    .tree-view-current{ 
        white-space: nowrap;
        padding-left: 10px;
        .tree-view-current-title {
            font-weight: bold;
        }
        i {
            &.opened {
                @include luna-sprite('parent_group_folder_hover');
            }
        }
    }
    .tree-view-contents {
        padding-left: 20px;
        &:hover{
            border:$list-box-cell-border;
            background-color: $tooltip-background-color;
            padding-left: 19px;
            padding-right: 19px;
            span {
                line-height: 32px;
            }
        }
        &:active {
            background-color: #CEE7FF;
        }
    }
    .tree-view-children{

        overflow-y:auto;
        white-space: nowrap;
        span {
            font-weight:normal;
        }
    }
    .tooltip {
        font-size: 12px;
        .tooltip-contents{
            padding: 10px 0px 10px 0px;
            background-color: #f8f8f8;
            i {
                margin-top:-3px;
            }
            .tree-view-contents{
                padding-left:10px;
                padding-right:10px;
                &:hover{
                    padding-left:9px;
                    padding-right:9px;
                }
                .parent-selector-root{
                    font-weight:bold
                }
            }
        }
        &.bottom{
            > .tooltip-arrow:after {
                border-bottom:10.5px solid #f8f8f8; 
            }   
        }
    }
    .tree-view-indeterminate-wrapper{
        height: 45px;
    }
}