.table {
  > thead {
    > tr {
      > th {
        &.column-sortable {
          @extend .util-clickable;
          padding-right: 20px;

          &.column-sorted {
            @include background-image($table__th-background--hover);
          }

          & > i {
            position: absolute;
            right: floor(luna-sprite-width(arrow-up) / 2);
            top: 50%;
            @include translateY(-50.01%);
          }
        }

        &.column-sortable:hover,
        &.column-sorted {
          position: relative;
          @include background-image($table__th-background--hover);

          i {
            @extend .luna-arrow-up;
            position: absolute;
            right: 9px;
          }

          &.desc i {
            @extend .luna-arrow-down;
          }
        }
      }
    }
  }

  > tbody {

    tr.row-selected {
      background-color: $table__tr-background--selected;
    }

    > tr:hover {

      td.column-action > * {
        visibility: visible;
      }
    }
  }

  .column-checkbox {
    width: 30px;
    overflow: visible;
  }

  .column-action {
    width: 80px;
    text-align: center;
  }

}

.akam-data-table {
  background-color: $table-bg;

  .akam-pagination {
    border: 0 none !important; // :(
  }

  .dropdown {
    i + .dropdown-menu {
      margin-top: 3px;
    }

    > button {
      border: none;
      background: none;

      &.btn-default.dropdown-toggle {

        &.menu-button,
        &.menu-button:hover,
        &.menu-button:focus
        &.menu-button:active {
          border: none;
          background: none;
        }
      }
    }
  }

  .filter,
  .toolbar {
    height: 36px;
    padding: 4px;

    input {
      width: 100%;
      max-width: 298px;
      padding-right: $table__filter-padding-right;
    }

    input + i {
      vertical-align: middle;
      margin-left: $table__filter-icon-margin-left;
    }
  }

  .data {
    position: relative;
    min-height: $table__tbody-height + $table__th-height + ($base__border-width * 2);
    border-bottom: $table__border;

    &.basic-table {
      min-height: initial;
    }
  }


  // TODO: this is shown in ng-messages, but form validation unilaterally sets that style to
  // display: none. Ideally, we should be showing or hiding ng-message blocks with a ng-show
  // to allow the user to have more control over when a validation is shown. ng-messages are likely
  // to be used outside of a form context and this behavior
  .empty-table-message {
    display: block;
    position: relative;
    padding: 5px 10px 5px 36px;
    color: inherit;

    &.ng-inactive {
      display: none;
    }

    i {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -8px;
    }
  }
}