$off-white: #dadada;
$toggle-gradient-bottom: $off-white;
$dark-grey: #999;
$enabled-border: 1px solid $dark-grey;
$disabled-border: 1px solid $off-white;
$box-shadow-opacity: rgba(0, 0, 0, 0.12);
$toggle-gradient-top: #fff;

akam-switch-button {
  display: inline-block;
}

.switch-button {
  min-width: 90px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  border-radius: $border-radius;
  border: $enabled-border;

  & .switch-button-container {
    // The extra 2% accounts for weird text zoom and cross-browser issues.
    width: 152%;
    font-size: 0;
    border-radius: $border-radius;
    transition: margin-left 150ms ease-in-out;

    & > * {
      width: 33.3333%;
      padding-top: 3px;
      padding-bottom: 3px;
      display: inline-block;
      font-size: 12px;
    }

    & > span {
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
    }

    & > label {
      cursor: pointer;
      @include background-image(linear-gradient($toggle-gradient-top, $toggle-gradient-bottom));


      & > span {
        height: 12px;
        width: 1px;
        border-left: 1px solid #c3c3c3;
        border-right: 1px solid #fff;
        margin-right: 1px;
      }
    }

    & > span:first-child {
      color: #fff;
      background-color: $colors__green2b;
      box-shadow: -3px 0 2px 0 $box-shadow-opacity inset;
      padding-right: 7px;
      
      &:after {
        content: "\00a0";
      }
    }

    & > span:last-child {
      color: #fff;
      background-color: #a32d2d;
      box-shadow: 3px 0 2px 0 $box-shadow-opacity inset;
      padding-left: 7px;
      
      &:before {
        content: "\00a0";
      }
    }
  }

  &.switch-button-on {

    & .switch-button-container {
      margin-left: 0;
      border-right: $enabled-border;

      label {
        border-radius: 0 3px 3px 0;
        border-left: $enabled-border;
      }
    }

  }

  &.switch-button-off {

    & .switch-button-container {
      margin-left: -51%;

      label {
        border-radius: 3px 0 0 3px;
        border-right: $enabled-border;
      }
    }
  }

  &.medium {
    & .switch-button-container {
      & > * {
        line-height: 20px;
      }
    }
  }

  &.grayscale {
    & .switch-button-container {
      & > span:first-child {
        background-color: $colors__bluegray1;
      }

      & > span:last-child {
        color: #666;
        background-image: linear-gradient(to bottom, #c8c8c8, #f4f4f4);
      }
    }
  }

  &.disabled {
    border: $disabled-border;

    & .switch-button-container {
      border-right: $disabled-border;

      & > label {
        cursor: not-allowed;
        background: $colors__gray9;

        & > span {
          border-left: 1px solid $off-white;
          border-right: 1px solid #fff;
          margin-right: 1px;
        }
      }

      & > span:first-child,
      & > span:last-child{
        box-shadow: none;
      }

    }

    &.switch-button-on {
      & .switch-button-container {
        label {
          border-left: $disabled-border;
        }
      }
    }

    &.switch-button-off {
      & .switch-button-container {
        label {
          border-right: $disabled-border;
        }
      }
    }

    &.switch-button-on {
      
      .switch-button-container > span {
        background: #9bc69a;
        color: $colors__gray9;
      }
      
      &.grayscale .switch-button-container > span {
        background: #aeb6be;
        color: $colors__gray9;
      }
    }
    
    &.switch-button-off {
      
      .switch-button-container > span {
        background: #e79897;
        color: $colors__gray9;
      }
      
      &.grayscale .switch-button-container > span {
        background-image: linear-gradient(to bottom, #e6e6e6, #f8f8f8);
        color: $colors__gray4;
      }
    }

  }

}