.modal {
  z-index: $modal-window-zindex;
  
  &.in .modal-dialog {
    transition: none;
  }
}

.modal-content {
  border: none;
  box-shadow: none;
}

.modal-dialog {
  &.max {
    margin-top: 0;
    width: 100%;
    max-width: none;
  }
}

.modal-container {
  background-color: $dialog-background-color;
  border: 0 solid $dialog-border-color;
  outline: 0;
  overflow: hidden;
  min-height: $dialog-min-height;
  border-radius: $dialog-border-radius;
}

.modal-backdrop {
  background-color: $dialog-mask-color_luna;
  
  &.in {
    opacity: 0.85;
  }
}

.modal-header {
  position: relative;
  padding: 0;
  padding-left: $dialog-left-padding;
  padding-right: $dialog-right-padding;
  border-bottom: 1px solid $dialog-separator-color_luna;
  height: $dialog-header-height;
  border-radius: $dialog-border-radius $dialog-border-radius 0 0;
  color: $dialog-text-color;
  min-height: 0;
  background-image: $dialog-header-background-color;
  
  & > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50.01%);
    cursor: pointer;
  }

  .aci-close {
    right: $dialog-right-padding;
    font-size: 12px;
  }

  .max-min-icon {
    cursor: pointer;
    right: $dialog-right-padding * 2 + 20px;
  }

  i.disabled {
    opacity: 0.5;
  }
  
  .modal-title {
    padding-right: $svg-icon-width * 2 + $dialog-header-icon-gutter * 3;
    line-height: $dialog-header-height;
    padding-top: 1px; // Hack to address visual alignment
  }
  
  & > .akam-status-message-wrapper {
    position: absolute;
    z-index: $status-message-zindex;
    top: $dialog-header-height;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    .alert {
      width: 100%;
      padding-left: 32px + $dialog-left-padding;
      overflow: hidden;

      &:before {
          margin-left: $dialog-left-padding;
      }
    }
  }
  
  &.error + .modal-body {
    margin-top: $dialog-header-error-height;
  }
}

.modal-body {
  padding: $dialog-content-top-padding $dialog-right-padding $dialog-content-bottom-padding $dialog-left-padding;
  overflow: auto;
  min-height: floor($modal-md / $golden-ratio);
  
  .backwash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000%;
    width: 1000%;
    margin: auto;
    background: rgba(255,255,255,.85);
    display: none;
    z-index: $modal-window-backdrop-zindex;
  }

  &.processing {
    overflow: hidden;

    .backwash {
      display: block;
    }
  }
}

.modal-footer {
  border-top-color: $dialog-separator-color_luna;
  border-radius: 0 0 $dialog-border-radius $dialog-border-radius;
  margin-top: 1px; //fixes issue in Chrome where body content hovers over the border

  .btn + .btn {
    margin-left: $dialog-footer-button-gutter;
  }
}

