

$spinner-input-height: 28px;
$spinner-border-color: #cccccc;
$spinner-button-color-active: #0099cc;
$spinner-disable-color: #e6e6e6;
$spinner-button-hover-gradient-bottom: #e6e6e6;
$spinner-button-hover-gradient-top: #ffffff;
$spinner-border-color-hover: #999999;
$spinner-button-hover-gradient-bottom: #c8c8c8;
$spinner-button-hover-gradient-top: #f4f4f4;
$spinner-button-active-gradient-bottom: #f4f4f4;
$spinner-button-active-gradient-top: #c8c8c8;

.akam-spinner {
  position: relative;

  input[type=number] {
    min-width: 28px;
    @include appearance(textfield);

    /*
&:disabled {
      color: $spinner-disable-color;
      border-color: $spinner-disable-color;
      cursor: default;
    }
*/

    &::-ms-clear {
      display: none;
    }
    
    /*
&:focus + .btn-group-vertical .btn {
      &,
      &:hover {
        border-left-color: $input-border-color-focus;
      }
    }
*/
  }

  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  .btn-group-vertical.number-input {
    text-align: left;
    height: $spinner-input-height;
    width: 32px;

    .btn {
      min-width: 20px;
      height: $spinner-input-height/2;
      width: auto;
      display: block;
      @include border-left-radius(0);
      border-color: $spinner-border-color;

      &[disabled] {
        opacity: 1;
        @include background-image(none);
        border-color: $spinner-disable-color;
      }

      & + .btn {
        margin-top: 0;
      }

      &:first-child {
        border-top-right-radius: $border-radius;
        
        &:hover:not([disabled]) {
          & + .btn {
            border-top-color: $spinner-border-color-hover;
          }
        }
        &:active:not([disabled]) {
          & + .btn {
            border-top-color: $spinner-button-color-active;
          }
        }
      }

      i {
        display: block;
      }

      &:hover:not([disabled]) {
        border-color: $spinner-border-color-hover;
        @include background-image(linear-gradient($spinner-button-hover-gradient-top, $spinner-button-hover-gradient-bottom));
      }

      &:active:not([disabled]) {
        border-color: $spinner-button-color-active;
        @include background-image(linear-gradient($spinner-button-active-gradient-top, $spinner-button-active-gradient-bottom));
      }
    }
  }
}
