$popover-arrow-border: 8px solid transparent;
$popover-border: 1px solid $border-color;
$popover-close-icon-gutter: 8px;
$popover-arrow-adjustment: -8px;
$popover-contents-padding-top: 15px;
$popover-contents-padding-bottom: 15px;
$popover-contents-padding-left: 15px;
$popover-contents-padding-right: 15px;
$popover-border-width: 10.5px;
$popover-contents-padding: $popover-contents-padding-top $popover-contents-padding-right $popover-contents-padding-bottom $popover-contents-padding-left;

.popover {
  max-width: $popover-max-width;
  min-width: $popover-min-width;
  @include box-shadow($global-box-shadow);
  border-radius: $border-radius;
  border: 0;
  padding: 0px;
  z-index: -1;
  position:absolute;
  display:block;
  visibility: hidden;
  &.in{
    z-index: $popover-zindex;
    opacity: 1;
    visibility: visible;
    padding: $popover-contents-padding;
    background-color: $popover-background-color;
    border: $popover-border;
    border-radius: $border-radius;
  }
  .popover-title {
    margin-bottom: 7px;
    background-color: transparent;
    border-bottom: 0;
    border-radius: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    text-align: left;
  }
  .popover-content{
    padding: 0;
    text-align: left;
  }

  &.top {
    .arrow {
      bottom: -11px;
      border-top-color: $border-color;
    }
    .arrow:after {
      bottom: 1px;
      border-bottom:none;
      border-top-color: $popover-background-color;
    }
  }
  &.bottom{
    .arrow {
      top: -11px;
      border-bottom-color: $border-color;
    }
    .arrow:after {
      top: 1px;
      border-top:none;
      border-bottom-color: $popover-background-color;
    }
  }
  &.right {
    .arrow {
      left: -11px;
      border-right-color: $border-color;
    }
    .arrow:after {
      left: 1px;
      border-left:none;
      border-right-color: $popover-background-color;
    }
  }
  &.left {
    .arrow {
      right: -11px;
      border-left-color: $border-color;
    }
    .arrow:after {
      right: 1px;
      border-right:none;
      border-left-color: $popover-background-color;
    }
  }
}
