<!DOCTYPE html>
<html lang="en">
<style>
  .common-css.luna .container,
  .common-css.luna .container h1,
  .common-css.luna .container h2 {
    padding-bottom: 15px;
  }
  .common-css.luna .container p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
</style>
<head>
  <meta charset="UTF-8">
  <title>Akamai Component Examples - Table</title>
  <link rel="stylesheet" href="../../dist/akamai-core.css">
</head>
<body class="common-css luna" ng-app="akamai.components.examples.table" ng-strict-di ng-controller="ExampleController as vm">

<div class="container">
  <h1>Table Component Examples</h1>
</div>

<div class="container">
  <h2>Full Example</h2>
  <h3>Custom Toolbar, Pre-selected rows, row selection callback, custom markup in row</h3>
  <p>
    In this example, we define a custom toolbar in the <code>akam-table-toolbar</code>
    element. We also define 3 columns. The first one is an example of using custom markup in the table
    cell. Note that the <code>row-property</code> is used for sorting and filtering so we will
    never match on any of the custom markup. The 2nd column doesn't define any custom markup so it can
    simply define its <code>row-property</code> and that's all.  In all cases, the <code>header-name</code>
    field is a key into the i18n object and it is automatically translated for us. Also, any standard
    HTML attributes (such as class names) are automatically copied over for us as well.
    Finally, the last column shows how one might wire up an action button. It isn't sortable nor filterable,
    as defined by the presence of the <code>not-sortable</code> and <code>not-filterable</code> attributes.
    Note that your click handler no longer needs <code> $parent.$parent.$parent.item</code> as the argument.
    We expose a special property, named <code>row</code> inside the <code>akama-table-row</code> tag for your
    use. Also notice that the API is completely declarative so there is no need for a schema object anymore.
  </p>

  <akam-table items="vm.rows" akam-standalone
              on-change="vm.rowsChanged(items)"
              on-select="vm.myRowSelectionCallback(selectedItems)"
              selected-items="vm.selectedItems">

    <akam-table-toolbar class="toolbar-class util-pull-right">
      <span>Graphs of stuff</span> {{ vm.testText }}
      <i class="luna-bar_chart"></i>
      <akam-menu-button icon-only="true">
        <akam-menu-button-item text="PDF" icon-only ng-click="vm.pdfClicked()">
        </akam-menu-button-item>
      </akam-menu-button>
    </akam-table-toolbar>

    <akam-table-row>
      <akam-table-column class="bar baz-me" row-property="id" header-name="examples.id">
        <span>CUSTOM MARKUP {{ ::vm.testText }} </span>{{ ::row.id }}
      </akam-table-column>
      <akam-table-column row-property="email" header-name="examples.email"></akam-table-column>
      <akam-table-column not-filterable not-sortable class="column-action" header-name="examples.actions">
          <akam-menu-button is-disabled="vm.isDisabled" icon-only="true">
            <akam-menu-button-item text="PDF" ng-click="vm.pdfClicked(row)"></akam-menu-button-item>
          </akam-menu-button>
      </akam-table-column>
    </akam-table-row>
  </akam-table>
 <div class="form-group">
    <input id="disableSplitButton" type="checkbox" name="disableSplitButton" ng-model="vm.isDisabled" />
    <label class="label" for="disableSplitButton">Disable Table Menu Button</label>
  </div>
  <p>
    SELECTED ROWS {{ vm.selectedItems }}
  </p>

</div>

<div class="container">
  <h2>Empty row data</h2>
  <label>Change the no data message</label><input ng-model="vm.noData" placeholder="No data message"/>
  <akam-table items="vm.emptyRows" no-items-message="vm.noData" akam-standalone>
    <akam-table-row>
      <akam-table-column row-property="id" header-name="examples.id"></akam-table-column>
    </akam-table-row>
  </akam-table>
</div>

<div class="container">
  <h2>Rejected row data</h2>

  <akam-table items="vm.rejectedPromise" item-failure-message="Item failed message" akam-standalone>
    <akam-table-row>
      <akam-table-column row-property="id" header-name="examples.id"></akam-table-column>
    </akam-table-row>
  </akam-table>
</div>
<div class="container">
  <h2>Disabling row selection and default sort of Last Name</h2>
  <akam-table items="vm.arrayData" akam-standalone>
    <akam-table-row>
      <akam-table-column row-property="id" header-name="examples.id"></akam-table-column>
      <akam-table-column row-property="firstName" header-name="examples.name"></akam-table-column>
      <akam-table-column row-property="lastName" default-sort header-name="examples.lastname"></akam-table-column>
      <akam-table-column row-property="boolean" header-name="examples.boolean"></akam-table-column>
      <akam-table-column row-property="ipAddress" akam-text-overflow="row.ipAddress" header-name="examples.ipaddress"></akam-table-column>
      <akam-table-column row-property="country" header-name="examples.country"></akam-table-column>
    </akam-table-row>
  </akam-table>
</div>
<div class="container">
  <h2>Basic Table (no filtering, no sorting, no pagination)</h2>
  <button ng-click='vm.addRow()'>Add a row</button>
  <akam-table items="vm.arrayData" not-filterable not-pageable not-sortable akam-standalone>
    <akam-table-row>
      <akam-table-column row-property="id" header-name="examples.id"></akam-table-column>
      <akam-table-column row-property="firstName" header-name="examples.name"></akam-table-column>
      <akam-table-column row-property="lastName" header-name="examples.lastname"></akam-table-column>
      <akam-table-column row-property="boolean" header-name="examples.boolean"></akam-table-column>
      <akam-table-column row-property="ipAddress" akam-text-overflow="row.ipAddress" header-name="examples.ipaddress"></akam-table-column>
    </akam-table-row>
  </akam-table>
</div>

<div class="container">
  <h2>Failure Table no akam-table-row defined</h2>
  <akam-table items="vm.arrayData" not-filterable not-sortable akam-standalone>
  </akam-table>
</div>

<div class="container">
  <h2>Failure Table no akam-table-columns defined</h2>
  <akam-table items="vm.arrayData" not-filterable not-sortable akam-standalone>
    <akam-table-row>
    </akam-table-row>
  </akam-table>
</div>
<script src="../../dist/akamai-core.js"></script>
<script src="index.js"></script>

</body>
</html>