<div class="akam-date-range akam-date-picker day" ng-class="{opened:dr.opened}">
  <span class="rangeStart" ng-class="{selected: dr.rangeStart.dateSelected}">
    <input
      id="{{::dr.rangeStart.id}}"
      type="text"
      datepicker-popup="{{dr.format}}"
      ng-model="dr.rangeStart.value"
      is-open="dr.opened"
      min-date="{{::dr.rangeStart.minDate}}"
      max-date="{{::dr.rangeStart.maxDate}}"
      datepicker-options="{{::dr.options}}"
      placeholder="{{dr.rangeStart.placeholder}}"
      ng-click="dr.toggle($event)"
      ng-disabled="dr.isDisabled"
      readonly="readonly"
      show-button-bar="false">
      <i class="luna-close clear-date util-clickable"
        ng-show="dr.rangeStart.dateSelected && !dr.isDisabled"
        ng-click="dr.clearStartDate($event)">
      </i>
    <button class="button"
      ng-click="dr.toggle($event)"
      ng-disabled="dr.isDisabled">
      <i class="luna-calendar icon-states"
        ng-disabled="dr.isDisabled">
      </i>
    </button>
    <span>{{dr.rangeStart.value}}</span>
  </span>
</div>
