<div class="dropdown-menu">
    <div class="fixed-header" ng-show="ac.hasFilter">
        <input ng-click="ac.filterClick = true" ng-show="ac.hasFilter" type="text" ng-model="dropdownFilter" placeholder="{{ac.filterPlaceholder}}" />
        <i ng-show="ac.dropdownFilter" class="luna-small_close_light_gray util-clickable clear-filter"
           ng-click="ac.dropdownFilter = undefined"></i>
    </div>
    <ul class="dropdown-menu">
        <li ng-repeat="item in ac.items | filter:dropdownFilter">
            <a ng-click="ac.setSelectedItem(item)" class="dropdown-item-link">
                <span ng-if="ac.textProperty" title="{{ ac.textPropertyFn(item) }}"
                      ng-bind-html="ac.textPropertyFn(item) | highlight:dropdownFilter"></span>
                <span ng-if="!ac.textProperty" title="{{item}}"
                      ng-bind-html="item | highlight:dropdownFilter"></span>
            </a>
        </li>
    </ul>
</div>
