
.navigation {
  position: relative;

  .tab > a {
    font-weight: normal;
  }

  .nav-pills {
    border-bottom: 1px solid $colors__gray6;
    padding: 0 10px;

    .tab {
      position: relative;
      float: none;
      display: inline-block;

      & > a {
        color: $colors__gray2;
        border-radius: 0;
        top: 2px;
        background-color: white;
        padding: 0 15px 4px;
        cursor: pointer;

        &:hover {
          background-color: white;
        }
      }

      &.active > a {
        color: $colors__blue1;
        border-bottom: 4px solid $colors__blue1;
        cursor: default;
      }
    }
  }
}
