
.navigation {
  position: relative;

  .tab > a {
    font-weight: normal;
  }

  .nav-pills {
    border-bottom: 1px solid $colors__gray6;
    margin: 0 3px 20px;

    & + .tab-content {
      padding: 0 0.1em;
    }

    .tab {
      position: relative;
      float: none;
      display: inline-block;
      margin: 0 10px;

      & > a {
        color: $colors__gray2;
        border-radius: 0;
        // this is to move the highlighting line above the nav's border bottom
        top: 2px;
        background-color: white;
        padding: 0 5px 4px;
        cursor: pointer;

        &:hover {
          background-color: white;
        }
      }

      &.active > a {
        color: $colors__blue1;
        border-bottom: 4px solid $colors__blue1;
        cursor: default;
      }

      &.disabled > a {
        cursor: default;
        color: $colors__gray7;
      }
    }
  }

  & .nav-stacked.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-right:0;
    height: 100%;
    margin-right: -1px;

    & > li {
      margin-bottom: 0;
      margin-left: 0;
      width: 90px;

      & > a {
        border-radius: 3px 0 0 3px;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0 5px;
        @include ellipsis();
      }

      &.active {

        &::after {
          content: " ";
          position: absolute;
          z-index: 1;
          height: calc(100% - 5px);
          right: 0;
          top: 1px;
          width:1px;
          background-color: white;

        }

        & > a {
          border-right-color: white;
          border-bottom-color: #ccc;

        }
      }
    }

    & + .tab-content {
      display: inline-block;
      position: absolute;
      width: calc(100% - 90px);
      border-top-width: 1px;
    }

  }
}
