$wizard-nav-step-color: #ccc;
$wizard-nav-step-color-active: #0099cc;
$wizard-nav-step-size: 28px;
$wizard-nav-font-size: 14px;

.modal {

  .wizard-steps {
    width: 574px;
    background-color: #f3f3f3;

    ul, li {
      padding:0;
      margin:0;
      list-style:none;
    }
    ul {
      text-align: center;
      margin: 10px 0;
      position:relative;
    }
    li {
      display: inline-block;
      margin: 0 39px;
      text-align: center;
      color: $wizard-nav-step-color;

      div {
        width: $wizard-nav-step-size;
        height: $wizard-nav-step-size;
        border-radius: 50%;
        border: 1px solid $wizard-nav-step-color;

        line-height: $wizard-nav-step-size;
        cursor: pointer;
        margin: 0 auto;
        font-size: 14px;
      }

      span {
        font-size: 12px;
      }
    }
    li.active {
      div {
        background-color: $wizard-nav-step-color-active;
        border-color: $wizard-nav-step-color-active;
        color: white;
        font-weight: bold;
      }
      span {
        color: $wizard-nav-step-color-active;
        font-weight: bold;

      }
    }

    li:after {
      content: " ";
      height: 1px;
      background-color: $wizard-nav-step-color;
      position: absolute;
      width: 86px;
      top: 15px;
      margin-left: -4px;
    }
    li:last-child:after {
      display:none;
    }
  }
}
