$list-box-cell-border: $base__border-style $base__border-width $colors__gray8;

.akam-tree-view {
    background-color:white;
    span {
        line-height: 34px;
    }
    .tree-view-contents, .tree-view-current {
        height : 36px;
        overflow-x:hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
        i {
            vertical-align:middle;
            margin-right: 4px;
        }
    }
    .tree-view-current{
        white-space: nowrap;
        padding-left: 10px;
        .tree-view-current-title {
            font-weight: bold;
        }
        i {
            &.opened {
                color: #0099CC;
            }
        }
    }
    .tree-view-contents {
        padding-left: 20px;
        &:hover{
            border-top: $list-box-cell-border;
            border-bottom: $list-box-cell-border;
            background-color: $popover-background-color;
            padding-left: 20px;
            padding-right: 20px;
            span {
                line-height: 32px;
            }
        }
        &:active {
            border-top: $list-box-cell-border;
            border-bottom: $list-box-cell-border;
            background-color: #CEE7FF;
        }
    }
    .tree-view-children{

        overflow-y:auto;
        white-space: nowrap;
        span {
            font-weight:normal;
        }
    }
    .popover {
        font-size: 12px;
        z-index: -1;
        display:block;
        visibility: hidden;
        padding: 0;

        &.in{
            z-index: $popover-zindex;
            opacity: 1;
            visibility: visible;
        }
        .popover-contents{
            padding: 10px 0px 10px 0px;
            background-color: #f8f8f8;
            i {
                margin-top:-3px;
            }
            .tree-view-contents{
                padding-left:10px;
                padding-right:10px;
                &:hover{
                    padding-left:9px;
                    padding-right:9px;
                }
                .parent-selector-root{
                    font-weight:normal;
                }
            }
        }
        &.bottom{
            margin-top: 5px;
            > .arrow:after {
                content: ' ';
                border-bottom: 10px solid #f8f8f8;
            }
        }
    }
    .tree-view-indeterminate-wrapper{
        height: 45px;
    }
}