.dropdown.akam-dropdown.akam-autocomplete {

  & > .dropdown-toggle {
    & > .dropdown-selected-wrapper {

      & > span.selected-option {
        width: 100%;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      & > input.autocomplete-search {
        width: 100%;
      }

      & > i.clear-dropdown {
        right: 10px;
      }

    }
  }
}