$autocomplete-input-width: 180px;
$autocomplete-disabled-color: #e6e6e6;
$autocomplete-dropdown-hover-background-color: #ebf6ff;
$autocomplete-height: 28px;
$clear-icon-width: 13px;
$clear-icon-gap-width: 7px;
.akam-autocomplete {
  min-width: 160px;
  max-width: 600px;
  width: 100%;
  & > span.input-option {
    position: relative;
    display: table-cell;
    float: left;
    input[type=text] {
      min-width: $autocomplete-input-width;
      padding-right: $clear-icon-width + $clear-icon-gap-width * 2;
      &:disabled {
        @include placeholder-enhanced($autocomplete-disabled-color, italic);
        color: $autocomplete-disabled-color;
        cursor: default;
      }
    }
  }
  & > span.search-tip {
    font: italic $input-text-size $text-font-family;
    color: $input-placeholder-text-color;
    margin: 7px 0 0 10px;
    display: inline-block;
    height: $autocomplete-height;
    &.disabled {
      color: $autocomplete-disabled-color;
    }
  }
  & > div.input-toggle {
    display: inline-block;
    height: $autocomplete-height;
    & > span {
      display: inline-block;
      border: 1px solid $border-color;
      height: 100%;
      //vertical-align: middle;
      //@include ellipsis();
    }
    & > span.selected-option {
      position: relative;
      line-height: $autocomplete-height;
      padding: 0 27px 0 10px;
      width: $autocomplete-input-width;
      background-color: $input-background-color;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &.disabled {
        background-color: $input-background-color-disabled;
        border-color: $input-border-color-disabled;
        box-shadow: none;
        color: $autocomplete-disabled-color;
        cursor: default;
      }
    }
  }
  & ul.dropdown-menu {
    width: $autocomplete-input-width;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-y: scroll;
    a {
      background-color: inherit;
      -webkit-transform: translate3d(0, 0, 0);
      cursor: pointer;
      &:hover {
        background-color: $autocomplete-dropdown-hover-background-color;
      }
      &:active {
        background-color: $dropdown-link-active-bg;
      }
    }
  }
  .clear-selected {
    right: $clear-icon-gap-width;
    top: 25%;
    position: absolute;
    cursor: pointer;
    @include opacity(.5);
    &:hover {
      @include opacity(1);
    }
  }
}
