$autocomplete-input-disabled-color: #cccccc;
$autocomplete-disabled-border-color: #eeeeee;
$autocomplete-input-width: 160px;
$autocomplete-selected-background-color: #f4f4f4;
$autocomplete-disabled-background-color: #ffffff;
$autocomplete-searchtip-color: #e6e6e6;
$autocomplete-dropdown-hover-background-color: #ebf6ff;
$autocomplete-height: 28px;
.akam-autocomplete {
  & > span.input-option {
    position: relative;
    display: table-cell;
    float: left;
    input[type=text] {
      min-width: $autocomplete-input-width;
      padding-right: 23px; //image + 5px each side
      &:disabled {
        @include placeholder-enhanced($autocomplete-searchtip-color, italic);
        color: $autocomplete-searchtip-color;
        cursor: default;
      }
    }
  }
  & > span.search-tip {
    font: italic $input-text-size $text-font-family;
    color: $input-placeholder-text-color;
    margin: 6px 0 0 10px;
    display: inline-block;
    height: $autocomplete-height;
    vertical-align: middle;
    &.disabled {
      color: $autocomplete-searchtip-color;
    }
  }
  & > div.input-toggle {
    display: inline-block;
    height: $autocomplete-height;
    & > span {
      display: inline-block;
      border: 1px solid $border-color;
      height: 100%;
      vertical-align: middle;
    }
    & > span.selected-option {
      position: relative;
      line-height: $autocomplete-height;
      padding: 0 22px 0 10px;
      width: $autocomplete-input-width;
      background-color: $autocomplete-selected-background-color;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &.disabled {
        background-color: $autocomplete-disabled-background-color;
        border-color: $autocomplete-disabled-border-color;
        box-shadow: none;
        color: $autocomplete-searchtip-color;
        cursor: default;
      }
    }
  }
  .dropdown-menu > li > a {
    cursor: pointer;
    &:hover {
      background-color: $autocomplete-dropdown-hover-background-color;
    }
    &:active {
      background-color: #CEE7FF;
    }
  }
  .clear-query {
    right: 8px;
  }
  .clear-selected {
    right: 5px;
  }
  .clear-query,
  .clear-selected {
    top: 25%;
    position: absolute;
    cursor: pointer;
    @include opacity(.5);
    &:hover {
      @include opacity(1);
    }
  }
}
