<div class="akam-tag-input">
  <ui-select multiple tagging tagging-label="{{::tagInput.taggingLabel}}" tagging-tokens=",|ENTER" on-select="onSelect($item, $model)"
     ng-model="tagInput.data.items" theme="bootstrap" close-on-select="true" sortable="{{::tagInput.dragDropable}}">
    <ui-select-match placeholder="{{tagInput.placeholder}}">
      <span class="tag-input-selected-items">{{$item}}</span>
      <i class="tag-input-remove util-clickable" ng-click="$selectMultiple.removeChoice($index)"></i>
    </ui-select-match>
    <ui-select-choices repeat="item in tagInput.availableItems | filter:$select.search">{{item}}</ui-select-choices>
  </ui-select>
</div>