$tag-input-button-gradient: linear-gradient(to bottom, #fff, #e6e6e6);
$tag-input-disabled-button-gradient: linear-gradient(to bottom, #fff, #ededed);
$tag-input-button-gradient-hover: linear-gradient(to bottom, #f4f4f4, #c8c8c8);
$tag-input-button-gradient-active: linear-gradient(to bottom, #c8c8c8, #f4f4f4);
$tag-input-invalid-border-color: #9F1A00;
$tag-input-invalid-border-width: 2px;

.akam-tag-input {
  position: relative;

  div.tag-input-wrapper {
    border: solid 1px $input-border-color;
    background: #fdfdfd;
    border-radius: 3px;
    cursor: text;
    height: auto;

    ul.tag-input-list {
      padding: 1px 3px;

      margin: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;

      & > li {
        display: inline-block;

        &.tag {
          order: 0;
          margin-right: 5px;
          padding: 2px 0 2px 5px;
          border-radius: 3px;
          position: relative;
          cursor: pointer;
          font-size: 11px;
          color: #666;
          border: 1px solid #ccc;
          background: $tag-input-button-gradient;

          .close {
            display: block;
            margin-left: 3px;
            opacity: 1;
            @include svg('tab-close', 16px, 16px);
            background-position: center center;
            background-repeat: no-repeat;

            &:hover {
              @include svg('tab-close_hover',16px, 16px);
            }
          }

          &:hover {
            border-color: $colors__gray3;
            background: $tag-input-button-gradient-hover;
          }

          &:active {
            border-color: $colors__gray3;
            background: $tag-input-button-gradient-active;
          }

          &.invalid {
            border-color: $tag-input-invalid-border-color;
          }
        }

        &.tag-input-container {
          -ms-flex: 1 0 auto;
          flex: 1 0 auto;
          -ms-flex-order: 1;
          order: 1;

          .tag-input {
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            padding: 0;
            width: 100%;
            height: 24px;

            @include placeholder-enhanced($input-placeholder-text-color, italic, $opacity:0);
          }

          &:first-child {
            padding-left: 10px;
            .tag-input {
              @include placeholder-enhanced($input-placeholder-text-color, italic, $opacity:1);
            }
          }
        }
      }

      &.canDelete li.tag.lastTag {
        background: #cac8c4;
      }

      &.draggable > li.tag {
        cursor : grab;
        cursor : -webkit-grab;
      }

      &.stacked > li.tag:first-child {
        margin-top: 2px;
      }
      &.stacked > li.tag {
        width: 100%;
        margin-right: 0;
        // coincides with menu-tag-items top and bottom padding
        margin-bottom: 2px;
      }

      &.disabled {
        & > li.tag {
          padding-right: 10px;
          cursor: not-allowed;
          color: $colors__gray4;
          background: $tag-input-disabled-button-gradient;

          &:hover,
          &:active {
            border-color: $colors__gray6;
            background: $tag-input-disabled-button-gradient;
          }

          .close {
            display: none;
          }
        }
      }
    }



    &.focused {
      border-color: #0099cc;
      border-width: 1px;
    }
  }

  & > ul.dropdown-menu {
    display: block;
    min-width: 100%;
    cursor: pointer;
    border-top: none;
    margin-top: 0;
  }
}

& > ul.dropdown-menu.tagInputAppendedMenu {
  margin-top: 0;
  border-top: none;
}

akam-tag-input.ng-invalid.ng-dirty.ng-touched .akam-tag-input {
  div.tag-input-wrapper {
    border-width: $tag-input-invalid-border-width;
    border-color: $tag-input-invalid-border-color;
  }
}